//공통
$main-color : #2db400;
$sub-color : #3ae800;
$gray-color: #bbbbbb;
$darkgray-color: #999999;
$main-txt: #000;
$red-txt : #f51a1a;
$blue-txt : #4664e6;
$main-bg-txt : #fff;

::selection{background-color: $main-color;color: #fff;}

@mixin mainfont{
    font-family: "Pretendard-Regular";
    font-weight: normal;
}
@mixin fontT{
    font-family:"Pretendard-Thin";
}
@mixin fontL{
    font-family:"Pretendard-Light";
}
@mixin fontM{
    font-family:"Pretendard-Medium";
}
@mixin fontSB{
    font-family:"Pretendard-SemiBold";
}
@mixin fontB{
    font-family:"Pretendard-Bold";
}
@mixin fontEB{
    font-family:"Pretendard-ExtraBold";
}
@mixin fontPoint{
    font-family:"Poppins-Bold";
}
@mixin txthide {
    text-indent: -5000000000000000px;
    overflow: hidden;
    font-size: 0px;
    text-align: left;
}
@mixin txtellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
@mixin txtellipsisMulti($h:2.4rem, $lh:1.2rem, $l:2) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $l;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    line-height: $lh;
    height: $h;
}
@mixin clear() {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
@mixin centerAlign($mw:152rem){
    width: calc(100% - 4rem);
    max-width: $mw;
    margin: 0 auto;
}
@mixin centerPosition($t:50%,$l:50%,$tx:-50%,$ty:-50%){
    position: absolute;
    top: $t;
    left: $l;
    transform: translateX($tx) translateY($ty);
}
@mixin centerPositionMob(){
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0,0);
}
@mixin stickyPosition($t:calc(50% - 40vh + 11rem),$h:80vh){
    position: sticky;
    top: $t;
    height: $h;
}
@mixin fullvh(){
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
@mixin flex($j:space-between,$a:center){
    display: flex;
    justify-content: $j;
    align-items: $a;
}
@mixin gird($gtc: repeat(auto-fill, minmax(30rem, 1fr)),$cg:6.5rem,$rg:4.5rem){
    display: grid;
    grid-template-columns:$gtc;
    column-gap: $cg;
    row-gap: $rg;
}
@mixin bgimg($s:100%,$p:center) {
    background-position: $p;
    background-repeat: no-repeat;
    background-size: $s;
}
@mixin bgLogo($w:12rem, $h:4.8rem,$bgimg:url('../images/logo.svg')) {
    display: inline-block;
    width: $w;
    height: $h;
    background-image: $bgimg;
    @include bgimg();
    @include txthide();
}

@mixin virtualIcon($d:inline-block,$w:1rem, $h:1rem) {
    content: '';
    display: $d;
    width: $w;
    height: $h;
    vertical-align: middle;
    @include bgimg();
    @content;
}
@mixin customSelect($p:0.5rem 3rem 0.4rem 1rem,$bgurl:url('../images/arr-btm.svg'),$bc:$gray-color){
    padding: $p;
    background-image: $bgurl;
    background-size: auto 2rem;
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    border-bottom: 2px solid $bc;
    cursor: pointer;
}
@mixin customSlide($ts:0.3s){
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all $ts;    
}
@mixin customSlideOn(){
    visibility: inherit;
    max-height: 1000px;
}
@mixin customScroll($w:5px,$h:5px,$barcolor:$gray-color,$bgrcolor:transparent){
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: $w;
        height: $h;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $barcolor;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bgrcolor;
        border-radius: 5px;
    }
}
@mixin gradient{    
  background:  linear-gradient(89deg, #4664e6 -3%, #8e84ff 105%);
}
@mixin crossMark($w:2.8rem, $h:2.8rem,$vw:2px,$vh:2.8rem,$bc:$main-txt) {
    position: relative;
    display: inline-block;
    width: $w;
    height: $h;
    vertical-align: middle;
    @include txthide();
    &::before, &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 3px;
      left: 48%;
      height: $vh;
      width: $vw;
      background-color: $bc;
    }
    &::after {
      transform: rotate(90deg);
    }   

}
@mixin xBtn() {
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }   
}
@keyframes ani-float {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(-0%);
    }
}
@keyframes ani-fadein {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
body,input,select,textarea,button,a{
    color: $main-txt;
    @include mainfont();
}
body{
    touch-action: pan-x pan-y;
    overscroll-behavior-y: none;
}
input,textarea{
    @include fontSB();
    &::placeholder{
        color: $darkgray-color;
        @include mainfont();
        font-size: 1.5rem;
    }
}
textarea{
    resize: none;
    width: 100%;
    min-height: 8.7rem;
    padding: 1rem 0;
    border: none;
    font-size: 1.6rem;
    @include customScroll();
    &:focus{
        outline: none;
    }
}
img{
    display: inline-block;
    max-width: 100%;
}
.red {
    color: #f00 !important;
}
.txt_main {
    color: $sub-color;
}
.txt_red {
    color: $red-txt;
}
.txt_blue {
    color: $blue-txt;
}
.hide{
    display: none !important;
}
.btn{
    @include flex($j:center);
    color: $main-txt;
    transition: all 0.3s;
    @include fontL();
    cursor: pointer;
    &:hover{
        box-shadow: none; 
        background-color: $main-color;
        color: $main-bg-txt;
    }
    &.btn-w{
        color: $main-bg-txt;
        box-shadow: 0 0 0 1px  $main-bg-txt inset; 
        &:hover{
            color: $main-bg-txt !important;
            box-shadow:none !important;
            background-color: $main-color !important;
        }
    }
    &.btn-green{
        width: 40rem;
        height: 9rem;
        border-radius: 1rem;
        background-color: $main-color;
        color: $main-bg-txt;
        font-size: 2.8rem;
        @include fontM();
    }
}
.pc_br{
    display: block;
}
.mob_br{
    display: none;
}
.scrollTxtBox{
    max-height: 20rem;
    padding: 1rem;
    margin:  0 0 3rem;
    border:1px solid #ccc;
    line-height: 1.25;
    @include customScroll();
}
.container{ 
    position: relative;
    @include fullvh();
    overflow: hidden;
    .pageWrap{
        width: 100%;
        @include fullvh();
        transition-duration: 1.2s;
            .page{                
                position: relative;
                width: 100%;
                @include fullvh();
                overflow: hidden;
                .scrollBox{
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;               
                    @include customScroll($w:0px);
                }
                .center{
                    @include centerAlign();
                }
        }    
    }
}


@media only screen and (max-width: 1400px) {
    html,body{
        font-size: 0.7vw;
    }
}
@media only screen and (max-width: 768px) {
    html,body{
        //font-size: 2.7778vw;
        font-size: 1.8vw;
    }
    .pc_br{
        display: none;
    }
    .mob_br{
        display: block;
    }
}
@media only screen and (max-width: 430px) {
    html,body{
        font-size: 2.7778vw;
        //font-size: 4.267vw;
        //480기준 10px 1rem font-size: 2.08333vw;
        //360기준
        //font-size: 2.5vw;
    }
}