//공통
// $main-color : #cb873a;
// $sub-color : #cb873a;
// $main-txt: #fff;
$main-color : #ffc600;
$sub-color : #ffc600;
$main-txt: #292929;
$main-txt2: #292929;
$red-txt : #e91c4d;
$gray-color: #a8a8a8;
$bg-color : #f8f8f8;
$border-color :#e5e5e5;
$border-color2 :#dae1e6;
$border-color3 :#edf0f2;
$main-font: "NotoSansR";

@mixin gradient {
    background: -webkit-linear-gradient(110deg,
            #fdba1e 47%,
            #d89700 100%);
    background: -moz-linear-gradient(110deg,
            #fdba1e 47%,
            #d89700 100%);
    background: -o-linear-gradient(110deg,
            #fdba1e 47%,
            #d89700 100%);
    background: linear-gradient(110deg,
            #fdba1e 47%,
            #d89700 100%);
}

@mixin txthide {
    text-indent: -5000000000000000px;
    overflow: hidden;
    font-size: 0px;
    text-align: left;
}

@mixin txtellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

@mixin txtellipsisMulti($h:2.4rem, $lh:1.2rem, $l:2) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $l;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    line-height: $lh;
    height: $h;
}

@mixin tablecell {
    display: table;
    table-layout: fixed;
    width: 100%;

    >* {
        display: table-cell !important;
    }
}

@mixin bgimg {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin virtualIcon($w:1rem, $h:1rem) {
    content: '';
    display: inline-block;
    width: $w;
    height: $h;
    vertical-align: middle;
    @include bgimg();
    @content;
}

@mixin clear() {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin areaUnderLine() {
    border-bottom: 9px solid #f8f8f8;
}

@mixin areaTopLine() {
    border-top: 9px solid #f8f8f8;
}

@keyframes rotationLoading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

body {
    position: relative;
    height: 100%;
    color: #292929;
    font-size: 16px;
    font-family: "NotoSansR", sans-serif;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #6d6d6d;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #bebebe;
        border-radius: 5px;
    }

    .content {
        position: relative;

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

button {
    background: none;
    border: none;
    font-family: $main-font;
    cursor: pointer;

    &:focus {
        // outline: double;
    }
}

input,
textarea {
    &::placeholder {
        color: $gray-color;
    }
}

input:not([type="checkbox"]),
textarea {
    padding: 0.813rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-family: "NotoSansR", sans-serif;
}

input[type="date"] {
    position: relative;
    font-family: $main-font;

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1;
        cursor: pointer;
    }

}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    font-family: "NotoSansR", sans-serif;
    cursor: pointer;

    &::before {
        @include virtualIcon($w:1.438rem, $h:1.438rem) {
            margin: -3px 0.938rem 0 0;
            background-color: #fff;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    }
}

input[type="checkbox"]:checked+label {
    &::before {
        background-color: $sub-color;
        background-image: url("../image/icon_checkbox.svg");
        background-size: 55%;
        border: 1px solid $sub-color;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.813rem 2rem 0.813rem 0.813rem;
    background-image: url('../image/icon_select.svg');
    background-size: 0.625rem 0.4rem;
    background-position: right 10px center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-family: "NotoSansR", sans-serif;
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }
}

.input-box {
    position: relative;
    display: inline-block;

    &.warning {
        &::after {
            display: block;
            content: '비밀번호를 입력해주세요.';
            width: 100%;
            height: 20px;
            font-size: 1rem;
            color: #bf4c4c;
        }
    }
}

.center {
    position: relative;
    width: 78.75rem;
    margin: 0 auto;
    clear: both;
}

.pc-br {
    display: block;
}

.pc-only {
    display: inline-block;
}

.mob-only {
    display: none;
}

.red {
    color: #f00 !important;
}

.txt-red {
    color: $red-txt;
}

.txt-blue {
    color: #3da0f8;
}

.btn {
    display: inline-block;
    padding: 0.813rem 1.875rem;
    border-radius: 10px;
    font-size: 0.875rem;
    text-align: center;
    border: 1px solid transparent;
    line-height: 1;

    &.btn-r {
        @include virtualIcon($w:1.25rem, $h:1.25rem) {
            margin: -3px 0.5rem 0 0;
            background-image: url(../image/reset_ico.svg);
        }
    }

    &.btn-d {
        @include virtualIcon($w:1.25rem, $h:1.25rem) {
            margin: -3px 0.5rem 0 0;
            background-image: url(../image/download_b_l_ico.svg);
            background-size: 100% auto;
        }
    }

    &.btn-b {
        background-color: #212121;
        color: #fff;

        &.btn-d {
            &::before {
                background-image: url(../image/download_w_ico.svg);
            }
        }
    }

    &.btn-main {
        background-color: $main-color;
        color: $main-txt;
    }

    &.btn-line {
        border: 1px solid $main-color;
        color: $main-color;
    }

    &.btn-line-b {
        border: 1px solid $main-txt;
        color: $main-txt;
        background-color: #fff;
    }

    &.btn-line-g {
        border: 1px solid $border-color;
        color: $gray-color;
        background-color: #fff;
    }

    &.btn-sub {
        background-color: $sub-color;
        color: $main-txt;
    }

    &.btn-gra {
        @include gradient();
        color: $main-txt;
    }

    &.btn-w {
        border: 1px solid #212121;
    }

    &.btn-s {
        border-radius: 0;
    }

    &.disabled {
        border: solid 1px #e5e5e5 !important;
        background: #f8f8f8 !important;
        color: #b5b5b5 !important;
    }

    &.disabled02 {
        border: solid 1px #999 !important;
        background: #999 !important;
        color: #fff !important;
    }
}

.pw-view {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.938rem;
    height: 0.938rem;
    background-image: url(../image/icon_join_show_off.svg);
    @include txthide();
    @include bgimg();

    &.on {
        background-image: url(../image/icon_join_show_on.svg);

    }
}

.box {
    border: 1px solid #e5e5e5;

    &.box-g {
        background-color: #f8f8f8;
    }
}

.tab-wrap {
    width: 100%;

    .tab-list {
        display: table;
        table-layout: fixed;
        width: 100%;

        li {
            display: table-cell;
            text-align: center;
            cursor: pointer;

            button,
            a {
                display: block;
                width: 100%;
                cursor: pointer;

                &:focus {
                    //outline: double !important;
                }

            }
        }
    }

    .tab-box {
        display: none;

        &.on {
            display: block;
        }
    }

    &.type01 {
        .tab-list {
            li {

                button,
                a {
                    display: inline-block;
                    width: 100%;
                    padding: 1.275rem 0 1.375rem;
                    background-color: $bg-color;
                    border-top: 3px solid $bg-color;
                    border-bottom: 1px solid $border-color;
                    border-left: none;
                    font-size: 1.125rem;
                }

                &.on button,
                &.on a {
                    color: $main-color;
                    border-top: 3px solid $main-color;
                    border-left: 1px solid $border-color;
                    border-right: 1px solid $border-color;
                    border-bottom: transparent;
                    background-color: #fff;
                    font-weight: 700;
                }
            }
        }
    }

    &.type02 {
        .tab-list {
            li {

                button,
                a {
                    padding: 1.25rem 0 1.125rem;
                    border-top: 1px solid $border-color;
                    border-left: 1px solid $border-color;
                    border-bottom: 2px solid $main-color;
                    color: $gray-color;
                    font-size: 0.938rem;
                }

                &.on {

                    button,
                    a {
                        background-color: $main-color;
                        color: $main-txt;
                        border-top: $main-color;
                        border-left: 1px solid $main-color;
                    }
                }

                &:last-child {

                    button,
                    a {
                        border-right: 1px solid $border-color;
                    }

                    &.on {

                        button,
                        a {
                            border-right: 1px solid $main-color;
                        }
                    }
                }
            }

        }
    }
}
.top-btn-wrap,.top-btn{
    display: none;
}
.top-btn-wrap-new{
    width: 95%;
    max-width: 78.75rem;;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: right;
}
.top-btn-new {
    display: inline-block;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-image: url(../image/btn_up_off.svg);
    background-size: 100%;
    @include txthide();
    transition: all 0.3s;

    &:hover {
        background-image: url(../image/btn_up_on.svg);
    }
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sb-mob-close {
        display: none;
    }

    input {
        width: 100%;
        padding: 0;
        border: none;
        background-color: transparent;

        &::placeholder {
            font-size: 1.125rem;
        }
    }

    .search {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        @include txthide();
        background-image: url(../image/icon_search.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.table-area-scroll {
    padding-top: 0.313rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $border-color2;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: $border-color;
        border-radius: 5px;
    }

    table {
        width: 100%;
        min-width: 319px;
        table-layout: fixed;

        th,
        td {
            border: 1px solid $border-color;
            vertical-align: middle;
            line-height: 1.5;
        }

        th {
            padding: 0.313rem 0.313rem;
            background-color: $bg-color;
            font-size: 0.938rem;
            text-align: center;
            font-weight: 400;
        }

        td {
            padding: 0.44rem 0.313rem;
            font-size: 0.875rem;
        }
    }
}

.condition-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-color3;
    padding: 1.25rem;
    margin-bottom: 1.875rem;
    font-size: 0.938rem;

    span {
        b {
            color: $main-color;
            font-weight: 400;
        }
    }

    ul {
        li {
            display: inline-block;

            &::before {
                @include virtualIcon($w:1px, $h:0.625rem) {
                    margin: -1px 1.25rem 0 1.1rem;
                    background-color: $gray-color;
                    vertical-align: middle;
                }
            }

            &:nth-child(1) {
                &::before {
                    display: none;
                }
            }

            button {
                color: $gray-color;
                font-size: 0.938rem;

                &.on {
                    color: $main-color;
                }
            }
        }
    }
    
    &.type02{
        .cond-now{
            display: none;       
        }
    }
}

.condition-search-wrap {
    padding: 1.25rem 1.875rem;
    background-color: $bg-color;
    border-radius: 10px;

    .title {
        float: left;
        margin-top: 0.875rem;
        margin-right: 1.25rem;
        color: $gray-color;
        font-size: 0.875rem;
        font-weight: 700;
    }

    .input {
        float: left;

        select {
            width: 9.375rem;
            padding: 0.625rem 2rem 0.625rem 1.25rem;
            margin-right: 0.625rem;
            border: 1px solid $border-color;
            background-image: url('../image/icon_faq_more_open.svg');
            background-size: 0.75rem 0.75rem;
            background-position: right 1.25rem center;
            font-size: 0.875rem;
        }

        input[type="checkbox"]+label {
            margin-right: 0.825rem;
            font-size: 0.875rem;

            &::before {
                border: 1px solid $border-color;
            }
        }

        input[type="text"] {
            width: 15.625rem;
            padding: 0.625rem 1.25rem 0.625rem 1.25rem;
            font-size: 0.875rem;
            border: 1px solid $border-color;

            &::placeholder {
                text-align: center;
            }
        }
    }

    .cs-btn-area {
        float: left;

        button {
            margin-right: 0.5rem;
            padding: 0.625rem 1.5rem;
            background-color: #fff;
            border: 1px solid $border-color;
            border-radius: 10px;
            font-size: 0.875rem;

            &.on {
                background-color: $main-color;
                border: 1px solid $main-color;
                color: $main-txt2;
            }
        }
    }

    .cs-cal-area {
        float: left;
        padding: 0.625rem 1.5rem;
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 10px;

        .calendarBox {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .calendar {
            position: relative;
            display: inline-block;
            flex: 1;
            max-width: 5.5rem;
            height: 100%;
            margin-left: 2rem;
            cursor: pointer;

            &::before {
                @include virtualIcon($w:1.25rem, $h:1.25rem) {
                    position: absolute;
                    top: 0px;
                    left: -1.25rem;
                    background-image: url(../image/main/icon_calendar.svg) !important;
                    background-size: 100% auto;
                }
            }

            input {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 0;
                font-size: 0.875rem;
                border: none;
                font-weight: 400;
                text-align: center;
                background-color: transparent;
                cursor: pointer;
            }

        }

        .wave {
            display: inline-block;

            &+.calendar {
                margin: 0 0.5rem 0 0;

                &::before {
                    display: none;
                }
            }
        }
    }

    .search {
        width: 9.375rem;
        border-radius: 10px;
        padding: 0.625rem 0;
        background-color: #292929;
        color: #fff;
        font-size: 1rem;
    }

    &.type02 {
        padding: 1.25rem 1.875rem 0.625rem;
        @include clear();

        .row {
            float: left;

            .cs-btn-area {
                margin-bottom: 0.625rem;
                margin-right: 1.1rem;
            }

            .cs-cal-area {
                margin: 0 1.7rem 0.625rem 0;
            }
        }

        .search {
            float: left;
        }
    }

    &.type03 {
        display: grid;
        grid-template-areas: "first btn""second btn";
        grid-gap: 0.625rem;
        margin-bottom: 1.25rem;

        .row {
            &:nth-of-type(1) {
                grid-area: first;
            }

            &:nth-of-type(2) {
                grid-area: second;
            }

            .title {
                width: 3.75rem;
                text-align: right;

                &:nth-of-type(2) {
                    display: none;
                }
            }

            .cs-cal-area {
                width: 19rem;
            }
        }

        .search {
            grid-area: btn;
        }

        .mob-title {
            display: none;
        }
    }
}

.sb-mob-open {
    display: none;
}

.paging-wrap {
    padding: 0 0 1rem;
    text-align: center;

    button {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        vertical-align: middle;
        background-color: transparent;
        font-size: 0.813rem;

        &.on {
            color: $main-txt;
            background-color: $main-color;
        }

        &.paging-move {
            width: auto;

            &.paging-previous {
                &::before {
                    @include virtualIcon($w:0.5rem, $h:0.638rem) {
                        background-image: url(../image/main/icon_paging_left.png);
                        margin: -1px 4px 0 0;
                    }
                }

                &::after {
                    @include virtualIcon($w:1px, $h:0.875rem) {
                        background-color: #eaeaea;
                        margin: 0 0.5rem 0 0.75rem;
                    }
                }
            }

            &.paging-next {
                &::before {
                    @include virtualIcon($w:1px, $h:0.875rem) {
                        background-color: #eaeaea;
                        margin: 0 0.75rem 0 0.5rem;
                    }
                }

                &::after {
                    @include virtualIcon($w:0.5rem, $h:0.638rem) {
                        background-image: url(../image/main/icon_paging_right.png);
                        margin: -1px 0 0 4px;
                    }
                }
            }
        }
    }
}

.policy {
    .check-wrap {
        padding-bottom: 1.25rem;

        label {
            font-size: 1.125rem;
            font-weight: 700;

            span.red {
                font-size: 1rem;
                font-weight: 400;
                color: $red-txt;
            }
        }

        &.type01 {
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 3.125rem;
            margin-bottom: 3.125rem;

            label {
                position: relative;
                display: block;
                padding-left: 2.5rem;
                color: #333;
                line-height: 1.5;
                font-size: 0.875rem;
                font-weight: 400;

                strong {
                    display: inline-block;
                    margin: 0 0 0.5rem;
                    font-size: 1.25rem;
                    font-weight: 700;
                }

                &::before {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    margin: 0;
                }

            }
        }
    }

    .box.box-g {
        width: 100%;
        height: 12.5rem;
        padding: 1.875rem;
        margin-bottom: 3.125rem;
        color: #333;
        line-height: 1.5;
        font-size: 0.875rem;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: scroll;
    }
}

//j
.login-sns {
    position: relative;
    display: block;
    width: 100%;
    max-width: 312px;
    height: 45px;
    padding: 0 0 0 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #bdbdbd;
    color: #fff;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    &:active {
        top: 2px;
        box-shadow: none;
    }

    &::after {
        @include virtualIcon($w:30px, $h:30px) {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translate(0, -50%);
            background-position: left top;
            background-size: 100% auto;
        }
    }

    &.login-btn-naver {
        background-color: #03c75a;

        &::after {
            left: 15px;
            width: 15px;
            height: 15px;
            background-image: url(../image/login-naver.svg);

        }
    }

    &.login-btn-kakao {
        border-radius: 12px;
        background-color: #fee500;
        color: rgba(0, 0, 0, 0.85);

        &::after {
            left: 13px;
            width: 18px;
            height: 18px;
            background-image: url(../image/login-kakao.svg);

        }
    }

    &.login-btn-fackbook {
        background-color: #1877f2;

        &::after {
            background-image: url(../image/login-facebook.svg);

        }
    }

    &.login-btn-google {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.54);

        span {
            display: inline-block;
            width: 50px;
            height: 50%;
            margin: -5px 0 0;
            background-image: url(../image/login-google.png);
            background-position: left -61px center;
            background-repeat: no-repeat;
            @include txthide();
            vertical-align: middle;
        }

        &::after {
            left: 9px;
            width: 20px;
            height: 21px;
            background-image: url(../image/login-google.svg);

        }
    }
}

.login-sns-img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 312px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #bdbdbd;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'NotoSansR';
    color: #000;

    &:active {
        top: 2px;
        box-shadow: none;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 15px;
    }

    &.login-btn-naver {
        background-color: #03c75a;
        color: rgba(0, 0, 0, 0.54);
        background-image: url(../image/login-naver.png);
    }

    //j
    &.login-btn-kakao {
        border-radius: 12px;
        background-color: #fee500;

        //background-image: url(../image/login-kakao.svg);
        &::before {
            background: url('../image/kakao_ico.svg') no-repeat;
            width: 18px;
            height: 18px;
        }
    }

    &.login-btn-fackbook {
        background-color: #1877f2;
        color: #fff;

        //background-image: url(../image/login-facebook.svg);
        &::before {
            background: url('../image/facebook_ico.svg') no-repeat;
            width: 30px;
            height: 30px;
        }
    }

    &.login-btn-google {
        background-color: #fff;

        //background-image: url(../image/login-google.svg);
        &::before {
            background: url('../image/google_ico.svg') no-repeat;
            width: 20px;
            height: 20px;
        }
    }
}

.link-sns {
    ul {
        li {
            position: relative;
            font-size: 0.875rem;
            overflow: hidden;

            &::before {
                @include virtualIcon($w:2.5rem, $h:2.5rem) {
                    margin-right: 0.938rem;
                    background-size: 100% auto;
                }
            }

            &.naver::before {
                background-image: url(../image/img_logo_naver.png);
            }

            &.kakao::before {
                background-image: url(../image/img_logo_kakao.png);
            }

            &.facebook::before {
                background-image: url(../image/img_logo_facebook.png);
            }

            &.google::before {
                background-image: url(../image/img_logo_google.png);
            }

            .btn.btn-line {
                float: right;
                padding: 0.625rem 3rem;
                border: 1px solid $border-color;
                border-radius: 1.25rem;
                color: $gray-color;

                &.on {
                    background-color: $main-color;
                    border: 1px solid $main-color;
                    color: $main-txt;
                    font-weight: 700;
                }
            }
        }
    }
}

.mail-btn {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    @include txthide();

    &.mail-btn-naver {
        background-image: url(../image/mail-naver.png);
    }

    &.mail-btn-google {
        background-image: url(../image/mail-google.png);
    }

    &.mail-btn-outlook {
        background-image: url(../image/mail-outlook.png);
    }

    &.mail-btn-daum {
        background-image: url(../image/mail-daum.png);
    }

    &.mail-btn-nate {
        background-image: url(../image/mail-nate.png);
    }

}

.login-wrap {
    position: relative;
    box-sizing: border-box;

    h1 {
        a {
            display: block;
            width: 6.938rem;
            height: 1.188rem;
            margin: 0 0 1.875rem;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    >p {
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 1.5;
    }

    .input-box {
        position: relative;
        display: block;

        input[type="text"],
        input[type="password"] {
            width: 100%;
            height: 100%;
            padding: 1.125rem 1rem;
            border: 1px solid $border-color2;
        }

        &.required {
            color: #e04848;

            &::after {
                @include virtualIcon($w:100%, $h:auto) {
                    content: "ID 또는 비밀번호를 잘못 입력하였습니다. 확인 바랍니다.";
                    font-size: 0.688rem;
                    color: #e04848;
                    z-index: 10;
                }

                ;
            }
        }

        &.id-Box {
            margin-top: 1.875rem;
        }

        &.pass-Box {
            margin-top: 0.625rem;
        }
    }

    .save {
        float: left;
        margin: 0.875rem 0 1.563rem;

        input[type="checkbox"]+label {
            font-size: 0.813rem;

            &::before {
                width: 1.25rem;
                height: 1.25rem;
                margin: -3px 0.625rem 0 0;
                border-radius: 5px;
                border: 1px solid $border-color2;
            }
        }

        input[type="checkbox"]:checked+label {
            &::before {
                border: none;
                background-color: transparent;
                background-image: url("../image/check_on_round.svg");
                background-size: 100%;
            }
        }
    }

    .join {
        float: right;
        margin: 1rem 0 1.563rem 0;

        a {
            display: block;
            float: left;
            font-size: 0.813rem;
            color: #666;

            &::after {
                @include virtualIcon($w:0.938rem, $h:0.875rem) {
                    margin-top: -2px;
                    margin-right: 0.15rem;
                    background-image: url(../image/icon_more.svg);
                }

                ;
            }
        }

        &+.find {
            float: left;
        }
    }

    .find {
        float: right;
        margin: 1rem 0 1.563rem 0;
        overflow: hidden;

        a {
            display: block;
            float: left;
            font-size: 0.813rem;
            color: #666;

            &:nth-child(2) {
                padding-left: 0.625rem;

                &::before {
                    @include virtualIcon($w:1px, $h:0.625rem) {
                        background-color: #666;
                        margin-top: -2px;
                        margin-right: 0.625rem;
                    }

                    ;
                }
            }
        }
    }

    .btns {
        clear: both;

        .btn {
            display: block;
            width: 100%;
            padding: 1.25rem 0;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
}

.user-form {
    padding: 1.25rem 0;

    table {
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
        text-align: left;
        overflow: hidden;

        tr {
            th {
                max-width: 8.625rem;
                font-weight: 400;
                font-size: 1.25rem;
                color: #292929;

                i {
                    color: #bf4c4c;
                }
            }

            td {
                padding: 1rem 0;
                font-size: 1.25rem;

                .input-box {
                    display: block;

                    input {
                        position: relative;
                        display: block;
                        width: 100%;
                        font-size: 1rem;
                        padding: 0.625rem 0.938rem;
                        margin: -1rem 0 0rem;
                        border-radius: 0;

                        &:read-only {
                            padding: 0.625rem 0rem;

                            &::placeholder {
                                color: #292929;
                                font-size: 1.25rem;
                            }
                        }
                    }

                    &.required {
                        text-align: left;

                        input {
                            border: 1px solid $red-txt;
                        }

                        &::after {
                            @include virtualIcon($w:100%, $h:auto) {
                                content: "영문 대 소문자, 숫자, 특수문자 포함 8자 이상 입력";
                                font-size: 0.725rem;
                                color: $red-txt;
                                z-index: 10;
                            }

                            ;
                        }
                    }
                }
            }

            &:nth-child(1) {
                td {
                    padding: 1rem 0 1.75rem;

                    input {
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
    }
}

.info-form {
    width: calc(100% - 5rem);
    margin: 0 auto;
    padding: 1.875rem 0;

    table {
        width: 100%;

        th {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.875rem;
            color: $gray-color;
            text-align: left;
            font-weight: 400;
        }

        td {
            padding: 0.625rem 0 1.875rem;
            font-size: 1.25rem;

            .btn {
                width: 9.375rem;
                padding: 0.625rem 0rem;
                margin-right: 1.125rem;
                border-radius: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            input:not([type="checkbox"]),
            textarea {
                position: relative;
                display: block;
                width: 100%;
                max-width: 100%;
                font-size: 0.875rem;
                padding: 0.625rem 2.75rem 0.625rem 0.938rem;
                margin: 0rem 0 0rem;
                border-radius: 10px;

                &+ {
                    .btn {
                        margin-left: 1.25rem;
                    }
                }
            }

            textarea {
                min-height: 14.375rem;
                vertical-align: top;
                resize: vertical;
            }

            .input-box {
                display: flex;

                &.required {
                    text-align: left;

                    &::after {
                        @include virtualIcon($w:73%, $h:auto) {
                            position: absolute;
                            top: 50%;
                            left: calc(100% + 0.938rem);
                            transform: translateY(-50%);
                            content: "영문 대 소문자, 숫자, 특수문자 포함 8자 이상 입력";
                            font-size: 0.75rem;
                            color: $red-txt;
                            z-index: 10;
                        }

                        ;
                    }
                }
            }

            .password-box {
                margin-bottom: 0.625rem;

                .input-box {
                    display: inline-block;
                    width: 57%;
                    max-width: 31.25rem;
                }

                &.type02 {
                    .input-box.required::after {
                        content: "※ 영문, 숫자, 특수문자를 포함하여 8자 이상 입력.";
                        color: $gray-color;
                    }
                }

                &.type03 {
                    .input-box.required::after {
                        content: "비밀번호가 일치하지 않습니다.";
                    }
                }
            }
        }

        .modify-box {

            .password-box,
            .btn-line-b {
                display: none;
            }

            &.on {
                .password-box {
                    display: block;
                }

                .btn-line-b {
                    display: inline-block;
                }
            }

            &.box {
                padding: 1.25rem;

                input {
                    background-color: #f2f4f6;
                    border: none;
                }
            }

            &.disable {
                opacity: 0.7;

                .btn {
                    cursor: default;
                }

                .btn.btn-b {
                    background-color: $gray-color;
                    border: 1px solid $gray-color;
                }

                .btn.btn-line-b {
                    border: 1px solid $gray-color;
                    color: $gray-color;
                }
            }
        }
    }
}

.checkbox-toggle {
    &.type01 {
        .toggle-btn {
            position: relative;
            display: inline-block;
            width: 4.375rem;
            height: 1.625rem;
            margin: 0 0 0 0.313rem;
            border-radius: 1rem;
            background-color: #bbb;
            vertical-align: middle;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
                content: "";
                display: block;
                width: 1.25rem;
                height: 1.25rem;
                margin-left: 2px;
                border-radius: 50%;
                background-image: none;
                background-color: #fff;
                transition: all 0.3s;
            }

            &::after {
                position: absolute;
                top: 50%;
                left: 45%;
                transform: translateY(-50%);
                content: 'OFF';
                display: block;
                color: #fff;
                font-size: 0.75rem;
            }

            &.on {
                background-color: $main-color;

                &::before {
                    margin-left: calc(100% - 1.25rem - 0.313rem);
                }

                &::after {
                    left: 20%;
                    content: 'ON';
                }
            }
        }
    }

}

/* datetimepicker */
.daterangepicker {
    td {
        &:hover {
            color: #212121;
            background-color: #efefef;
        }

        &.in-range {
            color: #212121;
            background-color: #fbf5d1;
        }

        &.active,
        &.end-date,
        &.active:hover,
        &.end-date:hover {
            color: #fff;
            background-color: $main-color;
        }
    }
}

.loading-block {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 100%;
    z-index: 10100;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $main-color;
        font-size: 1.125rem;
        font-weight: 400;

        b {
            display: block;
            margin: 0 0 1rem;
            font-weight: 700;
        }

        &::before {
            content: '';
            display: block;
            width: 4.75rem;
            height: 4.75rem;
            margin: 0 auto 1.125rem;
            background-image: url(../image/progress-circle.svg);
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
            animation: rotationLoading 1.2s infinite steps(9);
            z-index: 10101;
        }
    }

    &.fixed {
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
}

.common-info {
    .content {
        position: relative;
        min-height: calc(100vh - 5rem);

        >.center {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: 1.5;
        }
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 700;

        &::before {
            @include virtualIcon($w:8.125rem, $h:8.125rem) {
                display: block;
                margin: 0px auto 2.188rem;
                background-size: 100% auto;
            }
        }

        &.type01 {
            color: #fc1010;

            &::before {
                background-image: url(../image/icon_notice_red.svg);
            }
        }

        &.type02 {
            color: #fcb510;

            &::before {
                background-image: url(../image/icon_notice_yellow.svg);
            }
        }

        &.type03 {
            color: #0e7ae5;

            &::before {
                background-image: url(../image/icon_notice_blue.svg);
            }
        }
    }

    .main-txt {
        margin: 0.938rem 0;
        font-size: 3.125rem;
    }

    p {
        font-size: 1.125rem;
    }

    .btn {
        width: 12.5rem;
        padding: 1.125rem 0;
        margin: 1.75rem 0 0 0.938rem;
        border-radius: 10px;
        font-size: 1.125rem;

        &:first-child {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .center {
        width: 95%;
    }

    .condition-search-wrap {
        &.type02 {
            .row {
                float: none;

                .title {
                    float: none;
                    display: block;
                    width: 100%;
                    margin-bottom: 0.625rem;
                }
            }

            .search {
                float: none;
            }
        }

        &.type03 {
            grid-template-areas: "first first ""second btn";
            align-items: center;

            .row {
                .title {
                    float: none;
                    display: block;
                    width: 100%;
                    margin-bottom: 0.625rem;
                    text-align: left;
                }

                .input {
                    float: none;
                }

                .cs-btn-area {
                    float: none;
                    margin-bottom: 0.625rem;
                }

                .cs-cal-area {
                    float: none;
                }

                select {
                    margin-bottom: 0.625rem;
                }
            }

            .search {
                height: 6rem;
                margin-top: -3rem;
            }

        }

    }
}

@media only screen and (max-width: 768px) {
    .mob-br {
        display: block !important;
        margin: 0 !important;
    }

    .mob-only {
        display: inline-block !important;
        margin: 0 !important;
    }

    .pc-br,
    .pc-only {
        display: none !important;
    }

    .btn-fixed-area {
        position: fixed;
        bottom: 0rem;
        left: 0;
        display: flex;
        width: 100%;
        z-index: 6001;
        &.on{
            z-index: 5999;
        }
        >button,
        >a {
            flex: 1;
            max-width: 100%;
            height: 100%;
            padding: 1.5rem 0rem !important;
            margin: 0 !important;
            border-radius: 0 !important;
            font-size: 1.063rem !important;
        }
    }

    .tab-wrap {
        &.type01 {
            .tab-list {
                border-bottom: 1px solid $border-color;

                li {
                    text-align: center;

                    button,
                    a {
                        width: auto;
                        padding: 0.938rem 0 0.75rem;
                        background-color: #fff;
                        border: none;
                        border-bottom: 3px solid transparent;
                        font-size: 0.875rem;
                    }

                    &.on {

                        button,
                        a {
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: 3px solid $main-color;
                        }
                    }
                }
            }
        }

        &.type02 {
            .tab-list-warp {
                width: 100%;
                overflow: hidden;
                overflow-x: auto;
            }

            .tab-list {
                border-bottom: 1px solid $border-color;
                table-layout: auto;

                li {
                    padding: 0 1.25rem;

                    &:nth-child(1) {

                        button,
                        a {
                            border-left: none;
                        }
                    }

                    &:last-child {

                        button,
                        a {
                            border-right: none;
                        }
                    }

                    button,
                    a {
                        max-width: auto;
                        width: auto;
                        padding: 0.938rem 0 0.75rem;
                        border: none;
                        border-bottom: 3px solid transparent;
                        color: $main-txt;
                        word-break: keep-all;
                        white-space: nowrap;
                    }

                    &.on {

                        button,
                        a {
                            border: none;
                            border-bottom: 3px solid $main-color;
                            background-color: #fff;
                            font-weight: 400;
                        }
                    }

                }
            }
        }
    }

    .condition-wrap {
        padding: 1.5rem 0.938rem 0.938rem;
        margin-bottom: 0.313rem;
        border: none;

        ul {
            li {
                &::before {
                    margin: -1px 0.625rem 0;
                }

                button,
                a {
                    font-size: 0.75rem;
                }
            }
        }
        &.type02{
            position: relative;
            font-size: 0.875rem;
            .cond-now{
                display: block;
                font-size: 0.75rem; 
                cursor: pointer;               
                &::after{
                    @include virtualIcon($w:0.875rem,$h:0.875rem){
                        margin: -2px 0 0 5px;
                        background-image: url(../image/icon_more_g.svg);
                    }
                }
            }
            ul{
                display: none;
            }
            &.on{
                ul{
                    display: block;
                    position: absolute;
                    top: 90%;
                    right: 0.875rem;
                    width: 5.5rem;
                    background-color: #fff;
                    border: 1px solid $border-color;
                    border-radius: 10px;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
                    overflow: hidden;
                    z-index: 5;
                    li{
                        display: block;
                        border-bottom: 1px solid $border-color;
                        &:last-child{
                            border-bottom: none;
                        }
                        &::before{
                            display: none;
                        }
                        button{
                            padding: 0.5rem 0 0.5rem 0.938rem;
                            font-size: 0.688rem;
                            color: #292929;
                        }
                    }
                }
            } 
        }
    }

    .condition-search-wrap {
        &.type01 {
            padding: 1.875rem 1rem;

            .title {
                display: block;
                margin: 0rem 0 1rem;
                color: #292929;
                font-size: 1.125rem;
                font-weight: 700;
            }

            .cs-btn-area {
                display: flex;
                justify-content: space-between;
                padding: 0.625rem 1.5rem;
                background-color: #fff;
                border-radius: 10px;

                button {
                    flex: 1;
                    padding: 0;
                    margin: 0;
                    border: none;
                    border-left: 1px solid $border-color;
                    border-radius: 0px;
                    color: $gray-color;
                    font-size: 0.875rem;

                    &.on {
                        background-color: #fff;
                        border: none;
                        color: $main-color;
                    }
                }
            }

            .cs-cal-area {
                clear: both;
                display: block;
                width: 100%;
                height: auto;
                padding: 0;
                margin: 0.625rem 0;
                background-color: transparent;
                border: none;

                .calendarBox {
                    .calendar {
                        max-width: 100%;
                        margin: 0;
                        background-color: #fff;
                        border-radius: 10px;

                        input {
                            font-size: 0.875rem;
                        }

                        &::before {
                            top: 0.75rem;
                            left: 1rem;
                        }
                    }

                    .wave {
                        margin: 0 1rem;
                    }

                }

                .calendar {
                    margin: 0 0.5rem 0 0.25rem;

                    &::before {
                        top: 0.7rem;
                        left: 0.4rem;
                    }

                    input {
                        display: inline-block;
                        width: 100%;
                        padding: 0.625rem 0;
                        margin-left: 0.5rem;
                        font-size: 0.75rem;
                        border: none;
                        text-align: center;
                        font-weight: 400;
                    }
                }

                .wave {
                    &+.calendar {
                        &::before {
                            display: inline-block;
                        }
                    }
                }

                button {
                    display: inline-block;
                    float: none;
                    width: 4.75rem;
                    padding: 0.55rem 0rem;
                    margin-left: 0;
                    border: 1px solid #292929;
                    background-color: #292929;
                    text-align: center;
                    box-sizing: border-box;
                    color: #fff;
                }
            }

            .search {
                width: 100%;
            }

        }

        &.type02 {

            .row {
                width: 100%;

                .input {
                    float: none;
                    width: 100%;
                }

                .cs-btn-area {
                    float: none;
                    display: flex;
                    justify-content: space-between;
                    gap: 0.625rem;
                    margin-right: 0;

                    button {
                        flex: 1;
                        margin: 0;
                        padding: 0.625rem 0;
                        font-size: 0.938rem;
                    }
                }

                .cs-cal-area {
                    float: none;
                    margin: 0.625rem 0 0;

                    .calendarBox {
                        justify-content: center;
                    }

                    .calendar {
                        &::before {
                            top: 2px;
                            left: -1.5rem;
                        }

                        input {
                            font-size: 0.938rem;
                        }
                    }
                }
            }

            .search {
                width: 100%;
                margin-top: 0.625rem;
            }
        }
    }

    .sb-mob-open {
        display: block;
        position: fixed;
        top: 4.9rem;
        bottom: auto;
        right: 0.313rem;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        margin-right: 0.75rem;
        border-bottom: none;
        background-color: #fff;
        @include txthide();
        background-image: url(../image/icon_search_b.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 5000;

    }

    .paging-wrap {
        padding: 2.5rem 0;
        // text-align: center;
        // button{
        //     width: 1.75rem !important;
        //     height: 1.75rem;
        //     vertical-align: middle;
        //     background-color:$bg-color !important;
        //     font-size: 0.813rem;
        //     border-radius: 0;
        //     &.on{
        //         color: $main-color;
        //     }
        //     &.paging-move {
        //         @include txthide();
        //         background-image: url(../image/main/icon_more_g.png);
        //         background-repeat: no-repeat;
        //         background-position: center;
        //         &.paging-previous{
        //             transform: rotate(180deg);
        //         }
        //     }
        // }
    }

    .user-form {
        margin-top: 7.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border: none;

        table {
            tr {
                th {
                    display: none;
                }

                td {
                    padding: 0 0 1.75rem;

                    &::before {
                        content: attr(data-th);
                        display: block;
                        font-weight: 700;
                        font-size: 0.813rem;
                        margin: 0 0 0.625rem;
                    }

                    .input-box {
                        input {
                            padding: 0.625rem 0.938rem;
                            margin: 0;
                            font-size: 0.875rem;
                            color: #212121;

                            &::placeholder {
                                font-size: 0.813rem;
                            }
                        }

                    }
                }
            }
        }

        ul {
            width: 100%;

            li {
                font-size: 1rem;
                padding: 0 0 1.875rem;

                >span {
                    float: none;

                    &:nth-of-type(1) {
                        display: block;
                        width: 100%;
                        font-weight: 700;
                        margin: 0 0 0.625rem;
                    }

                    &:nth-of-type(2) {
                        span {
                            input {
                                margin: 0;
                                font-size: 0.875rem;
                                color: #212121;
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    >span {
                        &:nth-of-type(2) {
                            span {
                                input {
                                    border: 1px solid $border-color2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .info-form {
        width: 100%;
        padding: 1.5rem 0;
        margin: 0;

        table {
            th {
                padding-left: 5%;
                padding-right: 5%;
                color: #292929;
            }

            td {
                padding-left: 5%;
                padding-right: 5%;

                input {
                    width: 100%;
                    padding: 0.813rem 2.5rem 0.813rem 0.625rem;
                    border-radius: 5px;

                    &+.btn {
                        margin-left: 0.625rem;
                        background-color: #fff;
                        border: 1px solid #292929;
                        color: #292929;
                    }

                    &:disabled {
                        color: $gray-color;
                    }
                }

                .btn {
                    width: 7rem;
                    border-radius: 5px;
                    font-size: 0.75rem;
                }

                .input-box {
                    &.required {
                        &::after {
                            position: initial;
                            width: 100%;
                            margin-top: 0.5rem;
                            transform: translateY(0px);
                        }
                    }
                }

                .password-box {
                    .input-box {
                        width: 100%;
                        max-width: 100%;
                        ;

                        .pw-view {
                            top: 1.5rem;
                            right: 1rem;
                        }
                    }
                }

                .modify-box {
                    .password-box {
                        &.type02 {
                            .input-box::after {
                                color: $red-txt;
                            }
                        }
                    }

                    .btn-area {
                        display: flex;

                        .btn {
                            flex: 1;
                            padding: 0.875rem 0;
                            margin-right: 0.625rem;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }

                    &.box {
                        padding: 0.625rem 0 0.875rem;
                        border-bottom: 1px solid $border-color3;
                    }
                }
            }
        }
    }

    .checkbox-toggle {
        &.type01 {
            .toggle-btn {
                height: 2rem;

                &::before {
                    width: 1.65rem;
                    height: 1.65rem;
                    margin-left: 1.5px;
                }

                &::after {
                    top: 55%;
                    left: 53%;
                    font-weight: 400;
                }

                &.on {
                    &::before {
                        margin-left: calc(100% - 1.65rem - 0.313rem);
                    }

                    &::after {
                        left: 25%;
                    }
                }
            }
        }
    }

    .common-info {
        .content {
            >.center {
                position: initial;
                top: auto;
                left: auto;
                transform: none;
                width: 90%;
            }
        }

        h2 {
            padding-top: 7.188rem;
            font-size: 1.25rem;

            &::before {
                width: 6.438rem;
                height: 6.438rem;
                margin-bottom: 1.625rem;
            }
        }

        .main-txt {
            font-size: 1.875rem;
        }

        .btn-fixed-area {
            height: auto;
            bottom: 0;
        }
    }
    .top-btn{
        width: 3.625rem;
        height: 3.625rem;
    }
}

@media only screen and (max-width: 480px) {

    html,
    body {
        min-width: 280px;
        font-size: 4.267vw;
    }

    input[type="text"],
    select {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        border-radius: 6px;
        font-size: 0.938rem;
    }

    .btn {
        padding: 0.625rem 0;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 280px) {

    html,
    body {
        font-size: 12px !important;
    }

}
html,body{
    &.uni-chrome{
        .user-main section:nth-of-type(1) > div:nth-of-type(1) .mc-item01 .user-point > div.up-detail > a strong, .user-main section:nth-of-type(1) > div:nth-of-type(1) .mc-item01 .user-point > div.up-all > a strong{
          color: #00f !important;
        }
    }
    &.uni-safari{
        width:100%; height:100%;
        .contentWrap{
          position:fixed;
          width:100%;
          height:100%;
          overflow:auto;
          min-height: -webkit-fill-available;
          -webkit-overflow-scrolling: touch; 
        }
        .user-main section:nth-of-type(1) > div:nth-of-type(1) .mc-item01 .user-point > div.up-detail > a strong, .user-main section:nth-of-type(1) > div:nth-of-type(1) .mc-item01 .user-point > div.up-all > a strong{
          color: #f00 !important;
        }
    }
  } 
