//공통
$main-color : #4bd254;
$sub-color : #30c98d;
$gray-color: #fcfcff;
$darkgray-color: #777;
$bg-color : #eef2f5;
$border-color :#e5e8eb;
$main-txt: #111;
$red-txt : #f51a1a;
$blue-txt : #2a6cef;
$main-bg-txt : #fff;

::selection{background-color: $main-color;color: #fff;}

@mixin mainfont{
    font-family: "Pretendard-Regular";
}
@mixin fontWeightL{
    font-family: 'Pretendard-light';
}
@mixin fontWeightM{
    font-family: 'Pretendard-medium';
}
@mixin fontWeightE{
    font-family: 'Pretendard-extrabold';
}
@mixin fontWeightB{
    font-family: 'Pretendard-black';
}
@mixin txthide {
    text-indent: -5000000000000000px;
    overflow: hidden;
    font-size: 0px;
    text-align: left;
}
@mixin txtellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
@mixin txtellipsisMulti($h:2.4rem, $lh:1.2rem, $l:2) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $l;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    line-height: $lh;
    height: $h;
}
@mixin lineTxt(){    
    -webkit-text-stroke: 1px $main-txt;
    -webkit-text-fill-color: transparent;
}
@mixin lineTxtOn(){    
    -webkit-text-stroke: 0px $main-txt;
    -webkit-text-fill-color: $main-txt;
}
@mixin clear() {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
@mixin centerAlign(){
    max-width: 144rem;
    margin: 0 auto;
}
@mixin centerPosition($t:50%,$l:50%,$tx:-50%,$ty:-50%){
    position: absolute;
    top: $t;
    left: $l;
    transform: translateX($tx) translateY($ty);
}
@mixin stickyPosition($t:calc(50% - 40vh + 11rem)){
    position: sticky;
    top: $t;
    height: 80vh;
}
@mixin flex{
    display: flex;
    justify-content: space-between;
    @content;
}
@mixin flexCenter{
    display: flex;
    align-items: center;
    @content;
}
@mixin bgimg($s:100%) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $s;
}

@mixin bgLogo($w:16.8rem, $h:3.1rem,$bgimg:url('../images/logo_b.svg')) {
    display: block;
    width: $w;
    height: $h;
    background-image: $bgimg;
    @include bgimg();
    @include txthide();
}

@mixin virtualIcon($w:1rem, $h:1rem) {
    content: '';
    display: inline-block;
    width: $w;
    height: $h;
    vertical-align: middle;
    @include bgimg();
    @content;
}
@mixin customScroll($w:5px,$barcolor:$border-color,$bgrcolor:transparent){
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: $w;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $barcolor;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bgrcolor;
        border-radius: 5px;
    }
}
//animation
@keyframes ani-line {
    0% {
        height: 0;
    }
    100% {
        height:100%;
    }
}
@keyframes ani-height {
    0% {
        height: 100%;
    }
    100% {
        height:0%;
    }
}
@keyframes ani-textfill {
    0% {
        -webkit-text-stroke: 1px $main-txt;
        -webkit-text-fill-color: transparent;
    }
    100% {
        -webkit-text-stroke: 0px $main-txt;
        -webkit-text-fill-color: $main-txt;
    }
}
@keyframes ani-textindent {
    0% {
        text-indent: -100%;
    }
    100% {
        text-indent: 0%;
    }
}
@keyframes ani-textindent2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes ani-opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes ani-rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@keyframes ani-career02 {
    0% {
        bottom: 15%;
        left: 0;
    }
    40%{
        bottom: 65%;
        left: 65%;
    }
    45%{
        bottom: 65%;
        left: 65%;
    }
    70%{
        bottom: 15%;
        left: 75%;
    }
    75%{
        bottom: 15%;
        left: 75%;
    }
    100% {
        bottom: 18%;
        left: 35%;
    }
}

@keyframes ani-career03_01 {
    0% {
        left: 0;
    }    
    35% {
        left: 8rem;
    }
    60% {
        left: 8rem;
    }
    100% {
        left: 0;
    }    
}
@keyframes ani-career03_02 {
    0% {
        left: 8rem;
    }    
    35% {
        left: 0;
    }
    60% {
        left: 0;
    }
    100% {
        left: 8rem;
    }    
}

@mixin fadeCont($ty:100%){    
    transform: translateY($ty);
    opacity: 0;
}
@mixin aniFadeIn ($n,$s:1.5s,$d:0s,$t:translateY(50%),$t2:translateY(0%)) {
    @keyframes #{$n} {
        0% {
            transform : $t;
            opacity: 0;
        }
        100% {
            transform : $t2;
            opacity: 1;
        }
    }
    animation: #{$n} $s ease-in-out $d forwards;
}
@mixin aniFadeOut ($n,$s:1.5s,$d:0s,$t:translateY(0%),$t2:translateY(-50%)) {
    @keyframes #{$n} {
        0% {
            transform : $t;
            opacity: 1;
        }
        100% {
            transform : $t2;
            opacity: 0;
        }
    }
    animation: #{$n} $s ease-in-out $d forwards;
}
@keyframes ani-fadeinout {
    0% {
        transform : translateY(50%);
        opacity: 0;
    }
    30% {
        transform : translateY(0%);
        opacity: 1;
    }
    70%{
        transform : translateY(0%);
        opacity: 1;
    }
    100%{
        transform : translateY(-50%);
        opacity: 0;
    }
}

@mixin anitop ($n,$s:1.5s,$d:0s,$t:0%,$t2:20%) {
    @keyframes #{$n} {
        0% {
            top : $t;
        }
        100% {
            top : $t2;
        }
    }
    animation: #{$n} $s ease-in-out $d forwards;
}
                              
@keyframes cursor {
    0% { border-right: 2px solid transparent; }
    50% { border-right: 2px solid #fff; }
    100% { border-right: 2px solid transparent; }
}

body,input,select,textarea,button,a{
    color: $main-txt;
    @include mainfont();
}
body{
    touch-action: pan-x pan-y;
}
.red {
    color: #f00 !important;
}
.txt_red {
    color: $red-txt;
}
.txt_blue {
    color: $blue-txt;
}
.txt_sub {
    color: $sub-color;
}
.btn{
    display: inline-block;    
    padding: 0.8rem 0rem;
    border-radius: 3.2rem;
    @include fontWeightB();
    background-color: #fff;
    color: $main-txt;
}
.container{ 
    position: relative;
    height: 100vh;
    overflow: hidden;
    .pageWrap{
        width: 100%;
        height: 100vh;
        transition-duration: 1.2s;
            .page{                
                position: relative;
                width: 100%;
                height: 100vh;
                overflow: hidden;
                .scrollBox{
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;               
                    @include customScroll($w:0px);
                }
                .center{
                    @include centerAlign();
                }
        }    
    }
}

.balckBG{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    span{
        position: absolute;        
        width: 100%;
        height: 100%;
        background-color: #0a0a0a;      
    }
    i{
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 0%;
        border-left:1px solid #333;
        overflow: hidden;
        &:nth-of-type(1){
            height: 100%;
            width: 12.5%;
        }
        &:last-child{
            width: 12.5%;
        }
        &:nth-child(odd){
            top: auto;
            bottom: 0;
        }
        @for $i from 2 to 6{
            &:nth-of-type(#{$i}){
                left: calc(25% * ($i - 1) - 12.5%);
            }
        }
    }
    &.on{
        i:not(:nth-of-type(1)){
            animation: ani-line 1.2s ease-in-out forwards;
        }
    }
    &.active{
        background-color: #fff;
        span{
            animation: ani-height 0.8s ease-in-out forwards;
        }
        i{
            top: 0 !important;
            bottom: auto !important;
            height: 100%;
            background-color: #0a0a0a;
            animation: ani-height 0.8s ease-in-out forwards;
            @for $i from 1 to 6{
                &:nth-of-type(#{$i}){
                    animation-delay: 0.5s - (0.1 * $i) ;
                }
            }
        }

    }
}
.progressBarBox{
    position: relative;
    height: 100%;
    .progressBar{
        position: sticky;
        top: calc(50% - 16rem + 9rem);
        left: calc(100% - 26rem);
        display: inline-block;
        width: 1rem;
        z-index: 500;
        &::before{
            position: absolute;
            left: 0;
            bottom: calc(120% + 2rem);
            display: block;
            width: 18rem;
            content: attr(data-progressname);
            @include fontWeightB();
            transform: translate(-48.5%,  -50%) rotate(90deg);
            text-align: right;
        }
        span{
            position: relative;
            display: block;
            height: 32rem;
            width: 0.1rem;
            background-color: #ccc;
        }
        i{
            position: absolute;
            display: block;
            width: 100%;
            height: 0%;
            background-color: #373737;
        }
    }
}

.animateFadeList{
    position: relative;
    overflow: hidden;
    >li{
        position: absolute;
        top: 0%;
        left: 0;
        z-index: 1;
        &.now{
            z-index: 10;
        }
    }
    .fadeCont{
       @include fadeCont();
    }
    .wheelup{
        &.active{
            @include aniFadeOut($n:main02-02,$s:0.8s,$t:translateY(0%),$t2:translateY(50%));
        }
        &.next{
            @include aniFadeIn($n:main02-01,$s:0.8s,$d:0.5s,$t:translateY(-50%),$t2:translateY(0%)); 
        }
    }
    .wheeldown{
        &.prev{
            @include aniFadeOut($n:main02-04,$s:0.8s);
        }
        &.active{
            @include aniFadeIn($n:main02-03,$s:0.8s,$d:0.5s);
        }
    }
}

.animateCircleScroll{
    @include stickyPosition();
    transition: all 0.8s ease-in-out;
}

.playBtn{
    display: inline-block;
    font-size: 4.8rem;
    color: #fff;
    @include fontWeightE();
    vertical-align: middle;
    &::after{
        @include virtualIcon($w:4.8rem,$h:4.8rem){
            margin:-0.5rem 0 0 2.5rem;
            background-image: url('../images/btn_common_play.svg');  
            vertical-align: middle; 
         }
    }
    &:hover{
        &::after{
            background-image: url('../images/btn_common_play_hover.svg');
        }
    }
}
.popLayer{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);    
    display: none;
    width: 70vw;
    height: 60vh;
    background-color: #000;
    z-index: 2000;
    &.on{
        display: block;
    }
    .popCloseBtn{
        position: absolute;
        top: -5rem;
        right: 0;
        width: 4rem;
        height: 4rem;
        @include txthide();
        cursor: pointer;
        &::before,&::after{
            position: absolute;  
            top: 40%;
            left: 0;
            @include virtualIcon($w:100%,$h:0.2rem){
                background-color:#fff;
            }
        }
        &::before{              
            transform:rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (max-width: 480px) {
    html,body{
        //font-size: 4.267vw;
        //480기준 10px 1rem font-size: 2.08333vw;
        //360기준
        font-size: 2.5vw;
    }
}
@media only screen and (max-width: 280px) {
    html,body{
        font-size: 12px;
    }
}