header {
    position: relative;
    padding: 1.907rem 0;
    background-color: $main-color;

    h1 {
        display: inline-block;
        width: 4.25rem;
        vertical-align: middle;

        a {
            display: block;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    p {
        display: inline-block;
        vertical-align: middle;

        &::before {
            @include virtualIcon($w:1px, $h:1rem) {
                margin: -1px 1.875rem 0 1.875rem;
                background-color: #fff;
            }

            ;
        }
    }

    .logout-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 0.875rem;
        font-weight: 700;
        color: $main-txt;
        &::before {
            @include virtualIcon($w:1.125rem, $h:1.125rem) {
                background-image: url(../image/icon_logout.svg);
                background-size: 100%;
                margin: -2px 0.313rem 0 0;
            }
        }
    }

    .mob-menu-btn,
    .bottom-menu,
    .mob-user {
        display: none;
    }

    &.user-menu {
        margin-bottom: 3.3rem;

        .top-menu {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100%;
            background-color: #fff;
            border-bottom: 1px solid #f2f4f6;

            ul {
                display: table;

                li {
                    display: table-cell;
                    border-top: 3px solid transparent;
                    padding: 0 1.25rem;
                    margin: 0 1.25rem;

                    &:nth-child(1) {
                        padding-left: 0;
                    }

                    a {
                        display: inline-block;
                        padding: 0.875rem 0;
                        border-bottom: 3px solid #fff;
                        font-size: 1.125rem;
                    }

                    &.on {
                        a {

                            border-bottom: 3px solid $main-color;
                        }
                    }
                }
            }
        }
    }
}

.sp-title {
    display: none;

    &.sub-menu {
        display: block;
        float: left;
        width: 12.5rem;
        margin-right: 3.125rem;

        .mob-btn-back,
        .sm-now {
            display: none;
        }

        .center {
            width: 100%;
        }

        h2 {
            padding: 3rem 0 1.875rem;
            font-size: 1.875rem;
            font-weight: 700;
        }

        .sm-list {
            padding-top: 0.875rem;
            border-top: 1px solid $border-color;

            li {
                a {
                    display: block;
                    padding: 0.875rem 0;
                    color: $gray-color;
                }

                &.on {
                    a {
                        color: $main-color;
                    }
                }
            }
        }

        &+.sm-div {
            float: left;
            width: calc(100% - 15.625rem);
        }
    }
    
    .sb-mob-close {
        position: absolute;
        top: 50%;
        left: 1.313rem;
        transform: translateY(-50%);
        left: 1.313rem;
        display: none;
        width: 0.75rem;
        height: 1.5rem;
        background-image: url(../image/main/icon_mob_back.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        cursor: pointer;
        @include txthide();
    }
    .search-box {
        position: fixed;
        top: 3.8rem;
        bottom: auto;
        right: 0.313rem;
        width: 2rem;
        height: 3.125rem;
        padding: 0;
        background-color: #fff;
        z-index: 5000;

        input {
            display: none;
        }

        .search {
            width: 1.25rem;
            height: 1.25rem;
            background-image: url(../image/icon_search_b.svg);
        }
    }
    &.on {
        width: 100%;

        .search-box {
            width: 100%;

            .sb-mob-close {
                display: block;
            }

            input {
                display: block;
                max-width: 75%;
                height: 100%;
                margin-left: 12%;
                &::placeholder{
                    font-size: 0.938rem;
                }
            }

            .search {
                margin-right: 0.75rem;
            }

        }

    }
}

footer {
    clear: both;
    padding: 3.25rem 0;
    border-top: 1px solid #e8e8e8;
    text-align: center;
    font-size: 1rem;
    color: #9797a8;
    background-color: #eee;

    ul {
        padding: 0 0 0.938rem 0;

        li {
            display: inline-block;
            padding: 0 0.625rem;
            font-size: 0.938rem;
            color: #999;
            line-height: 1.5;

            &:last-child {
                padding: 0;

                &::before {
                    @include virtualIcon($w:1px, $h:0.938rem) {
                        background-color: #999;
                        margin: -1px 0.625rem 0 0;
                        vertical-align: middle;
                    }
                }
            }
        }

        &.policy {
            li {
                padding: 0 1.875rem 0 0;

                &:nth-child(2) {
                    padding: 0;
                    font-weight: 700;

                    &::before {
                        height: 0.75rem;
                        background-color: #292929;
                        margin: -2px 1.875rem 0 0;
                    }
                }

                a {
                    font-size: 1rem;
                    color: #292929;
                }
            }
        }

        &:nth-of-type(2) {
            li {
                &:nth-child(1) {
                    display: block;
                }
            }
        }
    }
}

.mypage,
.service,
.user-sub:not(.pointshop) {
    footer {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    header {
        &.user-menu {
            .top-menu {
                ul {
                    li {
                        padding: 0 0.625rem;
                    }
                }
            }
        }
    }

    .sp-title.sub-menu {
        width: 10rem;
        margin-right: 1rem;

        &+.sm-div {
            width: calc(100% - 11rem);
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.35rem 0 1.25rem;
        margin-bottom: 0;
        z-index: 6000;

        h1 {
            width: 3.875rem;
            margin-left: 0.313rem;
        }

        p {
            display: none;
        }

        .logout-btn {
            position: fixed;
            top: auto;
            bottom: 0rem;
            transform: translateY(0%);
            display: none;
            width: 72%;
            padding: 1rem 0 1rem 1.563rem;
            border-top: 1px solid $border-color;
            text-align: left;
            font-size: 0.857rem;
            font-weight: 400;
            z-index: 10001;

            &::before {
                opacity: 0.5;
            }

            &.on {
                display: block;
            }
        }

        &.user-menu {
            margin-bottom: 0rem;

            .mob-menu-btn {
                position: absolute;
                top: 0rem;
                right: 0.5rem;
                display: block;
                width: 1.25rem;
                height: 1.25rem;
                background-image: url(../image/icon_menu.svg);
                background-size: 100%;
                @include txthide();
                @include bgimg();
            }

            .top-menu {
                display: none;

                &.on {
                    display: block;
                    position: fixed;
                    top: 3.75rem;
                    left: 0rem;
                    transform: translate(0, 0);
                    width: 100vw;
                    height: calc(100vh - 3.75rem);
                    background-color: rgba(0, 0, 0, 0.3);
                    z-index: 10000;

                    .center {
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        
                    }

                    ul {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 72%;
                        height: 100%;
                        padding-top: 1rem;
                        background-color: #fff;

                        li {
                            display: block;
                            padding: 0;
                            margin: 0;
                            border-top: none;

                            a {
                                display: block;
                                padding: 1rem 0 1rem 1.563rem;
                                border-bottom: none;
                                font-size: 0.857rem;
                            }

                            &.on {
                                a {
                                    width: 100%;
                                    border-bottom: none;
                                    color: $main-color;
                                    font-weight: 700;
                                    background-color: $bg-color;
                                }
                            }
                        }
                    }
                }
            }
        }


        .bottom-menu {
            display: block;
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100%;
            max-width: 768px;
            height: 4.25rem;
            border-top: 1px solid $border-color;
            background-color: #fff;
            z-index: 100;

            >.center {
                width: 92%;
            }

            ul {
                width: 100%;
                overflow: hidden;

                li {
                    float: left;
                    width: 20%;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 4rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include txthide();
                    }

                    @for $i from 1 to 6 {
                        &:nth-of-type(#{$i}) {
                            a {
                                background-image: url(../image/main/icon_title_0#{$i}.svg);
                            }
                        }
                    }

                    &.on {
                        @for $i from 1 to 6 {
                            &:nth-of-type(#{$i}) {
                                a {
                                    background-image: url(../image/main/icon_title_on_0#{$i}.svg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sp-title {
        position: fixed;
        top: 3.7rem;
        display: block;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid $border-color;
        z-index: 4900;

        .center {
            width: 100%;
        }

        h2 {
            display: block;
            width: 100%;
            height: auto;
            padding: 1.1rem 0;
            font-size: 1.125rem;
            font-weight: 700;
            text-align: center;
        }

        .mob-btn-back {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            display: block;
            width: 0.75rem;
            height: 1.5rem;
            background-image: url(../image/main/icon_mob_back.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
            cursor: pointer;
            @include txthide();
        }

        +div,
        +section {
            margin-top: 7rem;
        }

        &.sub-menu {
            float: none;
            width: 100%;
            margin-right: 0;
            border-bottom: none;

            .mob-btn-back {
                display: block;
            }

            .sm-now {
                position: relative;
                display: block;
                width: 100%;
                padding: 1rem 2.5rem;
                font-size: 0.938rem;
                text-align: center;
                cursor: pointer;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;

                &::after {
                    @include virtualIcon($w:1.125rem, $h:1.125rem) {
                        position: absolute;
                        top: calc(50% - 0.625rem);
                        right: 0.938rem;
                        background-image: url(../image/icon_faq_more_open.svg);
                        background-size: 100% auto;
                    }
                }

                &.on {
                    &::after {
                        transform: rotate(180deg);
                    }

                    &+ul.sm-list {
                        display: block;
                    }
                }
            }

            .sm-list {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1.375rem 0;
                background-color: rgba(255, 255, 255, 0.97);
                border-top: none;
                border-bottom: 1px solid $border-color;
                z-index: 3000;

                li {
                    a {
                        text-align: center;
                    }
                }
            }

            h2 {
                padding: 1.1rem 0;
                font-size: 1.125rem;
            }

            &+.sm-div {
                float: none;
                width: 100%;
                margin-top: 10rem;

            }

        }
    }

    footer {
        padding: 1.875rem 0;
        font-size: 0.625rem;
        ul{
            padding: 0 0 0.625rem 0;
        }
        ul.policy {
            padding: 0 0 0.625rem 0;

            li {
                padding: 0 0.625rem 0 0;
                a {
                    font-size: 0.625rem !important;
                }
                &:nth-of-type(2){
                    &::before{
                        height: 0.625rem;
                        margin: 1px 0.625rem 0 0;
                    }
                }
            }
        }
        ul:nth-of-type(2) {
            li { 
                font-size: 0.625rem;

                &:nth-child(1) {
                    display: block;
                    padding: 0 0 0.2rem;
                    border-left: none;
                }

                &:nth-child(2) {
                    border-left: none;
                }
                &:last-child{
                    &::before{
                        height: 0.625rem;
                        margin: 1px 0.625rem 0 0;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 480px) {
    header {
        .bottom-menu {
            ul {
                li {
                    a {
                        background-size: 40% auto;
                    }
                }
            }
        }
    }
}