.my1pay {
  &.login {
    .content {
      padding-bottom: 0 !important;
    }

    .login-wrap {
      position: absolute;
      top: 2.5rem;
      right: 0;
      width: 19.313rem;
      padding: 0 0 1.25rem;
      background-color: #fff;
      //border-bottom: 1px solid $border-color2;

      h1 {
        display: none;

        span {
          display: none;
        }
      }

      .input-box.id-Box {
        margin-top: 1rem;
      }

      .find,
      .save {
        margin-bottom: 1rem;
      }

      .login-sns-ul {
        width: 100%;
        max-width: 28.125rem;
        margin: 0 auto;
        border-top: 1px solid #dae1e6;
        margin-top: 1.25rem;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        li {
          float: left;
          width: 100%;
          margin: 0 0 0.7rem;
          text-align: center;

          &:first-of-type {
            margin-top: 0.7rem;
          }

          &:nth-child(odd) {
            margin-left: 0;
          }

          .login-sns {
            margin: 0 auto;
            font-size: 0.75rem;
          }
        }
      }

      .mob-scroll {
        position: relative;
        top: 60px;
        text-align: center;
        margin: 0 auto;
        color: #ffc600;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        &::after {
          content: "";
          display: block;
          position: relative;
          width: 12px;
          height: 12px;
          background-image: url('../image/btn_show.svg');
          margin-left: 10px;
        }
      }
    }

    .banner-wrap {
      max-width: 56.25rem;
      padding: 0 3.125rem 3.125rem 0;
      border-right: 1px solid $border-color2;

      >p {
        padding: 5.5rem 0 3.5rem 0;
        border-bottom: 1px solid $border-color2;
        font-size: 1.25rem;
        line-height: 1.5;
        background-image: url(../image/login/main_point.png);
        @include bgimg();
        background-position: right -1.5rem center;

        img {
          &.login-m-txt {
            display: none;
          }
        }

        strong {
          display: block;
          width: 100%;
          max-width: 34.813rem;
          height: 3.5rem;
          margin: 0 0 1.875rem;
          background-image: url(../image/login/img_mian_calligraphy.png);
          background-repeat: no-repeat;
          @include txthide();
        }
      }

      .slide-wrap {
        position: relative;
        margin: 1.875rem 0;
        width: 100%;

        .slick-slider {
          overflow: hidden;
        }

        .slick-slide {
          display: block;
          float: left;
          width: 100%;
          height: 100%;
          overflow: hidden;

          li {
            height: 100%;

            a {
              height: 100%;

              img {
                display: block;
                width: 100%;
                height: 100%;

                &.slide-pc {
                  display: block;
                }

                &.slide-mob {
                  display: none;
                }
              }
            }
          }
        }

        .slick-dots {
          position: absolute;
          top: 0.625rem;
          right: 0.625rem;
          overflow: hidden;

          li {
            float: left;
            width: 0.625rem;
            height: 0.625rem;
            margin-left: 0.625rem;
            border-radius: 50%;
            background-color: #292929;
            @include txthide();

            &.slick-active {
              background-color: #fff;
            }
          }
        }
      }

      .step-wrap {
        margin-top: 1.875rem;
        padding: 1.875rem 0;
        border-radius: 10px;
        background-color: #f9fafc;
        border: 1px solid #dae1e6;

        strong {
          display: block;
          width: 90%;
          max-width: 29.5rem;
          padding: 0.75rem 0;
          margin: 0 auto;
          border-radius: 2rem;
          background-color: #292929;
          color: #fff;
          font-size: 1.25rem;
          font-weight: 700;
          text-align: center;

          span {
            color: $main-color;
          }
        }

        ul {
          padding: 1.563rem 0 0;
          overflow: hidden;

          li {
            float: left;
            width: 33%;
            height: 17.2rem;
            border-left: 1px solid #e5e5e5;
            text-align: center;
            line-height: 1.5;
            @include bgimg();
            background-position: center bottom -1rem;
            font-size: 0.938rem;

            span {
              display: block;
              width: 5.75rem;
              padding: 0.313rem 0;
              margin: 0 auto 1rem;
              border-radius: 3rem;
              background-color: #ffea81;
              font-size: 0.875rem;
              font-weight: 700;
            }

            &:nth-child(1) {
              border-left: none;
              background-image: url(../image/login/img_guide_01.png);
            }

            &:nth-child(2) {
              background-image: url(../image/login/img_guide_02.png);
            }

            &:nth-child(3) {
              background-image: url(../image/login/img_guide_03.png);
            }
          }
        }
      }
    }

    .point-wrap {
      position: absolute;
      bottom: 6.25rem;
      right: 0;
      width: 19.313rem;
      border: 3px solid $main-color;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 10px 10px 30px 0 #e6e6e6;

      p {
        margin: 0 0 0.75rem;
        font-size: 0.75rem;
        text-align: center;

        strong {
          display: block;
          margin: 0 0 0.625rem;
          color: $main-color;
          font-size: 1rem;
          font-weight: 700;
        }

        &::before {
          @include virtualIcon($w:11.5rem, $h:7.75rem) {
            display: block;
            margin: -2.35rem auto 0;
            background-image: url(../image/login/img_point.png);
            background-size: 100% auto;
          }
        }
      }

      ul {
        border-radius: 0 0 10px 10px;
        overflow: hidden;

        li {
          position: relative;
          float: left;
          width: 50%;
          height: 4.375rem;
          border-top: 1px solid $border-color2;
          border-left: 1px solid $border-color2;
          box-sizing: border-box;
          overflow: hidden;

          &:nth-child(odd) {
            border-left: none;
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}




@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .my1pay {
    &.login {
      .banner-wrap {
        max-width: calc(100% - 20rem);
        padding: 0 1rem 3.125rem 0;

        >p {
          background-size: 30% auto;
          background-position: right 2rem center;
        }
      }
      
    }
  }
}

@media only screen and (max-width: 768px) {
  .my1pay {
    &.login {
      header {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        transition: all 0.5s;
        z-index: 1000;

        .mob-user {
          position: absolute;
          top: calc(50% - 1rem);
          right: 1rem;
          display: block;
          width: 2rem;
          height: 2rem;
          background-image: url(../image/icon_user.svg);
          @include bgimg();
          @include txthide();
        }
      }

      .login-wrap {
        position: relative;
        top: 10rem;
        width: 100%;
        padding: 4rem 0 3rem;
        background-color: #fff;
        border-bottom: none;

        h1 {
          display: block;

          span {
            display: none;
            margin: 0 0 0.5rem;
            font-size: 0.75rem;
          }

          a {
            display: none;
            width: 5.5rem;
            height: 1.5rem;
            margin: 0 0 0.875rem;
          }
        }

        >p {
          font-size: 1.313rem;
          span{
            display: none;
          }
        }

        .input-box {

          input[type="text"],
          input[type="password"] {
            padding: 0.938rem 0.625rem;
            border-radius: 5px;
          }


          &.required {
            &::after {
              margin-top: 0.75rem;
            }

            ~.find {
              top: 41rem;
            }
          }
        }

        .save {
          position: absolute;
          top: 15.25rem;
          color: #666;

          input[type="checkbox"]+label {
            font-size: 0.875rem;

            &::before {
              width: 1.125rem;
              height: 1.125rem;
              margin: -1px 0.625rem 0 0;
            }
          }

          input[type="checkbox"]:checked+label {
            &::before {
              background-image: url("../image/check_on_round_s.svg");
            }
          }
        }

        .join {
          &+.find {
            text-align: left;
          }
        }

        .find {
          position: absolute;
          top: 40rem;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: center;

          a {
            float: none;
            display: inline-block;
            font-size: 0.875rem;
          }
        }

        .btns {
          margin-top: 1.875rem;

          .btn {
            padding: 1.063rem 0;
            border-radius: 10px;
            font-size: 1rem;
          }
        }

        .mob-scroll {
          position: inherit;
          top: auto;
          display: block;
          width: 100%;
          height: 2rem;
          margin-top: 1.25rem;
          color: $sub-color;
          font-size: 0.813rem;
          text-align: center;

          &::after {
            @include virtualIcon($w:0.813rem, $h:0.813rem) {
              margin: -2px 0 0 0.313rem;
              background-image: url(../image/login/login-mob-scroll.svg);
              background-size: 100%
            }

            ;
          }
        }

        .login-sns-ul {
          max-width: 100%;

          .login-sns-img {
            max-width: 100%;
          }
        }
      }

      .banner-wrap {
        max-width: 100%;
        padding: 0 0rem 0rem 0;
        margin: 6.25rem 0 0;
        border-right: none;
        .step-wrap{
          padding: 1.875rem 0 0;
        }
        >p {
          position: absolute;
          top: 0;
          width: 100%;
          padding: 4rem 0 0;
          border-top: none;
          border-bottom: none;
          background-size: 30% auto;
          background-position: right 1rem center;
          font-size: 1rem;
          img{
            width: 30%;
          }
        }

        .slide-wrap {
          padding-bottom: 31%;

          .slick-slider {
            position: absolute;
            top: 0;
            left: -6%;
            width: 111.5%;
            height: 100%;
          }

          .slick-slide {
            li {
              a {
                img {
                  &.slide-pc {
                    display: none;
                  }

                  &.slide-mob {
                    display: block;
                  }
                }
              }
            }
          }
        }

        .step-wrap {
          background-color: transparent;
          border: none;
          padding: 3.5rem 0 5rem;
          strong {
            padding: 1.55rem 0;
            font-size: 1rem;
          }

          ul {
            li {
              width: 100%;
              height: auto;
              padding: 1.563rem 0 13.25rem;
              margin-bottom: 1.25rem;
              border-radius: 10px;
              background-color: #f9fafc;
              border: 1px solid #dae1e6;
              background-position: center bottom -0.45rem;
              background-size: auto 66%;
              font-size: 1rem;

              &:nth-child(1) {
                border-left: 1px solid #dae1e6;
                background-size: auto 68%;
              }

              span {
                font-size: 0.9rem;
              }
            }
          }
        }
      }

      .point-wrap {
        position: relative;
        top: auto;
        bottom: auto;
        width: 100%;
        border-width: 2px;
        box-shadow: none;

        p {
          margin: 0 0 2rem;
          font-size: 0.865rem;

          &::before {
            margin: -3.5rem auto 0.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 280px) {
  .my1pay {
    &.login {
      .login-sns-ul {
        li {
          .login-sns {
            height: 3.25rem;
          }
        }
      }
    }
  }
}