.main{
    section{
        &:nth-child(odd){
            background-color: $bg-color;
        }
    }
    .main01{
        .center_100{
            background-image: url(../image/main-visual-img.png);
            @include bgimg($s:auto,$p:center left 39rem);
            p{
                line-height: 1.2;
                &:nth-child(1){
                    padding-top: 17rem;
                    font-size: 6.5rem;
                    @include txtbold();
                }
                &:nth-child(2){
                    padding-bottom: 20rem;
                    margin: 2rem 0 0;
                    font-size: 2.2rem;
                }
            }
        }
    }
    .main02{
        .center{
            text-align: center;
            >p{
                margin: 8rem 0 4rem;
                font-size: 4rem;
                @include txtbold();
            }
            ul{
                @include flex();
                gap: 3rem;
                margin:  0 0 8rem;
                li{
                    flex: 1;
                    &::before{
                        @include virtualIcon($w:100%, $h:0) {
                            display: block;
                            padding:  0 0 75%;
                        }
                        margin: 0 auto 2.5rem;
                        @include bgimg();
                    }
                    @for $i from 1 to 4{
                        &:nth-child(#{$i})::before{
                            background-image: url(../image/main-sec-1-img-#{$i}.png);
                        }
                    }
      
                    strong{
                        font-size: 2.5rem;
                        @include txtbold();
                    }
                    p{
                        margin: 1rem 0 0;
                        font-size: 1.8rem;
                        color: #777;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
    .main03{
        padding: 8rem 0;
        .center{
            ul{
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(39rem,1fr));
                gap: 3rem;
                li{
                    max-height: 17rem;
                    padding: 4rem;
                    background-color: #fff;
                    border-radius: 1rem;
                    font-size: 2.2rem;
                    @include txtbold;
                    @include bgimg($s: auto 80%,$p:bottom right);
                    @for $i from 1 to 7{
                        &:nth-child(#{$i}){
                            background-image: url(../image/main-sec-2-img-#{$i}.png);
                        }
                    }
                    i{
                        display: block;
                        width: 4rem;
                        padding: 1rem 0;
                        margin:  0 0 1rem;
                        background-color: $bg-color;
                        border-radius: 0.5rem;
                        text-align: center;
                        font-style: normal;
                        font-size: 2rem;
                        color: #999;
                    }
                    span{
                        display: block;
                        margin-top: 0.75rem;
                        font-size: 1.8rem;
                        color: #999;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1230px){
    .main{
      .main01{
          .center_100{
            p{
                &:nth-child(1),&:nth-child(2){
                    padding-left: 3rem;
                }
            }
          }
      }
    }  
} 

@media only screen and (max-width: 768px) {   
    .main{
        .main01{
            .center_100{
                padding:  0 0 15rem;
                background-size:  50% auto;
                background-position: bottom right;
                p{
                    &:nth-child(1){
                        padding: 5rem 0 0 3rem;
                        font-size: 4.5rem;
                    }
                    &:nth-child(2){
                        padding: 0rem 0 0 3rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .main02{
            .center{
                >p{
                    font-size: 3rem;
                }
                ul{
                    flex-direction: column;
                    gap: 5rem;
                    li{
                        width: 90%;  
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
  .main{
    .main01{
        .center_100{
            padding:  0 0 41rem;
            background-size: 140% auto;
            background-position: bottom center;
        }
    }
  }  
} 