
//상품목록 공통
.product-box{
    display: block;
    width: 100%;
    box-sizing: border-box;
    .pb-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        background-color: $bg-color;
        border-radius: 2rem;
        overflow: hidden;
        box-sizing: border-box;
        &:after {
            content: ""; 
            display: block;
            padding-bottom: 100%;
        }
        img{
            display: inline-block;
            max-width: 70%;
            max-height: 100%;
        }
    }
    .pb-txt{
        position: relative;
        >span{
            display: block;
            &.pb-part{
                font-size: 1.2rem;
                color: #a8a8a8;
            }
            &.pb-title{
                padding: 1.2rem 0 0;
                margin-bottom: 1.8rem;
                font-size: 1.6rem;
            }
            &.pb-percent{
                display: inline-block;
                margin-right: 0.5rem;
                color: $main-color;
                font-size: 1.5rem;
                font-weight: 700;
            }
            &.pb-price{
                display: inline-block;
                font-size: 2rem;
                font-weight: 700;
            }
            &.pb-discount{
                padding: 1.5rem 0 0rem;
                color: #999;
                font-size: 0.938rem;
                text-decoration: line-through;                
            }
            &.pb-count{
                color: #999;
                b{
                    color: $main-color;                    
                    font-weight: 400;
                    margin-left: 1rem;
                }
            }
            &.pb-icon{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                width: 1.5rem;
                height: 1.5rem;
                background-color: #ccc;
                @include txthide();
            }
        }
    }  
}
.pointSummary{
    margin: 1.5rem 0 0;
    border-radius: 1rem;
    border: 1px solid $main-color;
    background-color: #fff;
    overflow: hidden;
    >div{
        &:nth-child(1){
            @include flex();
            padding: 1.5rem 3rem;
            background-color: $main-color;
            color: #fff;
            >span{
                font-size: 1.6rem;
                &:nth-child(1){
                    &::before{
                        @include virtualIcon($w:1.8rem,$h:1.8rem);
                        content: 'P';
                        margin: -0.1rem 0.8rem 0 0;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 1.5;
                        font-size: 1.3rem;
                        @include txtbold();
                    }

                }
                &:nth-child(2){
                    @include txtbold();
                    font-size: 2rem;
                }
            }
        }
        &:nth-child(2){
            ul{
                padding:1.5rem 3rem;
                li{
                    @include flex();
                    padding: 1rem 0 ;
                    font-size: 1.4rem;
                    .title{
                        span{
                            &:nth-last-of-type(1){
                                font-size: 1.2rem;
                                color: #999;
                            }
                        }
                    }
                    >span{
                        &:nth-last-of-type(1){
                            @include txtbold();
                        }

                    }
                }   
            }
        }
    }
}
.pointSummary2,.pointSummary3{
    padding: 0.8rem 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
}
.pointSummary3{
    flex: 1;
    padding:2rem 1.5rem;
    >div{
        width: 100%;
        height: 100%;
    }
    .psList{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        li{
            display: flex;
            justify-content: space-between;
            width: 100%;
            line-height: 2;
            font-size: 1.5rem;
        }
    }
    .hoverInfo{
        &+span{
            font-size: 1.3rem;
            color:#999;
        }
    }
}
.pointGraphArea{
    border-radius: 10px;
    background-color: $bg-color;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.16);
    overflow: hidden;
    .pgOption{
        @include flex;
        padding: 1rem;
        button{
            display: inline-block;
            padding: 5px 1rem;
            background-color: #fff;
            border-radius: 20px;
            font-size: 1.2rem;
            &.on{
                background-color: $main-color;
            }
        }
        .right{
            @include flex;
            gap: 1rem;
        }
        .calendarBoxWrap{
            @include flex;
            background-color: #fff;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: #fff;
        }
        .calendarBox{
            .calendar{
                position: relative;
                display: inline-block;
                width: 8rem;
                height: 100%;
                margin-left: 2rem;
                cursor: pointer;
                &::before{
                    @include virtualIcon($w:1.5rem, $h:1.5rem){
                        position: absolute;
                        top: 0.2rem;
                        left:-1rem;
                        background-image: url(../image/main/icon_calendar.svg) !important;
                        background-size: 100% auto;
                    }
                }
                input{    
                    display: inline-block;  
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    font-size: 1.2rem;
                    border: none;
                    font-weight:400;
                    text-align: center;
                    background-color: transparent;
                    cursor: pointer;
                }

            }
            .wave{
                display: inline-block;
                &+.calendar{
                    margin: 0 0.5rem 0 0;
                    &::before{
                        display: none;
                    }
                }
            }
            &+button{
                padding: 5px 1.185rem;
                background-color: #292929;
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }
    .graphArea{
        min-height: 20rem;
    }
    .pgList{
        background-color: #fff;
        border-top: 1px solid $border-color;
        ul{
            @include flex;
            li{
                flex: 1;
                padding: 2rem 0 2.5rem;
                text-align: center;
                font-size: 1.6rem;
                &::before{
                    @include virtualIcon($w:1rem,$h:1rem){
                        margin: -2px 0.8rem 0 0;
                        background-color: $main-txt;   

                    }
                }
                i{
                    font-style: normal;
                }
                span{
                    display: inline-block;
                    margin-left: 0.5rem;
                }
                &:nth-child(1){
                    border-right: 1px solid $border-color;
                    span{
                        color: $main-color;
                        @include txtbold();
                        font-size: 2rem;
                    }
                }
            }

        }
    }
    &.type02{
        .right{
            width: 100%;
            button:not(.search){
                padding: 0.2rem 2rem;
                background-color: transparent;
                border-left: 1px solid $border-color;
                border-radius: 0;
                &:nth-of-type(1){
                    border-left: none;
                }
                &.on{
                    color: $main-color;
                }
            }
        }
        .pgOption{
            .calendarBoxWrap{
                border-radius: 0.8rem;
            }
            .calendarBox + button{
                padding: 0.5rem 2rem;
                border-radius: 0 0.8rem 0.8rem 0;
            }
        }
    }
}

.pointPage{
    
    .content{
        padding-bottom: 15rem;
    }
    section{
        padding: 5rem 0 5rem;
        // &:nth-of-type(even){
        //     background-color: $bg-color;
        // }
        &:nth-of-type(1){
            >div:nth-of-type(1){
                display: flex;
                justify-content: space-between;
                gap: 2rem;
            }
        }
        >div{
            position: relative;
        }
    }
    
    .mc-title{
        padding: 0 0 1rem 0;
        margin-bottom:1.8rem;
        border-bottom: 1px solid #ddd;
        h2{
            font-size: 1.8rem;
            font-weight:700;
            &::before{
                @include virtualIcon($w:3.2rem,$h:3.2rem){
                    margin:-0.5rem 1rem 0 0;
                }
            }
        }
        a{
            display: inline-block;
            position: absolute;
            top: 0.5rem;
            right: 0;
            color: $main-color;
            font-size: 1.5rem;
            &::after{
                @include virtualIcon($w:1.5rem,$h:1.5rem){
                    background-image: url(../image/main/icon_btn_more.png);
                    margin: -0.3rem 0 0 3px;
                }
            }
            &:hover{
                font-weight:700;
                &::after{
                    background-image: url(../image/main/icon_btn_more_on.png);
                }
            }
        }
        
    }
    @for $i from 2 to 6{
        .mc-item0#{$i}{
            .mc-title{
                h2{
                    &::before{
                        background-image: url(../image/main/icon_title_0#{$i}.svg);
                    }
                }
            }
        
        }
    }
    .mc-item02{
        flex: 1;
    }
    .mc-item03{        
        ul{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(23rem,1fr));
            gap: 2rem;
            row-gap: 5rem;
        }
        // ul{
        //     display: grid;
        //     grid-template-columns: repeat(auto-fill,minmax(13.3rem,1fr));
        //     gap: 2rem;
        //     li{
        //         a{ 
        //             display: block;
        //             text-align: center;
        //             @include txtbold();
        //             &::before{                          
        //                 @include virtualIcon($w:100%,$h:0rem){
        //                     display: block;
        //                     padding-bottom: 100%;
        //                     margin: 0 auto 1rem;
        //                     background-color: #fff;
        //                     border: 2px solid #fff;
        //                     border-radius: 2rem;
        //                     background-size: 50%;
        //                 }
        //             }
        //             &:hover{
        //                 &::before{                            
        //                     border:2px solid $main-color;
        //                     box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.05);
        //                 }
        //             }
        //         }
        //         @for $i from 1 to 9{
        //             &:nth-child(#{$i}){
        //                 a{
        //                     &::before{
        //                         background-image: url(../image/main/icon_use_0#{$i}.png);
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
    .mc-item05{
        position: relative;
    }
    .slide-point{         
        .slick-list{
            position: relative;
            overflow: hidden;
            height: 26rem;
            .slick-slide{
                position: relative;
                display: inline-block;
                width: 25rem !important;
                height: 25rem;
                margin-right: 2rem;
                background-color: $bg-color;
                border-radius: 15px;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 100% auto;
                vertical-align: top; 
                a{
                    display: block;
                    height: 100%;
                    padding: 3.2rem 2rem;
                    font-size: 1.8rem;
                    box-sizing: border-box;
                    b{
                        display: block;
                        margin-top: 1rem;
                        font-size: 2.4rem;
                        font-weight:700;                        
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; 
                        -webkit-box-orient: vertical;
                        word-wrap:break-word; 
                        line-height: 1.2em;
                        height: 11rem;
                        &:nth-of-type(2){
                            text-align: right;
                        }
                    }
                }
                &:hover{
                    box-shadow: 2px 5px 5px 3px rgba(0,0,0,0.16);
                }
                @for $i from 1 to 7{
                    &:nth-child(6n + #{$i}){
                        background-image: url(../image/main/img_bar_0#{$i}.png);                    
                    }
                }
                &:nth-child(6n + 1) a b{
                    color: #8d4cbf;
                }
                &:nth-child(6n + 2) a b{
                    color: #4cbbbf;
                }
                &:nth-child(6n + 3) a b{
                    color: #bf4c4c;
                }
                &:nth-child(6n + 4) a b{
                    color: #4cbf6b;
                }
                &:nth-child(6n + 5) a b{
                    color: #e2cf21;
                }
                &:nth-child(6n) a b{
                    color: #4c63bf;
                }
                &.p_new{                    
                    &::before{
                        @include virtualIcon($w:5rem,$h:5rem){
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-image: url(../image/main/img_mark_new.png);
                        }
                    }
                }
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                top: -20px;
                right: 0;
                width:15rem;
                height: calc(100% + 1rem);
                box-shadow: inset -10px 10px 10px rgba(0,0,0,0.16);
            }
        }
        ul.slick-dots{
            padding: 2.5rem 0 0;
            text-align: center;
            li{
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin: 0 0 0 1.59rem;
                border-radius: 10px;
                background-color: #e9e9e9;
                cursor: pointer;
                @include txthide();
                &:first-child{
                    margin: 0;
                }
                &.slick-active{
                    background-color: $main-color;
                }
            }
        }
    }
    .slide-logo{
        .slick-list{
            width: 85%;
            margin: 0 auto;
            padding-top: 1.875rem;
            overflow: hidden;
            .slick-slide{
                display: inline-block;
                width:16.5rem !important;
                height:16.5rem;
                margin: 0 0.5rem;
                a{
                    display: block;
                    width:16.5rem !important;
                    height:16.5rem;
                    font-weight:700;
                    text-align: center;
                    span{
                        position: relative;
                        display: block;
                        width:16.5rem !important;
                        height:16.5rem;
                        margin: 0 auto 0.5rem;
                        border-radius: 50%;
                        box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.05);
                        transition: all 0.4s ease-in-out;
                        overflow: hidden;
                        box-sizing: border-box;
                        img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            display: block;
                            width: 120%;
                            height: 120%;
                            transition: width 0.3s, height 0.3s;
                        }
                    }
                    &:hover{
                        img{
                            width: 130%;
                            height: 130%;
                        }
                    }
                }
            }
        }
        ul.slick-dots{
            display: flex !important;
            width: 85%;
            margin: 2.5rem auto 0;
            height: 2px !important;
            overflow: hidden !important;
            li{
                flex: 1;
                height: 2px !important;
                background-color: #ddd;
                @include txthide();
                &.slick-active{
                    background-color: $main-color;
                }
            }
        }
    }    
    .slick-arrow{
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        @include txthide();
        &.slick-prev{
            left: 0;
            background-image: url(../image/main/icon_more_left_off.png);
            &:hover{
                background-image: url(../image/main/icon_more_left_on.png);
            }
            &.slick-disabled{
                background-image: url(../image/main/icon_more_left.png);
                cursor:default;
            }
        }
        &.slick-next{
            right: 0;
            background-image: url(../image/main/icon_more_right_off.png);
            &:hover{
                background-image: url(../image/main/icon_more_right_on.png);
            }
            &.slick-disabled{
                background-image: url(../image/main/icon_more_right.png);
                cursor:default;
            }
        }
    }
    
}

.subpageTitle{
    padding: 5rem 0 4rem;
    font-size: 2.4rem;
    @include txtbold();
}
.pointDetailPage{
    background-color: $bg-color;
    .sectionArea{
        padding: 2rem;
        margin-bottom: 5rem;
        background-color: #fff;  
        border-radius: 2rem;
        box-shadow: 2px 3px 30px 0 rgba(0, 0, 0, 0.1);
        .pointGraphArea{
            border: 1px solid $border-color;
            box-shadow: none;
            &.type02{
                border-color: $bg-color;
            }
        }
    }
    .list-area{
        padding: 0 0 3rem;
        .la-graph{
            .lg-info{
                position: relative;
                &::after{
                    @include virtualIcon($w:100%, $h:1px){
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        background-color: #ddd;
                        z-index: 1;
                    }
                }
                .lg-tab{
                    position: relative;
                    @include flex($j:left);
                    margin: 2rem 0;
                    z-index: 2;
                    li{ 
                        padding: 1.5rem 2.5rem; 
                        color: #aaa;
                        font-size: 1.4rem;
                        box-sizing: border-box;
                        background-color: #fff;
                        cursor: pointer;
                        &.on{
                            background-color: #fff;
                            border-top: 1px solid #ddd; 
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            border-bottom: 1px solid #fff;
                            color: #292929;
                        }
                    } 
                } 
                .lg-selectBox{
                    position: absolute;
                    right: 0;
                    bottom: 1rem;
                    text-align: right;
                    z-index: 3;
                    select{
                        padding-right: 4rem;
                        margin-left: 5rem;
                        border: none;
                        background-size: auto 0.5rem;
                        font-size: 1.4rem;
                    }
                }
            }
            
            .lg-tabbox{
                display: none;
                &.on{
                    display: block;
                    height: auto;
                }
                .lg-list{
                    width: 100%;
                    >li{
                        display: block;
                        padding: 1rem 0 ;
                        border-bottom: 1px solid #f2f4f6;
                        >span{
                            display: block;
                            padding: 1rem 1rem;
                            background-color: $bg-color;
                            font-size: 1.4rem;
                        }
                        ul{
                            li{
                                display: block;
                                padding: 1rem 1rem;
                                >span{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    font-size: 1.5rem;
                                    box-sizing: border-box;
                                    span{
                                        &.point{
                                            margin-bottom: 0.5rem;
                                            font-size: 2rem;
                                            font-weight:700;
                                            &.plus{
                                                color: $main-color;
                                                &::before{
                                                    content: '+';
                                                    display: inline-block;
                                                    margin: 0 5px 0 0;
                                                }
                                            }
                                            &.minus{
                                                color: #fc6b6b;
                                                &::before{
                                                    content: '-';
                                                    display: inline-block;
                                                    margin: 0 5px 0 0;
                                                }
                                            }
                                        }
                                        &.time{
                                            font-size: 0.8rem;
                                            color: #aaa;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        &+.paging-wrap{
            margin-bottom: 3rem;
        }
    }
}
@media only screen and (max-width: 1280px){
    .pointPage{
        section{
            &:nth-of-type(1) > div:nth-of-type(1){
                flex-direction: column;
            }
            .mc-item02{
                position: relative;
                @include centerAlign($w:calc(100% - 3rem));  
            }
        }
        .slide-logo{
            .slick-list{
                width:95%;
            }
            ul.slick-dots{
                width: 95%;
            }
        }
    } 
}
@media only screen and (max-width: 768px){
    
.pointSummary{
    flex-direction: column;
    background-color: #fff;
    border: 1px solid $main-color;
    border-radius: 1rem;
}
.pointGraphArea{
    background-color: transparent;
    box-shadow:none;
    .pgOption{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0 0;
        button{
            padding: 1rem 0rem !important;
            box-sizing: border-box;
            border: 1px solid #c9c9c9 !important;
            border-radius: 0.5rem !important;
            font-size: 1.5rem;
            text-align: center;
            color: #777;
            &:not(.search){
                flex: 1;
                &.on{
                    border: 1px solid $main-color !important;
                    background-color: #fff;
                    color: $main-color;
                }
            }
        }
        >div{
            width: 100%;
        }
        .left{
            text-align: right;
        }
        .right{
            flex-direction: column;
            >div{
                @include flex();
                gap: 1rem;
                width: 100%;
            }
        }
        .calendarBox{
            flex: 3.2;
            .calendar{
                width: 45%;
                margin:0 0.5rem 0 0.25rem; 
                border-bottom: 1px solid $border-color;
                &::before{
                    top: calc(50% - 0.75rem);
                    left: 1rem;
                }
                input{    
                    display: inline-block;  
                    width: 100%;
                    padding: 1rem 0.5rem 1rem 2rem;
                    margin-left: 0.5rem; 
                    font-size: 1.5rem;
                    border: none;
                    text-align: center;
                    font-weight:400;
                    line-height: 2;
                }
            }
            .wave{
                &+.calendar{
                    &::before{
                        display: inline-block;
                    }
                }
            }
            &+button{
                flex: 1;
                padding: 1rem 0rem;
                border: 1px solid #292929;
                text-align: center;
                box-sizing: border-box;
                font-size: 1.5rem;
                color: #fff;

            }
        }
    }
    .graphArea{
        margin: 1rem 0;
        background-color: $bg-color;
    }
    .pgList{
        border-top-color: transparent;
        ul{
            flex-direction: column;
            gap: 1rem;
            li{
                @include flex();
                padding: 2rem 1.5rem;
                width: 100%;
                border: 1px solid $border-color;
                border-radius: 1rem;
                &::before{
                    display: none;
                }
            }
        }
    }
}
.pointPage{
    .content{
        padding-bottom: 0;
    }
    section{
        position:relative;
        padding: 0rem 0 10rem;
        @include areaUnderLine();
        &:nth-of-type(1){
            >div:nth-of-type(1){
                flex-direction: column;
                justify-content: center;
                gap: 0rem;
            }
        }
        >div,.mc-item02,.mc-item05{
            position: initial;
        }
        &:nth-of-type(2){
            background-color: $bg-color;

        }
        &:nth-of-type(even){
            .mc-title{
                a{
                    color: #292929;
                    &::after{
                        background-image: url(../image/main/icon_more_g.png);
                        background-size: auto 1.3rem;
                    }
                }
            }
        }
    }
    .mc-title{
        border-bottom: none;
        margin-bottom: 1.5rem;
        h2{
            padding-top: 4rem;
            font-size: 1.6rem;
            &::before{                
                width: 2.2rem;
                height: 2.2rem;
                margin: -0.2rem 0.3rem 0 0;
                background-size: 100% auto;
            }
        }
        a{
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0);
            width: 100%;
            padding: 2rem 0;
            text-align: center;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            @include txtbold();
            &::after{
                margin: -0.2rem 0 0 3px;
                background-image: url(../image/main/icon_btn_more_on.png);
            }
            &:hover{
                top: auto;
            }
        }
    }
    .mc-item02{
        .mc-title{            
            border-bottom: 1px solid $border-color;
        }
    }
    .mc-item03{
        width: 100%;
        padding: 0 1rem 0rem;
        ul{
            grid-template-columns: 1fr;
            row-gap: 2rem;
            li{
                background-color: #fff;
                box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.05);
                border-radius: 1rem;
                padding: 1rem 2rem 1rem 1rem;
                .product-box{
                    display: flex;
                    gap: 2rem;
                    .pb-img{
                        max-width: 8rem;
                        margin: 0;
                        background-color: transparent;
                        border-radius: 0;
                        img{
                            max-width: 100%;
                        }
                    }
                    .pb-txt{
                        flex: 1;
                        display: grid;
                        grid-template-columns: 1fr 10rem;
                        gap: 1rem;
                        >span{
                            display: flex;
                            &.pb-part{
                                grid-area: 1/1/2/3;
                                align-items: end;
                            }
                            &.pb-title{
                                grid-area: 2/1/2/3;
                                align-items: top;
                                padding: 0;
                                margin: 0;
                            }
                            &.pb-price{
                                grid-area: 1/2/3/3;
                                justify-content: right;
                                align-items: center;
                            }
                        }
                    }

                }
            }
        }
    }   
    .slide-point{      
        .slick-list{
            height: auto;
            .slick-slide{
                width: 21rem !important;
                height: 21rem;
                margin-bottom: 1rem;
                a{
                    font-size: 1.6rem;
                    b{
                        font-size: 1.8rem;
                        height: 8rem;
                    }
                }
            }
            &::after{
                display: none;
            }
        }
    }
    .slide-logo{
        .slick-list{
            .slick-slide{
                width:12.5rem !important;
                height:12.5rem;
                margin: 0 1rem;
                a{
                    width:12.5rem !important;
                    height:12.5rem;
                    span{
                        width:12.5rem !important;
                        height:12.5rem;
                    }                    
                }
            }
        }
    }
}
.subpageTitle{
    padding:3rem 0 2rem;
    font-size: 1.6rem;
    border-bottom: 1px solid $border-color;
}
.pointDetailPage{
    background-color: #fff;
    section{
        padding-bottom: 3rem;
        @include areaUnderLine();
    }
    .sp-title + section{
        margin-top: 0rem;
    }
    .sectionArea{
        padding: 0rem;
        border-radius: 0rem;
        box-shadow: none;
        .pointGraphArea{
            border: none;
            box-shadow: none;
            border-radius: 0rem;
        }
    }
    .list-area{
        .la-graph{
            .lg-info{
                margin-bottom: 5rem;
                .lg-tab{
                    position: relative;
                    @include flex($j:left);
                    margin: 2rem 0;
                    z-index: 2;
                    li{ 
                        padding: 1.5rem 3.5rem; 
                    } 
                } 
                .lg-selectBox{
                    top: calc(100% + 1rem);
                    bottom: auto;
                    select{
                        width: 13rem;
                        margin-left: 1rem;
                        border: 1px solid $border-color;
                        border-radius: 0.5rem;
                        
                    }
                }

            }
        }
    }
}

}