@mixin policytitle(){
    font-size: 1.25rem;
    font-weight: 700;
}
@mixin policytitleM(){
    font-size: 1.063rem;
}
.policy-notice{
    .sp-title{
        position: relative;
        h2{
            padding: 1.75rem 0 1.563rem 0;
            border-bottom: 1px solid $border-color;
            font-size: 1.875rem;
        }
        .mob-btn-back{
            display: none;
        }
    }
    .policy-paging{
        border-bottom: 1px solid $border-color;
        span{
            display: none;
        }
        ul{
            overflow: hidden;
            li{
                float: left;
                margin-right: 2.5rem;
                a{
                    display: block;
                    padding: 1.125rem 0;
                    font-size: 1.25rem;
                    border-bottom: 2px solid transparent;
                }
                &.on{
                    a{                            
                        font-weight: 700;
                        border-bottom: 2px solid #292929;
                    }
                }
            }
        }
    }
    nav{
        padding: 0 0 1.875rem 0;    
        border-bottom: 1px solid $border-color; 
        h3{
            padding: 1.875rem 0;            
            @include policytitle();
            &:nth-of-type(2){
                color: $main-color;
            }
        }
        ol,ul{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(25.25rem,1fr));
            grid-gap: 1rem;
            li{
                button{
                    font-size: 1rem;
                    text-align: left;
                    line-height: 1.7;
                    &:hover{
                        font-weight: 700;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    article{
        .arti-title{
            display: none;       
        }
        section{  
            >h3{
                padding: 4.125rem 0 0rem 0;         
                @include policytitle();

            }
            li,p{
                padding-bottom: 0.313rem;
                line-height: 1.8;
            }
            >ol,ul{
                >li{
                    div>ol{
                        >li{
                            position: relative;
                            margin-left: 1.25rem;
                            &::before{
                                position: absolute;
                                top: 0.4rem;
                                left: -1.25rem;
                                display: block;
                                height: 0.875rem;
                                padding: 0  0.23rem 0 0.225rem;
                                border: 0.5px solid #666;
                                border-radius: 50%;
                                font-size: 0.7rem;
                                text-align: center;
                                line-height: 1.25;
                            }
                            @for $i from 1 to 100{
                                &:nth-child(#{$i}){
                                    &::before{
                                        content: '#{$i}';
                                    }
                                }
                            }
                            &:nth-child(n+10){
                                &::before{
                                    padding: 0  0.19rem 0 0.075rem;
                                    letter-spacing: -1.5px;
                                }
                            }
                        
                        }
                        &.num{
                            >li{
                                &::before{
                                    top: 0.355rem;
                                    left: -1.55rem;
                                    width: 1.5rem;
                                    padding: 0;
                                    border: none;
                                    font-size: 1rem;
                                    line-height: 1;
                                    text-align: right;
                                }
                                @for $i from 1 to 100{
                                    &:nth-child(#{$i}){
                                        &::before{
                                            content: '#{$i}.';
                                        }
                                }
                            }
                            }
                        }
                    }
                }
            }
            >ol,>ul{
                >li{
                    padding: 0 0 0; 
                    h4{
                        padding: 1.5rem 0 1rem 0;         
                        @include policytitle();
                    }
                    button,a{
                        font-size: 1rem;
                        color: #2e93ea;
                        text-decoration: underline;
                    }
                    ol,ul{
                        ol,ul{
                            margin-left: 0.625rem;
                            li{
                                padding: 0;
                            }
                        }
                    }
                    
                }
            }
           &.history{
                button,a{
                    font-size: 1rem;
                    color: #2e93ea;
                    text-decoration: underline;
                }

           } 
        }
    }
    &.privacy{
        nav{
            ol,ul{
                li{
                    &::before{
                        @include virtualIcon($w:6px,$h:6px){
                            margin: -3px 0.625rem 0 0 ;
                            border-radius: 50%;
                            background-color: #292929;
                        }
                    }
                    button{
                        max-width: calc(100% - 1.976rem);
                    }
                }
            }
        }
        article{
            section{
                >ol,>ul{
                    >li{
                        h4{
                            &::before{
                                @include virtualIcon($w:6px,$h:6px){
                                    margin: -3.5px 5px 0 0;
                                    border-radius: 50%;
                                    background-color: #292929;
                                }
                            }
                        }
                    }
                }
                
                &.pp-info{
                    padding-top: 3.125rem;  
                    padding-bottom: 3.125rem;  
                    border-bottom: 1px solid $border-color; 
                    p{
                        line-height: 1.6;
                    }
                    h4{
                        padding: 3.125rem 0 0;  
                        font-weight: 700;
                        text-align: center;
                    }
                    ul{
                        display: grid;
                        grid-template-columns: repeat(6,1fr);
                        grid-gap: 1.5rem;
                        padding: 1.875rem 0 1.25rem;
                        li{
                            position: relative;
                            >button{
                                position: relative;
                                display: block;
                                width: 100%;
                                font-size: 1rem;
                                color: #292929;
                                text-decoration: none;
                                text-align: center;
                                cursor: pointer;
                                &::before,&::after{
                                    @include virtualIcon($w:100%,$h:0){
                                        padding-bottom: 100%;
                                        margin: 0 0px 1rem 0;
                                        border-radius: 1.25rem;
                                        border:1px solid $border-color2;  
                                        box-sizing: border-box; 
                                        background-size: 55% auto;
                                    }
                                }
                                &::after{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                            @for $i from 1 to 7{
                                &:nth-of-type(#{$i}){
                                    button::after{
                                        background-image: url(../image/policy/img_policy_0#{$i}.svg);
                                    }
                                }
                            }
                            div{
                                display: none;
                                position: absolute;
                                top: 105%;
                                left: 50%;
                                transform: translateX(-50%);
                                background-color: #fff;
                                border-radius: 0.313rem;
                                box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
                                z-index: 10;
                                h5{
                                    width: 21.25rem;
                                    max-width: 100%;
                                    padding: 0.625rem 0 0.45rem;
                                    font-size: 1rem;
                                    text-align: left;
                                    text-indent: 1.25rem;
                                    clear: both;
                                    border-bottom: 1px solid #f5f5f5;
                                  }
                                  p{
                                    text-align: left;
                                    padding: 0.938rem 1.25rem 1rem;
                                    font-size: 0.938rem;
                                    line-height: 1.4;
                                  }
                                  .close-btn{
                                    display: none;
                                    position: absolute;
                                    top: 1rem;
                                    right: 1rem;
                                    width: 5%;
                                    height:1rem;
                                    padding: 0;
                                    margin: 0;
                                    background-color: transparent;
                                    text-indent: -5000000000px;
                                    overflow: hidden;      
                                    &::before, &::after {
                                      content: ' ';
                                      display: block;
                                      position: absolute;
                                      top: -2px;
                                      left: 45%;
                                      height: 1.175rem;
                                      width: 2px;
                                      background-color: #292929;
                                    }
                                    &::before {
                                      transform: rotate(45deg);
                                      background-image: none;
                                    }
                                    &::after {
                                      transform: rotate(-45deg);
                                    }
                                  }
                            }   
                            &:hover{
                                >button{
                                    color: $sub-color;
                                    font-weight: 700;
                                    &::before{
                                        padding-bottom: calc(100% - 2px);
                                        border:2px solid $main-color;
                                    }
                                }
                                div{
                                    display: block;
                                }
                            }
                            &:first-child{
                                div{
                                    left: 0;
                                    transform: translateX(0);
                                }
                            }
                            &:last-child{
                                div{
                                    left: auto;
                                    right: 0;
                                    transform: translateX(0);
                                }
                            }
                        }
                        &+p{
                            font-size: 0.875rem;
                        }
                    }

                }
                &.history{
                    h3{
                        &::before{
                            @include virtualIcon($w:6px,$h:6px){
                                margin: -3px 0.625rem 0 0 ;
                                border-radius: 50%;
                                background-color: #292929;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px){      
    .table-area{
        table{
            th{
                font-size: 0.875rem;
            }
            td{
                font-size: 0.75rem;
            }
        }
    }
    .policy-notice{
        .content .center{
            max-width: 100%;
            width: 100%;
        }
        .sp-title{
            h2{
                padding: 1.1rem 0;
                font-size: 1.125rem;
                border-bottom: none;
            }
            .mob-btn-back{
                display: block;
            }
        }
        .policy-paging{
            position: relative;
            margin-top: 3.7rem;
            span{
                display: block;
                width: 100%;
                padding: 1rem 2.5rem;
                font-size: 0.938rem;
                text-align: center;
                cursor: pointer;
                &::after{
                @include virtualIcon($w:1.125rem,$h:1.125rem){
                        position: absolute;
                        top:calc(50% - 0.625rem);
                        right:0.938rem;
                        background-image: url(../image/icon_faq_more_open.svg);
                        background-size: 100% auto;
                    }
                }
                &.on{
                    &::after{
                        transform: rotate(180deg);
                    }
                    &+ul{
                        display: block;
                    }
                }
            }
            ul{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1.375rem 0;
                background-color: rgba(255,255,255,0.97);
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                z-index: 10;
                li{
                    float: none;
                    text-align: center;
                    margin: 0;
                    a{
                        padding:0.687rem 0;
                        border-bottom: none;
                        font-size: 1.063rem;
                    }
                    &.on{
                        a{
                            color: $main-color;
                            border-bottom: none;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        nav{
            h3{
                padding: 1.65rem 0 1.5rem;
                text-align: center;
                @include policytitleM();
            }
            ol,ul{
                grid-gap: 0.75rem;
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

                li{
                    padding:0 0.938rem;
                    button{
                        font-size: 0.938rem;
                    }
                }
            }
        }
        article{
            section{
                padding:0 0.938rem 0;
                >h3{
                    @include policytitleM();
                }
                >ol,>ul {
                    >li{
                        font-size: 0.938rem;
                        h4{
                            padding: 5rem 0 1rem 0;
                            @include policytitleM();
                        }
                        button,a{
                            font-size: 0.938rem;
                        }

                    }
                }
            }
        }
        &.privacy{
            article{
                section{
                    &.pp-info{
                        ul{
                            grid-template-columns: repeat(3,1fr);
                            column-gap:0.563rem;
                            li{
                                &:hover{
                                    >button{
                                        color: #292929;
                                        font-weight: 400;
                                        &::before{
                                            padding-bottom: 100%;
                                            border:1px solid $border-color2;  
                                        }

                                    }
                                }
                                >button{
                                    &::before{
                                        background-size: 60% auto;
                                    }
                                    &.on{
                                        color: $sub-color;
                                        font-weight: 700;
                                        &::before{
                                            padding-bottom: calc(100% - 2px);
                                            border:2px solid $main-color;
                                        }
                                        & + div{
                                            display: block;   
                                        }
                                    }
                                   
                                }
                                div{
                                    .close-btn{
                                        display: block;
                                    }
                                }
                                &:nth-child(3n+1){
                                    div{
                                        left: 0.15rem;
                                        transform: translateX(0);
                                    }
                                }
                                &:nth-child(3n){
                                    div{
                                        left: auto;
                                        right: 0.15rem;
                                        transform: translateX(0);
                                    }
                                }
                                &:hover{
                                    div{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}