
.promotion{
    h1{
        position: relative;
        padding :5.889rem 0 1.444rem;
        a{
            display: block;
            width: 9.778rem;
            height:1.667rem;
            @include txthide();
            background-image: url(../image/logo_b.svg);       
            @include bgimg();
        }
    }
    h2{
        position: absolute;
        top: 0;
        width: 100%;
        border-top: 1px solid $border-color2;
        border-bottom: 1px solid $border-color2;
        .center{
            display: block;
            padding: 1rem 0 0.8rem;
            >span{
                display: inline-block;
                font-size: 1.444rem;
                @include fontWeightM();
                &:nth-child(1){
                    width: 6.667rem;
                    height:1.667rem;
                    margin: -2px 0 0;
                    @include txthide();
                    background-image: url(../image/logo_b.svg); 
                    background-size: 100% auto; 
                    @include bgimg();  
                    vertical-align: middle;                  
                }
                &:nth-child(2){
                    margin-right: 0.5rem;
                    @include fontWeightB();
                }
            }
        }
    }
    .center{
        max-width: 768px;
        margin: 0 auto;
    }
    .info{
        line-height: 1.3;
        padding-bottom: 2.222rem;
        >p{
            &:nth-child(1){
                font-size: 1.778rem;
                span{
                    @include fontWeightB();
                }
            }
            &:nth-of-type(2){
                padding: 1.111rem;
                background-color: $bglight-color;
                border-radius: 8px;
                color: $darkgray-color2;
                span{
                    @include fontWeightB();
                    color: $main-txt;
                    &:nth-child(2){
                        display: block;
                        margin-top: 0.5rem;
                        font-size: 1.222rem;
                    }
                }
            }
        }
        >ul{
            @include flex();
            padding: 2.222rem 0;
            li{
                font-size: 1.111rem;
                text-align: center;
                @include fontWeightM();
                &::before{
                    @include virtualIcon($w:2.778rem,$h:2.778rem){
                        display: block;   
                        margin: 0 auto 0.5rem;   
                        @include bgimg();
                    }
                }
                @for $i from 1 to 4{
                    &:nth-child(#{$i}) {
                        &::before{
                            background-image: url(../image/img_pro_0#{$i}.svg);
                        }
                    }
                }
            }
        }
    }
    .certificationFrom{
        padding: 0 0 4.444rem;
        .checkWrap{
            order: 1;
            padding: 1.667rem;
            margin-bottom: 2.222rem;
            background-color: $bglight-color;
            border-radius: 8px;
            label{
                &:nth-of-type(even){
                    margin-left: 3.333rem;
                }
            }
            .chk + label{
                display: inline-block;
                margin: 0 0 0.5rem;
                font-size: 1.333rem;
                &::before{
                    width: 1.333rem;
                    height: 1.333rem;
                    margin:-2px 0.5rem 0 1.667rem;
                    background-image: none;
                    background-color: #fff;
                    border: 1px solid $border-color;
                }
            }
            .chk:checked + label{
                &::before{
                    background-color: $main-color;
                    border: 1px solid  $main-color;
                }
            }
        }
        .btnWrap{
            order: 2;
            button,a{
                padding: 1.6rem 0 !important;
            }
        }
        >p{
            padding: 1.111rem 0 ;
            span{
                font-size: 1.333rem;
            }
        }
    }
    .slideWrap{
        position: relative;
        padding: 0 0 6.222rem;
        >strong{
            display: block;
            margin-bottom: 1.666rem;
            font-size: 1.778rem;
            @include fontWeightB();
            text-align: center;
        }
    }
    .proSlide01,.proSlide02{
        padding: 0 0;
        overflow: hidden;
        .slick-slide{
            float: left;
            li{
                display: flex !important;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 96% !important;
                background-color:$bglight-color;
                text-align: center;
                margin: 0 1.111rem;
                border-radius: 8px;
                line-height: 1.3;
                letter-spacing: -0.22px;
            }
        }
        .slick-dots{
            position: absolute;
            bottom: 3.5rem;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin: 0 auto;
            clear: both;
            li{
                display: inline-block;
                width: 6px;
                height:  6px;
                margin: 3.5px;
                border-radius: 50%;
                background-color: $bglight-color;
                @include txthide();
                &.slick-active{
                    background-color: $sub-color2;
                }
            }
        }
    }
    .proSlide01{
        .slick-slide{
            li{
                height:18.889rem;
                padding: 2.222rem 0rem;
                >span{
                    display: inline-block;
                    padding: 0.8rem 1rem 0.7rem;
                    background-color: $sub-color2;
                    border-radius: 20px;
                    color: $main-bg-txt;
                    font-size: 1.333rem;
                    @include fontWeightM();

                }
                p{
                    text-align: center;
                    &:nth-of-type(1){
                        padding: 1.444rem 0 1rem;
                        font-size: 1.556rem;
                        @include fontWeightB();
                    }
                    &:nth-of-type(2){
                        font-size: 1.222rem;
                        @include fontWeightM();
                    }
                    span{
                        color: $main-color;
                    }
                }
            }
        }
    }
    .proSlide02{
        .slick-slide{
            li{
                height: 12.556rem;
                padding: 1.667rem;                
                font-size: 1.222rem;
                @include fontWeightM();
                >span{
                    display: block;
                    margin: 0 0 0.5rem;
                    font-size: 1.444rem;
                    color: $sub-color;
                    @include fontWeightB();
                }
            }
        }
        
    }

    .adress{
        padding: 3.333rem 1.556rem 4.444rem;
        background-color: $border-color2 ;
        ul{
            li{
                position: relative;
                margin:0 0 1.111rem 1.5rem;
                font-size: 1.444rem;
                color: $darkgray-color2;
                letter-spacing: -0.26px;
                line-height: 1.3;
                @include fontWeightM();
                &::before{
                    @include virtualIcon($w:0.45rem,$h:0.45rem){
                        position: absolute;
                        top: 0.6rem;
                        left: -1.3rem;
                        border-radius: 10px;
                        background-color: $darkgray-color2;
                    }
                }
            }
        }
    }
}