.settingPage{
    .content{
        margin:0rem 0 12rem;
    }
    .pageTitle{
        display: none;
    }
    .profilePageWrap{
        @include flex();
        gap: 2rem;
        padding: 6rem 0 ;
        .mainProfile{
            width: 33%;
            padding: 4.3rem 2rem 4rem;
        }
        >ul{
            width: 33%;
            height: 100%;;
        }
        .myInfoList{
            padding: 2rem 3rem;
            background-color: $bg-color;
            border-radius: 1rem;  
        }
        .myManageList{
            flex-wrap: wrap;
            gap: 0.5rem;
            padding: 0;
            li{
                flex: auto;
                width: calc(50% - 1rem);
                padding: 2rem 0 2.1rem;
                background-color: $bg-color;
                border-radius: 1rem;  
                a{
                    padding: 1.25rem 0;
                    >span{
                        &:nth-of-type(1){
                            font-size: 1.6rem;
                        }
                        &:nth-of-type(2){
                            font-size: 1.8rem;
                        }
                    }
                }
                &.on{
                    background-color: $main-color;
                    color: #fff;
                    a>span{
                        &:nth-of-type(1){
                            color: #fff;
                        }
                    }
                    
                }
            }
        }
    }
    .newsWrap{
        padding: 3rem;
    }
    .commentWrap{
        .txtWrap{
            font-size: 1.6rem;
        }
        .moreBtn{
            height: 1.8rem;
        }
        &.type02{
            padding-bottom: 2rem;
            border-bottom: 1px solid $border-color;
            .optionInsideWrap{
                gap: 1rem;
                border-bottom: none;
                padding:0 0.5rem 0 1.5rem;
            }
            .newsWrap{
                margin-bottom: 2rem;
            }
        }
    }
    .ulList{
        li:last-child{
            .commentWrap{
                border-bottom: none;
            }
        }
    }
    .center{
        >.lrWrap{
            margin-top: 3rem;
        }
    }
    .nodataInfo{
        padding-top: 15rem;
    }
}
.pcInputTable{
    width: 100%;
    th,td{
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
    th{
        width: 25rem;
        padding: 0 0 0 3rem;
        background-color: $bg-color;
        font-weight: normal;
        text-align: left;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 1280px){
    .settingPage{
        .profilePageWrap{
            flex-wrap: wrap;
            .mainProfile{
                flex: auto;
                width: 100%;
            }
            >ul{
                flex: auto;
                width: calc(50% - 2rem);
            }
        }

    }

}


@media only screen and (min-width: 768px){
    .settingPage{
        .myInfoList li{
            margin: 1.5rem 0;
        }
        .userInfoSettingWrap{
            display: grid;
            grid-template-areas:"img email""img nickname";
            grid-template-columns: 10rem 5fr;
            grid-template-rows: 6.5rem 6.5rem;
            column-gap:3rem;
            padding: 4rem 0 0rem;
            >div{
                .userImg{
                    grid-area: img;
                }
                &:not(:nth-child(1)){
                    @include flex($j:left);
                    margin: 0;
                    .inputTitle{
                        margin-bottom: 0;
                    }
                    .flexBox{
                        width: 70%;
                        max-width: 60rem;
                        margin:0 0 0 3.5rem;
                        input{
                            padding: 1.45rem 1rem;
                        }
                    }
                }
                &:nth-child(2){
                    grid-area: email;
                    display: grid;
                    grid-template-columns: 11.5rem 5fr;
                }
                &:nth-child(3){
                    grid-area: nickname;
                    .btn{
                        width: 12rem;
                        font-size: 1.6rem;
                    }
                    .flexBox{
                        max-width: calc(60rem + 13rem);
                    }
                }
            }
            &+.info_nickname{
                padding: 2rem 0 5rem 28.5rem;
                margin:  0 0 5rem ;
                border-bottom: 1px solid $border-color;
                font-size: 1.2rem;
            }
        }
        .userPwsettingWrap{
            .inputTitle{
                margin: 0 0 2rem;
                font-size: 2rem;
            }
            & + .moreTxtBtn {
                margin-top: 5rem;
                font-size: 1.6rem;
            }

        }
        .pcInputTable{
            td{
                padding: 1rem 1rem 0;
            }
            .inputBox{
                float: left;
                width: 70%;
                max-width: 60rem;
                input{
                    padding: 1.45rem 1rem;
                }
            }
            .btn{
                float: left;
                width: 12rem;
                margin-left: 1rem;
                font-size: 1.6rem;
            }
        }
        .selectBtn{
            @include flex();
            width: 15rem;
            padding: 1rem 1.5rem;
            border-radius: 5px;
            border: 1px solid #999;
            font-size: 1.4rem;
            &::after{
                margin: 0;
            }
        }
        .likeBtn{
            margin: 0 1rem;
        }
        .dislikeBtn{
            margin-left: 1rem;
            &::before{
                margin-top: 0rem;
            }
        }
        .likeBtn::before, .dislikeBtn::before{
            width: 1.4rem;
            height: 1.4rem;
        }
        .commentWrap {
            .profileWrap{
                grid-template-columns: 3rem minmax(5rem, auto) 2fr 5fr ;
            }
            .newsWrap {
                grid-template-areas:
                    "newstitle newsbtn"
                    "newsinfo newsbtn";
                align-items: center;
                .newsLink{
                    font-size: 1.6rem;
                }
            }
        }
        .alignList{
            gap: 1.7rem;
            li::before{
                margin-right: 1.7rem;
            }
        }
        .alertBox{
            padding: 1.5rem 0;
            p{
                display: inline-block;
                margin-right: 1rem;
                font-size: 1.5rem;
                &::before{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            .btn{
                margin: 0;
                border-radius: 5px;
                font-size: 1.4rem;
                font-weight: normal;
            }
        }
        .alertSetWrap{
            li{
                margin-top: 4.4rem;
                .lrWrap{
                    padding: 0 0 4.4rem 0;

                }
            }
            .hoverInfo{
                font-size: 1.8rem;
                i{
                    width: 1.8rem;
                    height: 1.8rem;
                    font-size: 1.2rem;
                    span{
                        top: 0;
                        left:3rem;
                        width: 60rem;
                        display: inline-block;
                        padding: 0 0rem;
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        color: #999;
                        text-align: left;
                        font-size: 1.3rem;
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
        .areaTopLine{
            border-top: none;
        }
        .alertBtn.type02{
            margin-right: 0.5rem;
        }
        .btn.txtBtn{
            padding: 1rem 0;
            min-width: 13rem;
            margin-left: 1rem;
            font-size: 1.4rem;
            font-weight: normal;
            background-color: #f5f5fa;
            border-color: #d8d8d8;

        }
        .subscribeList{
            padding: 0;
            li{
                padding: 2.5rem 0;
                border-bottom: 1px solid $border-color;
                .btn{
                    min-width: 13rem;
                    font-size: 1.4rem;
                }
            }
            .profileWrap{
                grid-template-areas:
                "img name date btn";
                grid-template-columns: 5rem 7rem 15rem 2fr;
                .userName{
                    margin-bottom: 0;
                    font-size: 1.8rem;
                }
                .userDateInfo{
                    font-size: 1.4rem;
                }
            }
        }
        .paging-wrap{
            margin-top: 7.5rem;
        }
    }
}
@media only screen and (max-width: 768px){
    .settingPage{
        .pageTitle{
            display: block;
        }
        .profilePageWrap{
            &:not(.type02){
                display: none;
            }
            &.type02{
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                padding: 2rem 1rem;
                margin-bottom: 1.5rem;
                background-color: $bg-color;
                .mainProfile{
                    padding: 1rem 0;
                }
                >ul{
                    width: 100%;
                    padding: 2rem;
                    background-color: #fff;
                }
                .myManageList{
                    flex-wrap: nowrap;
                    border-radius: 1rem;
                    li{
                        background-color: transparent;
                        a{
                            padding: 0;
                        }
                        &.on{
                            a{
                                color: $main-txt;
                                span:nth-of-type(1) {
                                    color: #777;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pcInputTable{
            th{
                display: none;
            }
            td{
                border: none;
            }
        }
        .commentWrap{
            &.type02{
                position: relative;
                padding-bottom: 4rem;
                .optionBtnWrap{
                    position: inherit;
                }
                .optionInsideWrap{
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    width: 100%;    
                    padding-left: 4rem;
                }
            }
        }
        .userInfoSettingWrap{
            >div:nth-child(3){
                padding: 0 0 0rem 0;
                .btn{
                    min-width:9rem;
                    height:5.5rem;
                }
            }            
            &+.info_nickname{
                padding: 1rem 0 2rem 0rem;
                margin:  0 0 2rem ;
                font-size: 1.2rem;
            }
        }
    }
}