.station-main {
  position: relative;
  height: 100vh !important;
  min-height: 700px;
  overflow: hidden !important;
  overflow-y: auto !important;

  header {
    background-color: transparent;
    position: absolute;
    top: 1rem;
    left: 3.125rem;
    width: auto;
    z-index: 100;
  }

  .content {
    height: 100%;
    padding-bottom: 0 !important;

    p {
      padding: 0 1rem 1.875rem;
      font-size: 2rem;
      line-height: 1.25;
      text-align: center;

      b {
        font-weight: bold;

        &.white {
          color: #fff;
        }

        &.point {
          color: $sub-color;
        }
      }
    }

    .left-wrap {
      position: relative;
      width: calc(100% - 46.25rem);
      height: 100%;
      background-image: url(../image/station/bg_coin.png), url(../image/station/bg-phone.png), url(../image/station/bg-white.png), url(../image/station/bg-gradation.png);
      background-size: auto 40%, auto 52%, auto, 100% 100%;
      background-position: center bottom 10%, left calc(50% + 0.5rem) bottom -5rem, top 3.125rem center, top center;
      background-repeat: no-repeat;
      overflow: hidden;

      >div {
        position: absolute;
        top: 35%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
      }

      p {
        font-size: 2.5rem;

        &:nth-of-type(1) {
          font-weight: 700;

          b {
            font-size: 3.75rem;
          }
        }

        &:nth-of-type(2) {
          b {
            font-size: 3.125rem;
          }
        }
      }
    }

    .right-wrap {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 46.25rem;

      p {
        font-size: 1.875rem;
        &:nth-of-type(3){
          max-width: 30rem;
          padding-top: 3.125rem;
          margin: 3.125rem auto 0;          
          border-top: 2px dashed #ccc;
          &+div{
            .btn{
              max-width: 100%;
              width: 19.5rem;
              padding: 1.25rem 0;
              font-size: 1.125rem;
            }
          }
        }
      }

      ul {
        width: 30rem;
        padding: 0 1rem 3.125rem;
        margin: 0 auto 3.125rem;
        border-bottom: 2px dashed #ccc;
        overflow: hidden;

        //j
        li {
          float: left;
          width: 100%;
          margin: 0 0 0.7rem 0;

          // &:nth-child(odd) {
          //   margin-left: 0;
          // }

          button {
            margin: 0 auto;
          }
        }
      }

      div {
        width: 95%;
        margin: 0 auto;
        text-align: center;

        .input-box {
          display: inline-block;
          width: 23.313rem;
          max-width: calc(100% - 8.125rem);
          margin-right: 0.725rem;
          vertical-align: top;

          input {
            display: block;
            width: 100%;
            margin: 0 0 0.313rem;
          }

          &.required {
            text-align: left;

            input {
              border: 1px solid #ff3452;
              height: 3.125rem;

              //j
              &.cus-ip-join {
                height: 3.125rem;
              }
            }

            &::after {
              @include virtualIcon($w:100%, $h:auto) {
                content: "이메일 주소를 다시 한번 확인해주세요";
                font-size: 0.725rem;
                color: #ff3452;
                z-index: 10;
              }

              ;
            }
          }
        }

        //j
        button {
          &.cus-btn-join {
            height: 3.125rem;
          }
        }
      }
    }
  }
}

.station-sub {
  position: relative;
  min-height: calc(100vh - 10rem);

  h2 {
    padding: 7rem 0 4.125rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }

  .station-sns-box {
    width: 100%;
    max-width: 53.25rem;
    padding: 1.5rem 0 1.25rem;
    margin: 0 auto;
    text-align: center;
    border: 1px solid $border-color;
    border-bottom: none;
    background-color: #fff;
    span {
      vertical-align: middle;
      font-size: 1.25rem;

      &::before {
        @include virtualIcon($w:1.875rem, $h:1.875rem) {
          
         background-position: left;
          margin: -0.313rem 0.625rem 0 0;
        }
      }
    }

    &.sns-box-naver {
      background-color: #03c75a;
      color: #fff;

      span::before {
        background-image: url(../image/login-naver.svg);
      }
    }

    &.sns-box-kakao {
      background-color: #fee500;
      color: rgba(0, 0, 0, 0.85);

      span::before {
        background-position: left -0.4rem center;
        background-image: url(../image/login-kakao.svg);
      }
    }

    &.sns-box-facebook {
      background-color: #1877f2;
      color: #fff;
      span::before {
        background-position: left -0.5rem center;
        background-image: url(../image/login-facebook.svg);
      }
    }

    &.sns-box-google {
      background-color: #fff;

      span::before {
        background-image: url(../image/login-google.svg);
      }
    }

    &.sns-box-no {
      display: none;
    }

  }

  .station-sub-top {
    width: 100%;
    max-width: 53.25rem;
    padding: 1.875rem 0;
    margin: 0 auto 3.125rem;
    text-align: center;

    >p {
      padding: 0 2rem 1.875rem;
      font-size: 1.25rem;
      line-height: 1.75;
      text-align: center;

      &:last-of-type {
        padding-bottom: 0;
      }

      b {
        font-weight: bold;

        &.point {
          color: $sub-color;
        }
      }
    }
  }

  .station-sub-bottom {
    width: 100%;
    max-width: 32.625rem;
    margin: 0 auto 0rem;
    padding: 0.938rem 0;
    text-align: center;
  }

  .btn-area {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 0.625rem 0 5.75rem;

    .btn {
      min-width: 12.5rem;
      padding: 1.3125rem 0;
      font-size: 1.125rem;
    }
  }

  &.step01 {
    .station-sub-top {
      >ul {
        width: 90%;
        max-width: 32.75rem;
        margin: 0 auto;
        text-align: left;
        overflow: hidden;

        li {
          padding: 0 0 4.5rem;
          font-size: 1.25rem;

          &:last-child {
            padding: 0 0 2rem;
          }

          >span {
            float: left;

            &:nth-of-type(1) {
              width: 30%;

              i {
                color: #bf4c4c;
              }
            }

            &:nth-of-type(2) {
              width: 70%;

              span {
                display: block;

                input {
                  position: relative;
                  width: 100%;
                  font-size: 1rem;
                  padding: 0.625rem 0.938rem;
                  margin: -1rem 0 0rem;
                  border-radius: 0;
                }

                &.required {
                  text-align: left;

                  input {
                    border: 1px solid #ff3452;
                  }

                  &::after {
                    @include virtualIcon($w:100%, $h:auto) {
                      content: "영문 대 소문자, 숫자, 특수문자 포함 8자 이상 입력";
                      font-size: 0.725rem;
                      color: #ff3452;
                      z-index: 10;
                    }

                    ;
                  }
                }
              }
            }
          }

          &:nth-child(1) {
            >span {
              &:nth-of-type(2) {
                span {
                  input {
                    background-color: transparent;
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.step02 {
    .flipper-wrap {
      margin: 1.75rem 0 0;

      span {
        display: inline-block;
        font-size: 1.25rem;
        margin: 0 1rem 0 0;
        vertical-align: middle;
      }
    }

    .mail-wrap {
      text-align: center;

      span {
        font-size: 1.25rem;
      }

      ul {
        margin: 1.875rem 0 4.375rem;

        li {
          display: inline-block;
          margin-left: 1rem;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .station-sub-bottom.btn-area {
      padding: 0.938rem 0;

      .btn {
        padding: 0.938rem 2.313rem;
        margin-left: 0.938rem;
      }
    }
  }

  &.step03 {
    .station-sub-top {
      position: relative;

      &::before {
        @include virtualIcon($w:100%, $h:150%) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url(../image/station/bg_coin.png);
          background-position: center left calc(50% + 1.5rem);
          background-size: 97% auto;
        }
      }
    }

    .btn-area {
      margin: 0 auto 5rem;
      text-align: center;

      .btn {
        width: 100%;
        max-width: 25rem;
        padding: 1.35rem 0;
        font-size: 1.063rem;
      }
    }

    .station-sub-bottom {
      padding: 1.75rem 0;

      a {
        text-decoration: underline;
      }
    }
  }

  &.notice-check {
    h2 {
      &::before {
        @include virtualIcon($w:8.125rem, $h:8.125rem) {
          display: block;
          background-size: 100%;
          margin: 1.5rem auto 0rem;
          background-image: url(../image/station/icon_notice.png);
        }
      }
    }

    .station-sub-top {
      padding: 0;
      margin: 0 auto 2.5rem;
    }

    .btn-area {
      padding: 0;

      .btn {
        width: 100%;
        max-width: 25rem;
        margin-bottom: 6.25rem;
      }
    }
  }

  &.notice-change {
    h2 {
      &::before {
        @include virtualIcon($w:8.125rem, $h:8.125rem) {
          display: block;
          background-size: 100%;
          margin: 1.5rem auto 0rem;
          background-image: url(../image/station/icon_notice.png);
        }
      }
    }

    .station-sub-top {
      &:nth-of-type(1) {
        padding: 0;
      }

      &.user-form {
        table {
          tr:nth-child(1) {
            td {
              padding: 1rem 0 0rem;
            }
          }
        }
      }
    }

    .btn-area {
      .btn.disabled {
        margin-right: 1.563rem;
      }
    }

  }
}




@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  .station-main {
    .content {
      p {
        padding-bottom: 1.5rem;
        font-size: 2rem;
      }

      .left-wrap {
        position: relative;
        width: 50%;
        background-position: center bottom 10%, left calc(50% + 1.5rem) bottom -5rem, top 2rem center, top center;

        >div {
          top: 40%;

          p {
            font-size: 2rem;

            &:nth-of-type(1) {
              font-weight: 700;

              b {
                font-size: 2.75rem;
              }
            }

            &:nth-of-type(2) {
              b {
                font-size: 2.25rem;
              }
            }
          }
        }
      }

      .right-wrap {
        width: 50%;

        p {
          font-size: 1.625rem;
        }
      }
    }

  }

}

@media only screen and (max-width: 1024px) {

  .station-main {
    height: auto !important;
    min-height: 100vh !important;

    header {
      top: 0.938rem;
      left: 0.938rem;

      h1 {
        max-width: 9.5rem;
      }
    }

    .content {
      p {
        padding: 0 1rem 0.625rem;
        font-size: 1.35rem;
      }

      .left-wrap {
        width: 100%;
        min-height: auto;
        padding-bottom: 8rem;
        background-image: url(../image/station/bg_coin.png), url(../image/station/bg-phone-m.png), url(../image/station/bg-white_m.png), url(../image/station/bg-gradation.png);
        background-size: auto 49%, auto 82%, auto 100%, 100% 100%;
        background-position: left calc(50% + 0.5rem) bottom -3rem, left calc(50% + 0.5rem) top 16rem, top 2rem center, top center;
        box-shadow: inset 0px -2px 5px 2px rgba(0, 0, 0, 0.08);

        >div {
          position: initial;
          transform: translate(0, 0);
        }

        p {
          font-size: 1.25rem;

          &:nth-of-type(1) {
            padding-top: 5.25rem;
            font-size: 1.5rem;

            b {
              font-size: 2.125rem;
            }
          }

          &:nth-of-type(2) {
            line-height: 1.5;
            font-size: 1.5rem;

            b {
              font-size: 1.875rem;
            }
          }
        }
      }

      .right-wrap {
        position: initial;
        transform: translate(0, 0);
        width: 100%;

        p {
          font-size: 1.125rem;
          &:nth-of-type(3){
            width: 90%;
            padding-top: 1.25rem;
            margin: 0 auto 0;          
            &+div{
              .btn{
                width: 100%;
                max-width: 30rem;
                padding: 0.938rem 0;
                font-size: 0.938rem;
              }
            }
          }
        }

        p:nth-child(1) {
          display: none;
        }

        ul {
          max-width: 90%;
          padding: 1.25rem 0rem 0.5rem;
          margin: 0 auto 1.25rem;
          text-align: center;

          li {
            width: calc(50% - 0.5rem);
            margin: 0 0 0.7rem 0.875rem;
            &:first-child{
              margin-left: 0;
            }
            .login-sns-img {
              font-size: 0.938rem;
              padding-left: 1.25rem;
            }

            button {
              max-width: 100%;
            }
          }
        }

        >div {
          position: relative;
          width: 90%;
          padding-bottom: 1rem;
          .input-box {
            width: calc(100% - 7.125rem);
            max-width: 23.313rem;
            margin-right: 0.313rem;
          }

          input[type=text],
          input[type=password] {
            padding: 0.625rem 0.313rem;
            border-radius: 5px;
          }

          .btn {
            padding: 0.625rem 1.5rem;
            border-radius: 5px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 768px) {
  .station-sub {
    h2 {
      padding: 5.75rem 0 1.875rem;
      font-size: 1.625rem;
      font-weight: 400;

      &::before {
        @include virtualIcon($w:5.875rem, $h:5.875rem) {
          display: block;
          background-size: 100%;
          margin: 0 auto 1.75rem;
        }

      }
    }

    .station-sns-box {
      position: fixed;
      top: 3.7rem;
      left: 0%;
      width: 100vw;
      padding: 0.875rem 0 0.75rem;
      border-bottom: 1px solid $border-color;
      box-sizing: border-box;
      z-index: 50;

      span {
        font-size: 0.875rem;

        &::before {
          width: 1rem;
          height: 1rem;
          margin-right: 0.313rem;
          background-position: left -0.3rem center;
          background-size: auto 200%;
        }
      }
      &.sns-box-naver {
        span::before {
          background-position: left 0rem center;
          background-size: auto 90%;
        }
      }
  
      &.sns-box-kakao {  
        span::before {
          background-position: left -0.35rem center;
        }
      }
  
      &.sns-box-facebook {
        span::before {
          background-position: left -0.2rem center;
          background-size: auto 140%;
        }
      }
  
    }

    .station-sub-top {
      width: 100%;
      margin: 0 auto 1.75rem;

      >p {
        padding: 0 0rem 1.125rem;
        line-height: 1.4;
        font-size: 1rem;
        font-size: 1.14rem;
      }
    }

    .station-sub-bottom {
      width: 70%;
      padding: 1.5rem 0;
      font-size: 0.875rem;
    }

    .btn-area {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: 100vw;
      padding: 0;

      .btn {
        width: 100%;
        min-width: auto;
      }
    }

    &.step01 {
      h2 {
        display: none;
      }

      .sns-box-no {
        display: none;

        &+.station-sub-top {
          margin-top: 3.75rem;
        }
      }

      .station-sub-top {
        margin-top: 7.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border: none;

        >ul {
          width: 100%;

          li {
            font-size: 1rem;
            padding: 0 0 1.875rem;

            >span {
              float: none;

              &:nth-of-type(1) {
                display: block;
                width: 100%;
                font-weight: 700;
                margin: 0 0 0.625rem;
              }

              &:nth-of-type(2) {
                span {
                  input {
                    margin: 0;
                    font-size: 0.875rem;
                    color: #212121;

                    &::placeholder {
                      color: #999;
                    }
                  }
                }
              }
            }

            &:nth-child(1) {
              >span {
                &:nth-of-type(2) {
                  span {
                    input {
                      border: 1px solid $border-color2;
                    }
                  }
                }
              }
            }
          }
        }

      }

      .policy {
        padding-bottom: 5rem;

        .check-wrap {
          &.type01 {
            padding-bottom: 1.75rem;
            margin-bottom: 1.75rem;

            label {
              strong {
                font-size: 1.125rem;
              }
            }
          }

          .chk-agree {
            &+label {
              font-size: 1rem;
              font-weight: 400;

              span.pop-open-btn {
                text-decoration: underline;
              }
            }
          }

          &+.box {
            display: none;
          }

        }
      }


    }

    &.step02 {
      h2 {
        &::before {
          background-image: url(../image/station/icon_mail.svg);
        }
      }

      content .center {
        width: 100%;
        max-width: 100%;
      }

      .mail-wrap {
        text-align: center;

        span {
          font-size: 1.25rem;
        }

        .mail-btn {
          width: 3.375rem;
          height: 3.375rem;
          background-size: 100%;
        }
      }

      .station-sub-bottom.btn-area {
        width: 100%;
        margin: 0;
        padding: 0.625rem 5%;
        font-size: 0.938rem;

        .btn {
          display: inline-block;
          width: auto;
          min-width: auto;
          margin: 0 0 0 1rem;
          padding: 0.625rem 1.5rem;
          font-size: 0.875rem;
        }
      }

    }

    &.step03 {
      h2 {
        &::before {
          background-image: url(../image/station/icon_complete.svg);
        }
      }

      content .center {
        width: 100%;
        max-width: 100%;
      }

      .station-sub-top {
        &::before {
          display: none;
        }
      }

      .btn-area {
        margin: 0;

        .btn {
          max-width: 100%;
        }
      }

      .station-sub-bottom {
        padding: 1.5rem 0;
        margin: 5rem auto;
        font-size: 0.938rem;
      }

    }

    &.notice-check {
      h2 {
        &::before {
          width: 5.825rem;
          height: 5.825rem;
          background-size: 100%;
        }
      }

      .btn-area {
        position: initial;
        width: 100%;

        .btn {
          width: auto;
          padding: 1.3125rem 2.125rem;
        }
      }
    }

    &.notice-change {
      h2 {
        &::before {
          width: 5.825rem;
          height: 5.825rem;
          margin-top: 3.75rem;
          background-size: 100%;
        }
      }

      .station-sub-top {
        padding: 0;
        margin: 0 auto 1.875rem;

        &.user-form {
          margin-top: 1.875rem;

          span {

            //j
            &.cus-ip-box {
              border: 1px solid #ddd;

              input {
                &::placeholder {
                  color: #999;
                  font-size: 0.813rem;
                  padding: 0 0.625rem
                }
              }
            }
          }
        }
      }

      .btn-area {
        display: flex;

        .btn {
          margin: 0 !important;
        }
      }

    }
  }
}







@media only screen and (max-width: 480px) {

  .station-main {
    .content {
      .right-wrap {
        ul {

          //max-width: 98%;
          li {

            // width: calc(50% - 0.313rem);
            // margin: 0 0 0.938rem 0.313rem;
            .login-sns {
              font-size: 11px;

              &.login-btn-google {
                span {
                  width: 38px;
                  height: 60%;
                  background-size: 150px auto;
                  background-position: left -49px center;
                }
              }
            }

            //j
            .login-sns-img {
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
    }
  }
}


