@charset "UTF-8";
/* 
      Date   : 2022.10.13
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.5rem;
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

a {
  color: #292929;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  color: #292929;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: none;
  border: none;
  background: #fff;
  color: #333;
  padding: 0 10px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a8a8a8;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #a8a8a8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a8a8a8;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a8a8a8;
}

input::placeholder,
textarea::placeholder {
  color: #a8a8a8;
}

input::-ms-clear {
  display: none;
}

input:-webkit-autofill {
  background: #fff;
  -webkit-text-fill-color: #333;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 280px;
  font-family: sans-serif;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  color: #292929;
  font-size: 1.6rem;
  line-height: 1;
  word-break: break-word;
  -webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #bebebe;
  border-radius: 5px;
}

@-webkit-keyframes rotationLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotationLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.content {
  position: relative;
}
.content::after {
  content: "";
  display: block;
  clear: both;
}

input:not([type=checkbox]),
textarea {
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

input[type=date] {
  position: relative;
  font-family: "NotoSansR";
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator, input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  height: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}
input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -1px 0.5rem 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type=checkbox] + label::after {
  position: absolute;
  top: 1.2rem;
  left: 0.4rem;
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.3rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.7rem 0.3rem 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  border-width: 2px;
}
input[type=checkbox]:checked + label::before {
  border-color: #ffc600;
  background-color: #ffc600;
}
input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.813rem 2rem 0.813rem 0.813rem;
  background-image: url("../image/icon_select.svg");
  background-size: 0.625rem 0.4rem;
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  font-family: sans-serif;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

.inputTitle {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.inputBox {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
}
.inputBox input {
  width: 100%;
  padding: 1.7rem 1rem;
  border-radius: 1rem;
  background-color: transparent;
  font-size: 1.5rem;
}
.inputBox.warning {
  margin-bottom: 3rem;
  border-color: #fe4e3a;
}
.inputBox.warning::after {
  position: absolute;
  top: calc(100% + 0.5rem);
  display: block;
  content: attr(data-info);
  width: 100%;
  height: 20px;
  font-size: 1.2rem;
  color: #fe4e3a;
}
.inputBox .cont {
  display: none;
}
.inputBox.infoText {
  margin-bottom: 3rem;
  border-color: #fe4e3a;
}
.inputBox.infoText .cont {
  position: absolute;
  top: calc(100% + 0.5rem);
  display: block;
  width: 100%;
  height: 20px;
  font-size: 1.2rem;
  color: #fe4e3a;
}
.inputBox.infoText.black {
  border-color: #d8d8d8;
}
.inputBox.infoText.black .cont {
  color: #000;
}
.inputBox.disabledW {
  background-color: #fff !important;
  border: none;
}
.inputBox.disabledW input {
  padding-left: 0 !important;
}

.content {
  min-height: calc(100vh - 30rem);
}

.center {
  width: calc(100% - 3rem);
  max-width: 123rem;
  margin: 0 auto;
}

.center_100 {
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
}

.center_500 {
  width: calc(100% - 3rem);
  max-width: 50rem;
  margin: 0 auto;
}

.pc_br {
  display: block;
}

.pc_only {
  display: inline-block;
}

.mob_br, .mob_only {
  display: none;
}

.txt-red {
  color: #fe4e3a;
}

.txt-main {
  color: #ffc600;
}

.txt-blue {
  color: #3da0f8;
}

.red {
  color: #f00 !important;
}

.btn {
  display: inline-block;
  padding: 1.7rem 1rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  text-align: center;
  border: 1px solid transparent;
  line-height: 1;
  color: #000;
}
.btn.btn-yellow {
  background-color: #fee500;
  border-color: #fee500;
}
.btn.btn-red {
  background-color: #fe4e3a;
  border-color: #fe4e3a;
  color: #fff;
  font-weight: bold;
}
.btn.btn-black {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.btn.btn-main {
  background-color: #ffc600;
  border-color: #ffc600;
}
.btn.btn-border {
  background-color: #fff;
  border-color: #d8d8d8;
}
.btn.btn-grayborder {
  background-color: #f5f5fa;
  border-color: #d8d8d8;
}
.btn.disabled {
  border: solid 1px #e5e5e5 !important;
  background: #f8f8f8 !important;
  color: #b5b5b5 !important;
}
.btn.txtBtn {
  display: inline-block;
  padding: 1rem 0;
  font-weight: bold;
  font-size: 1.6rem;
}
.btn.btn_100 {
  width: 100%;
}
.btn.btn-r {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3px 0.5rem 0 0;
  background-image: url(../image/reset_ico.svg);
}
.btn.btn-d {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3px 0.5rem 0 0;
  background-image: url(../image/download_b_l_ico.svg);
  background-size: 100% auto;
}
.btn.btn-b {
  background-color: #212121;
  color: #fff;
}
.btn.btn-b.btn-d::before {
  background-image: url(../image/download_w_ico.svg);
}
.btn.btn-line {
  border: 1px solid #ffc600;
  color: #ffc600;
}
.btn.btn-line-b {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}
.btn.btn-line-g {
  border: 1px solid #d8d8d8;
  color: #a8a8a8;
  background-color: #fff;
}
.btn.btn-sub {
  background-color: #fff1c1;
  color: #000;
}
.btn.btn-gra {
  background: -o-linear-linear-gradient(to bottom, #ffe600, #ffce00 47%, #ffc600);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe600), color-stop(47%, #ffce00), to(#ffc600));
  background: linear-gradient(to bottom, #ffe600, #ffce00 47%, #ffc600);
  color: #000;
}
.btn.btn-w {
  border: 1px solid #212121;
}
.btn.btn-s {
  border-radius: 0;
}
.btn.disabled02 {
  border: solid 1px #999 !important;
  background: #999 !important;
  color: #fff !important;
}
.btn i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: -0.5rem 0.8rem 0 0;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.btn i.repleasy {
  position: relative;
  width: 8rem;
  height: 1rem;
  background-image: url(../image/logo.svg);
}
.btn i.repleasy::before {
  position: absolute;
  top: -0.3rem;
  left: -2.5rem;
  content: "";
  display: inline-block;
  width: 1.9rem;
  height: 1.7rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../image/logo_mini.svg);
}
.btn i.kakao {
  background-image: url(../image/login_kakao.svg);
}
.btn i.google {
  background-image: url(../image/login_google.svg);
}

@media only screen and (max-width: 768px) {
  .pc-br,
  .pc-only {
    display: none !important;
  }
  .mob-br {
    display: block !important;
    margin: 0 !important;
  }
  .mob-only {
    display: inline-block !important;
    margin: 0 !important;
  }
  .btn-fixed-area {
    position: fixed;
    bottom: 0rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 901;
  }
  .btn-fixed-area.on {
    z-index: 900;
  }
  .btn-fixed-area > button,
  .btn-fixed-area > a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 100%;
    height: 100%;
    padding: 1.5rem 0rem !important;
    margin: 0 !important;
    border-radius: 0 !important;
    font-size: 1.6rem !important;
  }
}
@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 2.33vw;
  }
}
.sectionTitle {
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
}

.divTitle {
  padding: 2rem 0 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.pageTitle {
  position: relative;
  padding: 2rem 0;
  text-align: center;
}
.pageTitle .backstepBtn {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pageTitle .alertLineBtn {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
}
.pageTitle + .tabList {
  margin: 1rem 0 1.8rem;
}

.txtRight {
  display: block;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  color: #666;
  text-align: right;
}

.closeBtn {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
}
.closeBtn::before, .closeBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 100%;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 0.5rem;
}
.closeBtn::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.closeBtn::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.backstepBtn {
  position: relative;
  display: inline-block;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  display: inline-block;
  width: 1.5rem;
  height: 2.5rem;
  background-image: url(../image/top_back.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
  background-size: auto 100%;
  vertical-align: middle;
}
.backstepBtn + .sectionTitle {
  margin-left: 1rem;
}

.alertBtn {
  display: inline-block;
  width: 2.25rem;
  height: 3rem;
  background-image: url(../image/alarm_on.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.alertBtn.on {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.alertBtn.type02 {
  margin-right: 3.1rem;
}
.alertBtn.on::after {
  position: absolute;
  top: 15%;
  right: 2%;
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fe4e3a;
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.heartBtn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(../image/ico_like_on.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
  -webkit-filter: grayscale(1) brightness(1.6);
          filter: grayscale(1) brightness(1.6);
}
.heartBtn.on {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.alertLineBtn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(../image/top_alarm.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
}
.alertLineBtn.on {
  background-image: url(../image/alarm_on.svg);
}
.alertLineBtn.on::after {
  position: absolute;
  top: 1%;
  right: 1%;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fe4e3a;
  border: 1px solid #fff;
  border-radius: 50%;
}

.emojiBtn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(../image/emoticon.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
}

.settingBtn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(../image/setting.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
}

.moreBtn {
  display: inline-block;
  width: 1rem;
  height: 2rem;
  background-image: url(../image/more.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  vertical-align: middle;
  background-size: auto 100%;
  background-position: top right;
}
.moreBtn.type02 {
  width: 3rem;
  background-position: center;
  background-image: url(../image/more02.svg);
}
.moreBtn.type02 + .optionPop {
  right: auto;
  left: 0;
  min-width: 8rem !important;
}

.moreTxtBtn {
  display: block;
}
.moreTxtBtn::after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.3rem 0 0 0.5rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.useBtn {
  padding: 0.3rem 1rem;
  margin-right: 0.8rem;
  background-color: #ffc600;
  border-radius: 15px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: normal;
}

.selectBtn {
  display: block;
}
.selectBtn::after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.5rem 0 0 0.5rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.7rem solid #000;
}
.selectBtn + .optionPop {
  right: auto;
  left: 0;
}

.pagingMoreBtn {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 3rem;
  border: 1px solid #d8d8d8;
  border-radius: 2rem;
  font-size: 1.4rem;
}
.pagingMoreBtn::after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.8rem 0 0 1rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.optionBtnWrap {
  position: relative;
}
.optionBtnWrap .optionBtn + .optionPop {
  position: absolute;
  top: 5rem;
  right: 0;
  display: none;
  min-width: 15rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
  background-color: #fff;
  text-align: left;
  z-index: 1;
}
.optionBtnWrap .optionBtn + .optionPop ul li a, .optionBtnWrap .optionBtn + .optionPop ul li button {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  text-align: left;
}
.optionBtnWrap .optionBtn + .optionPop ul li a:hover, .optionBtnWrap .optionBtn + .optionPop ul li button:hover {
  background-color: #f5f5fa;
}
.optionBtnWrap .optionBtn.on + .optionPop {
  display: block;
}

.recommentBtn {
  font-weight: bold;
  font-size: 1.4rem;
}
.recommentBtn::before {
  content: "";
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  content: "답글";
  margin: -0.5rem 0.5rem 0 0;
  font-weight: normal;
}
.recommentBtn.on {
  border-bottom: 1px solid #000;
}

.likeBtn, .dislikeBtn {
  color: #999;
}
.likeBtn::before, .dislikeBtn::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.3rem 0.5rem 0 0;
  background-image: url(../image/thumbs_up_off.svg);
}
.likeBtn.on, .dislikeBtn.on {
  font-weight: bold;
  color: #000;
}
.likeBtn.on::before, .dislikeBtn.on::before {
  background-image: url(../image/thumbs_up_on.svg);
}

.dislikeBtn {
  margin-left: 2rem;
}
.dislikeBtn::before {
  -webkit-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}

.checkTag {
  display: inline-block;
  min-width: 6.5rem;
  padding: 0.4rem 0.5rem;
  border-radius: 1.5rem;
  background-color: #f5f5fa;
  color: #a8a8a8;
  font-size: 1.2rem;
  word-break: keep-all;
  font-size: 1.2rem;
}
.checkTag.on {
  background-color: #ffc600;
  color: #fff;
}
.checkTag::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.3rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.7rem 0.3rem 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}
.checkTag.on::before {
  border-color: #fff;
}

.txtTag {
  display: inline-block;
  padding: 0.05rem 0.6rem 0.1rem;
  border: 1px solid #ccc;
  background-color: #f5f5fa;
  font-size: 1.3rem;
}

.subscribeBtn {
  padding: 0.3rem 1rem;
  background-color: #f5f5fa;
  color: #a8a8a8;
  font-size: 1.2rem;
  word-break: keep-all;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}
.subscribeBtn.on {
  background-color: #ffc600;
  color: #fff;
}
.subscribeBtn::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.3rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.7rem 0.3rem 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  margin: -0.5rem 0.5rem 0 0;
}
.subscribeBtn::after {
  display: inline-block;
  content: "하기";
}
.subscribeBtn.on::before {
  border-color: #fff;
}
.subscribeBtn.on::after {
  content: "중";
}

.pinBtn {
  background-color: #f5f5fa;
  color: #a8a8a8;
  font-size: 1.2rem;
  word-break: keep-all;
  padding: 0.3rem 0.9rem;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  font-size: 1.3rem;
}
.pinBtn.on {
  background-color: #ffc600;
  color: #fff;
}
.pinBtn::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.3rem 0.3rem 0 0;
  background-image: url(../image/pin_on.svg);
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.pinBtn.on {
  border-color: #ffc600;
}
.pinBtn.on::before {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.countBtn {
  display: inline-block;
  font-size: 1.4rem;
  color: #999;
}
.countBtn::before {
  content: "";
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.1rem 0.5rem 0 0;
  background-image: url(../image/icon_comment.svg);
}

.hoverInfo {
  font-size: 1.5rem;
}
.hoverInfo i {
  position: relative;
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0 0 0.5rem;
  border-radius: 50%;
  background-color: #bebebe;
  color: #fff;
  font-style: normal;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: bold;
  cursor: pointer;
}
.hoverInfo i span {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: -5rem;
  display: none;
  width: 30rem;
  padding: 1.5rem 1rem;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 1rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: normal;
  -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.hoverInfo i span::after {
  position: absolute;
  top: -0.6rem;
  left: 5.5rem;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hoverInfo i.on span, .hoverInfo i:hover span {
  display: block;
}

.nodataInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: #777;
  line-height: 1.5;
}
.nodataInfo::before {
  content: "";
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto 1rem;
  background-image: url(../image/ico_nodata.svg);
  border-radius: 50%;
}
.nodataInfo.type02::before {
  width: 5rem;
  height: 5rem;
  background-image: url(../image/my_comment02.svg);
  border-radius: 0;
}

.toggleWrap .toggleBox {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  background-color: #d8d8d8;
  vertical-align: middle;
  cursor: pointer;
}
.toggleWrap .toggleBox::before {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin-left: 0;
  content: "";
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-image: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.toggleWrap .toggleBox.on {
  background-color: #ffc600;
}
.toggleWrap .toggleBox.on::before {
  margin-left: 50%;
  border-color: #ffc600;
}

.alignList li {
  display: inline-block;
  margin-left: 0.3rem;
}
.alignList li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.1rem 0.5rem 0 0;
  background-color: #999;
}
.alignList li:first-child::before {
  display: none;
}
.alignList li:first-child::before {
  display: inline-block;
  background-color: transparent;
}
.alignList li a, .alignList li button {
  display: inline-block;
  color: #999;
  font-size: 1.3rem;
}
.alignList li.on a, .alignList li.on button {
  color: #000;
  font-weight: bold;
}

.tabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
.tabList li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.tabList li a, .tabList li button {
  display: inline-block;
  padding: 1.5rem 0;
  color: #999;
  font-size: 1.7rem;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}
.tabList li.on a, .tabList li.on button {
  color: #000;
  border-color: #000;
}

.tabBox {
  display: none;
}
.tabBox.on {
  display: block;
}

.lrWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #d8d8d8;
}
.lrWrap.type02 {
  padding-bottom: 1rem;
  border-bottom-color: transparent;
}

.areaTopLine {
  margin-top: 2rem;
  border-top: 9px solid #f8f8f8;
}
.areaTopLine .divTitle {
  padding-top: 3rem;
}

.userImg span {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.userImg span img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.userImg span.noImg {
  background-image: url(../image/my_profile_on.svg);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.userImg span.noImg img {
  display: none;
}
.userImg span.noImg.login {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.profileWrap {
  grid-area: profile;
  display: grid;
  grid-template-areas: "img name btn" "img date btn";
  grid-template-columns: 5rem 5fr 2fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0rem;
}
.profileWrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.profileWrap .userImg {
  grid-area: img;
}
.profileWrap .userName {
  grid-area: name;
  font-size: 1.4rem;
  font-weight: bold;
}
.profileWrap .userDateInfo {
  grid-area: date;
  font-size: 1.2rem;
  color: #999;
}
.profileWrap .userBtnWrap {
  position: relative;
  grid-area: btn;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.ulList > li {
  margin-top: 2rem;
}

.newsWrap {
  display: grid;
  grid-template-areas: "newstitle newsbtn" "newsinfo newsbtn";
  grid-template-columns: 5fr 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.8rem;
  padding: 2rem;
  background-color: #f5f5fa;
  border-radius: 1rem;
}
.newsWrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsWrap .newsTitle {
  grid-area: newstitle;
  font-size: 1.6rem;
  word-break: keep-all;
  overflow: hidden;
}
.newsWrap .newsTitle p {
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
.newsWrap .newsInfo {
  grid-area: newsinfo;
  font-size: 1.4rem;
  color: #999;
}
.newsWrap .newsBtnWrap {
  position: relative;
  grid-area: newsbtn;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.newsWrap .newsLink {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: bold;
}

.commentLink {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.commentWrap {
  padding: 2rem 0 0;
}
.commentWrap .profileWrap {
  grid-template-areas: "img name date btn";
  grid-template-columns: 3rem minmax(5rem, auto) 5fr 2fr;
}
.commentWrap .profileWrap .userImg span {
  width: 3rem;
  height: 3rem;
}
.commentWrap .txtWrap {
  padding: 0 0 2rem 4rem;
  font-size: 1.4rem;
  line-height: 1.5;
}
.commentWrap .newsWrap {
  grid-template-areas: "newstitle newstitle" "newsinfo newsbtn";
  grid-template-columns: 3fr 1fr;
  row-gap: 1.2rem;
  margin: 0 0 2rem 4rem;
}
.commentWrap .newsWrap .newsBtnWrap {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.commentWrap > .lrWrap {
  padding-left: 4rem;
}
.commentWrap.recomment {
  padding: 2rem 2rem 0;
  background-color: #f5f5fa;
  border-bottom: 1px solid #d8d8d8;
}
.commentWrap.recomment .lrWrap {
  margin-bottom: 0;
  border-bottom: none;
}
.commentWrap.recomment .lrWrap .recommentBtn {
  display: none;
}
.commentWrap.focus {
  padding-top: 1rem;
  border: 2px solid #ffc600;
}
.commentWrap.focus > strong {
  display: block;
  padding-bottom: 1rem;
  color: #ffc600;
  font-weight: bold;
  font-size: 1.2rem;
}
.commentWrap.focus .info {
  padding: 3rem 1rem 4rem;
  text-align: center;
  font-size: 1.3rem;
}

.myInfoList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8rem 0;
}
.myInfoList li > span {
  font-size: 1.6rem;
}
.myInfoList li > span:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  width: 2.2rem;
  height: 2.8rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.1rem 1rem 0 0rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.myInfoList li > span:nth-of-type(2) {
  font-weight: bold;
}
.myInfoList li.point > span:nth-of-type(1):before {
  background-image: url(../image/my_point.svg);
}
.myInfoList li.ranking > span:nth-of-type(1):before {
  background-image: url(../image/comment_ranking2.svg);
  background-position: left calc(50% - 0.1rem) center;
}
.myInfoList li.comment > span:nth-of-type(1):before {
  background-image: url(../image/my_comment.svg);
  background-size: 250%;
  background-position: left calc(50% + 0.2rem) center;
}
.myInfoList li.like > span:nth-of-type(1):before {
  background-image: url(../image/my_like_thumbs.svg);
}

.myManageList, .alertFilterList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}
.myManageList li, .alertFilterList li {
  position: relative;
  padding: 1rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.myManageList li::before, .alertFilterList li::before {
  position: absolute;
  top: 5%;
  left: 0;
  content: "";
  display: inline-block;
  width: 1px;
  height: 90%;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5fa;
  margin: -1px 1rem 0 0;
  vertical-align: middle;
}
.myManageList li:nth-child(1)::before, .alertFilterList li:nth-child(1)::before {
  display: none;
}
.myManageList li a, .alertFilterList li a {
  display: block;
}
.myManageList li a > span, .alertFilterList li a > span {
  display: block;
}
.myManageList li a > span:nth-of-type(1), .alertFilterList li a > span:nth-of-type(1) {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #777;
}
.myManageList li a > span:nth-of-type(2), .alertFilterList li a > span:nth-of-type(2) {
  font-size: 1.6rem;
}

.alertFilterList {
  margin: 2rem 0 0;
  background-color: #f5f5fa;
  border-radius: 1rem;
}
.alertFilterList li::before {
  background-color: #d8d8d8;
}
.alertFilterList li a {
  color: #999;
}
.alertFilterList li a > span:nth-of-type(1) {
  color: #aaa;
}
.alertFilterList li.on a {
  color: #000;
}
.alertFilterList li.on a > span {
  font-weight: bold;
}
.alertFilterList li.on a > span:nth-of-type(1) {
  color: #777;
}

.subscribeList {
  padding: 1rem 0;
}
.subscribeList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}
.subscribeList li .profileWrap {
  grid-template-columns: 4rem 5fr 2fr;
  width: 100%;
}
.subscribeList li .profileWrap .userImg span {
  width: 4rem;
  height: 4rem;
}
.subscribeList li .profileWrap .userName {
  margin-bottom: 0.8rem;
}
.subscribeList li .btn {
  padding: 1rem 0;
  min-width: 8rem;
  margin-left: 1rem;
  font-size: 1.6rem;
}

.alertBox {
  padding: 1.6rem;
  margin: 2.5rem 0 1rem 0;
  background-color: #fffbee;
  border: 1px solid #f6ecc7;
  border-radius: 1rem;
  text-align: center;
}
.alertBox p {
  font-size: 1.2rem;
}
.alertBox p::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.3rem 0.5rem 0 0;
  background-image: url(../image/alarm_img.svg);
}
.alertBox .btn.btn-main {
  padding: 1rem 3rem;
  margin-top: 1rem;
  color: #fff;
  font-size: 1.6rem;
}

.hashtagList li {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  background-color: #f5f5fa;
  border-radius: 2rem;
  font-size: 1.4rem;
}

.userInfoBriefWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 1.8rem;
  background-color: #fffbee;
  border-bottom: 1px solid #d8d8d8;
}
.userInfoBriefWrap .profileWrap {
  grid-template-areas: "img name";
  grid-template-columns: 5rem 5rem;
}
.userInfoBriefWrap .profileWrap .userImg span {
  width: 4.65rem;
  height: 4.65rem;
}
.userInfoBriefWrap .profileWrap .userName {
  font-size: 1.8rem;
}
.userInfoBriefWrap .uibList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.userInfoBriefWrap .uibList li {
  position: relative;
  padding: 0 1rem 0 3.5rem;
  line-height: 1.2;
}
.userInfoBriefWrap .uibList li::before {
  position: absolute;
  top: 0.5rem;
  left: 0;
  content: "";
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.userInfoBriefWrap .uibList li span {
  display: block;
  font-size: 1.2rem;
  color: #888;
}
.userInfoBriefWrap .uibList li b {
  display: block;
  font-size: 1.6rem;
}
.userInfoBriefWrap .uibList li:nth-child(1)::before {
  background-image: url(../image/comment_point.svg);
}
.userInfoBriefWrap .uibList li:nth-child(2)::before {
  background-image: url(../image/comment_ranking2.svg);
  background-size: 190%;
  background-position: left 30% top 38%;
}

.userInfoSettingWrap > div {
  margin: 2rem 0;
}
.userInfoSettingWrap > div .inputBox {
  background-color: #f5f5fa;
}
.userInfoSettingWrap .userImg span {
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
}
.userInfoSettingWrap .flexBox {
  gap: 1rem;
  margin: 1rem 0 0;
}
.userInfoSettingWrap .flexBox .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}
.userInfoSettingWrap .flexBox .btn {
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.userPwsettingWrap .btn {
  width: 100%;
  font-weight: bold;
}
.userPwsettingWrap + .moreTxtBtn {
  margin-top: 2rem;
  color: #999;
}
.userPwsettingWrap + .moreTxtBtn::after {
  border-color: #999;
}

.reportInfoList {
  padding: 2rem 0 1rem;
  margin: 0 0 1.5rem;
  border-bottom: 1px solid #d8d8d8;
}
.reportInfoList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.25;
}
.reportInfoList li span {
  display: inline-block;
  width: 6rem;
  color: #999;
  font-weight: bold;
}

.reportChoiceList li {
  padding: 0.8rem 0;
  font-size: 1.6rem;
}
.reportChoiceList li span {
  color: #999;
  font-weight: bold;
}
.reportChoiceList + .btn {
  width: 100%;
  margin: 1rem 0;
}

.snsLoginWrap .lrWrap {
  padding: 1rem 0 3rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.snsLoginWrap .inputTitle {
  margin: 4rem 0 2rem;
}
.snsLoginWrap .btnBox .btn {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.snsLoginWrap .info {
  padding: 5rem 0;
}
.snsLoginWrap .info li {
  position: relative;
  padding-left: 1.3rem;
  margin-bottom: 1rem;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
  word-break: keep-all;
}
.snsLoginWrap .info li::before {
  position: absolute;
  top: 0rem;
  left: 0.5rem;
  content: "*";
  display: block;
}

.typingCount {
  margin-right: 1rem;
  color: #999;
  font-size: 1.2rem;
}
.typingCount b {
  color: #000;
}

.typingWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid #d8d8d8;
}
.typingWrap .userImg span {
  width: 3rem;
  height: 3rem;
}
.typingWrap .nologin {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: block;
  padding: 1.8rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  color: #b5b5b5;
  font-size: 1.4rem;
}
.typingWrap .inputBox {
  display: none;
}
.typingWrap .emojiBtn {
  display: none;
}
.typingWrap .typingBtn .alertBtn, .typingWrap .typingBtn .txtBtn {
  padding: 0;
  display: none;
  color: #b5b5b5;
}
.typingWrap .typingBtn .alertBtn {
  margin: 0 1rem 0 0.5rem;
}
.typingWrap.login .nologin {
  display: none;
}
.typingWrap.login .inputBox {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  margin: 0;
}
.typingWrap.login .inputBox input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.typingWrap.login .typingBtn .btn {
  padding: 0;
}
.typingWrap.login .typingBtn .alertBtn {
  display: block;
}
.typingWrap.focus .emojiBtn, .typingWrap.keyup .emojiBtn {
  display: block;
}
.typingWrap.focus .typingBtn .alertBtn, .typingWrap.keyup .typingBtn .alertBtn {
  display: none;
}
.typingWrap.focus .typingBtn .txtBtn, .typingWrap.keyup .typingBtn .txtBtn {
  display: block;
}
.typingWrap.keyup .emojiBtn {
  display: block;
}
.typingWrap.keyup .inputBox {
  background-color: #fff;
  border-color: #000;
}
.typingWrap.keyup .typingBtn .txtBtn {
  color: #000;
}

.typingWrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid #d8d8d8;
}
.typingWrap2 .nologin {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: block;
  padding: 1.8rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  color: #b5b5b5;
  font-size: 1.4rem;
}
.typingWrap2 .typingArea, .typingWrap2 .alertBtn {
  display: none;
}
.typingWrap2.login .nologin {
  display: none;
}
.typingWrap2.login .typingArea, .typingWrap2.login .alertBtn {
  display: block;
}
.typingWrap2.login .typingArea {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
}
.typingWrap2.login .typingArea .inputBox {
  padding: 0;
  margin: 0;
  border: none;
}
.typingWrap2.login .typingArea .inputBox textarea {
  resize: none;
  width: 100% !important;
  height: 5rem;
  padding: 1.3rem 1rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  font-family: sans-serif;
}
.typingWrap2.login .typingArea .lrWrap {
  display: none;
  padding: 1rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: none;
}
.typingWrap2.login .typingArea .lrWrap .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}
.typingWrap2.focus .typingArea .inputBox textarea, .typingWrap2.keyup .typingArea .inputBox textarea {
  height: 12rem !important;
  padding: 1.3rem 1rem;
}
.typingWrap2.focus .typingArea .lrWrap, .typingWrap2.keyup .typingArea .lrWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typingWrap_PC .nologin {
  display: block;
  padding: 1.6rem;
  margin: 0rem 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
  font-size: 1.4rem;
  color: #b5b5b5;
  background-color: #fff;
}
.typingWrap_PC .loginInputBox {
  display: none;
  padding: 1rem;
  margin: 0rem 0 2rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  background-color: #fff;
}
.typingWrap_PC .loginInputBox .profileWrap {
  grid-template-areas: "img name";
  grid-template-columns: 3rem 1fr;
}
.typingWrap_PC .loginInputBox .userImg {
  width: 3rem;
  height: 3rem;
}
.typingWrap_PC .loginInputBox .userName {
  height: 100%;
  font-size: 1.2rem;
}
.typingWrap_PC .loginInputBox .inputBox {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0;
}
.typingWrap_PC .loginInputBox .inputBox textarea {
  display: block;
  width: 100%;
  min-height: 10rem;
  padding: 0;
  border: none;
  border-radius: 0;
  resize: none;
  font-family: sans-serif;
}
.typingWrap_PC .loginInputBox .inputBox textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
}
.typingWrap_PC .loginInputBox .inputBox textarea::-moz-placeholder {
  font-size: 1.5rem;
}
.typingWrap_PC .loginInputBox .inputBox textarea:-ms-input-placeholder {
  font-size: 1.5rem;
}
.typingWrap_PC .loginInputBox .inputBox textarea::-ms-input-placeholder {
  font-size: 1.5rem;
}
.typingWrap_PC .loginInputBox .inputBox textarea::placeholder {
  font-size: 1.5rem;
}
.typingWrap_PC .loginInputBox .inputBox textarea:focus {
  outline: none;
}
.typingWrap_PC .loginInputBox .lrWrap {
  padding-bottom: 0;
  border-bottom: none;
}
.typingWrap_PC .loginInputBox .lrWrap .btn.btn-main {
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
}
.typingWrap_PC.login .nologin {
  display: none;
}
.typingWrap_PC.login .loginInputBox {
  display: block;
}

.floatingWrap {
  position: relative;
  width: 110px;
  height: 90px;
}
.floatingWrap .conditionBtn {
  display: none;
}
.floatingWrap .iconWrap {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right 15px bottom;
  background-image: url(../../../image/floating_logo.svg);
  cursor: pointer;
}
.floatingWrap .iconWrap > span {
  position: absolute;
  bottom: 37px;
  right: 0rem;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 2.2;
  background-color: #fff280;
  border-radius: 50%;
  font-weight: bold;
  letter-spacing: -0.25px;
  text-indent: -1px;
  font-size: 12px;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.02);
}
.floatingWrap.refresh .conditionBtn, .floatingWrap.alert .conditionBtn {
  position: absolute;
  bottom: 29px;
  right: 55px;
  display: block;
  width: 36px;
  height: 36px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../image/btn_quick_alarm.svg);
  z-index: 1;
  cursor: pointer;
}
.floatingWrap.refresh .conditionBtn {
  background-image: url(../../../image/btn_quick_refresh.svg);
}

.popLayer {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80vw;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 5001;
  display: none;
}
.popLayer.on {
  display: block;
}
.popLayer.type01 {
  text-align: center;
  font-size: 1.6rem;
}
.popLayer.type01 p {
  padding: 3rem 1rem;
  line-height: 1.5;
}
.popLayer.type01 .closePopBtn {
  width: 100%;
  font-weight: bold;
}
.popLayer.type04 .popContent {
  max-height: 90vh;
  border-radius: 5px;
  font-size: 1.6rem;
}
.popLayer.type04 .popContent h1 {
  width: 100%;
  padding: 1.25rem 0 1rem;
  font-size: 1.6rem;
  text-align: left;
  text-indent: 1.25rem;
  clear: both;
  border-bottom: 1px solid #d8d8d8;
}
.popLayer.type04 .popContent h1.icon::before {
  content: "";
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3px 0.625rem 0 0;
  background-image: url(../image/icon_info.svg);
  background-size: 100% auto;
  vertical-align: middle;
}
.popLayer.type04 .popContent .box {
  max-height: calc(90vh - 3.438rem);
  overflow-y: auto;
  text-align: left;
  padding: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;
  border: none;
}
.popLayer.type04 .popContent .closePopBtn {
  position: absolute;
  top: 0.875rem;
  right: 1rem;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-indent: -5000000000px;
  overflow: hidden;
}
.popLayer.type04 .popContent .closePopBtn::before, .popLayer.type04 .popContent .closePopBtn::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 48%;
  height: 1.25rem;
  width: 2px;
  background-color: #292929;
}
.popLayer.type04 .popContent .closePopBtn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popLayer.type04 .popContent .closePopBtn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popLayer.type05 {
  width: auto;
}
.popLayer.type05 .popContent {
  width: 80vw;
  max-width: 50rem;
  max-height: 90vh;
  border-radius: 5px;
  font-size: 1.6rem;
}
.popLayer.type05 .popContent h1 {
  position: relative;
  width: 100%;
  padding: 1.5rem 0 1.5rem;
  background-color: #ffc600;
  font-size: 1.6rem;
  text-align: left;
  text-indent: 1.25rem;
  clear: both;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 1rem 1rem 0 0;
}
.popLayer.type05 .popContent h1.icon::before {
  content: "";
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  vertical-align: middle;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -3px 0.625rem 0 0;
  background-image: url(../image/icon_info.svg);
  background-size: 100% auto;
  vertical-align: middle;
}
.popLayer.type05 .popContent h1 .closePopBtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 26px;
  min-width: auto;
  height: 26px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-indent: -5000000000px;
  overflow: hidden;
  border: none;
}
.popLayer.type05 .popContent h1 .closePopBtn::before, .popLayer.type05 .popContent h1 .closePopBtn::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 48%;
  height: 1.8rem;
  width: 2px;
  background-color: #fff;
}
.popLayer.type05 .popContent h1 .closePopBtn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popLayer.type05 .popContent h1 .closePopBtn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popLayer.type05 .popContent .box {
  max-height: calc(90vh - 3.438rem);
  overflow-y: auto;
  text-align: left;
  padding: 2rem 1rem;
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  border: none;
}
.popLayer.type05 .popContent .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem auto 1.5rem;
}
.popLayer.type05 .popContent .btn {
  min-width: 7.5rem;
  padding: 1.3rem 3rem;
  margin-left: 1rem;
  border-radius: 0;
  font-size: 1.4rem;
}
.popLayer.type05 .popContent .btn:nth-child(1) {
  margin-left: 0;
}
.popLayer.pop-type-b {
  display: block;
  width: auto;
  opacity: 0;
  z-index: -10000;
  top: auto;
  bottom: 15rem;
  left: 5rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.popLayer.pop-type-b.on {
  opacity: 1;
  z-index: 10000;
}
.popLayer.pop-type-b .popContent {
  top: auto;
  bottom: 1.875rem;
  left: 1.875rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  min-width: 30rem;
  max-width: calc(100% - 1.875rem);
  padding: 2rem;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.8;
}
.popLayer.pop-type-b .popContent .box {
  border: none;
}
.popLayer.pop-type-b .popBack {
  display: none;
}
.popLayer.iframePop {
  top: 0;
  left: auto;
  right: 0;
  max-width: 360px;
  height: 100vh;
  overflow: hidden;
}

.popBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5000;
}
.popBack.on {
  display: block;
}

.popLayer iframe {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  position: absolute;
  z-index: 1;
}

.iframePopTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #ffc600;
}
.iframePopTitle span {
  font-size: 1.8rem;
  font-weight: bold;
}

.iframeCommentWrap .center, .iframeCommentWrap .center_100 {
  max-width: 100%;
}
.iframeCommentWrap .profilePageWrap {
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  background-color: #f5f5fa;
}
.iframeCommentWrap .profilePageWrap .profileWrap {
  grid-template-columns: 7rem 2fr 1fr;
}
.iframeCommentWrap .profilePageWrap .profileWrap .userImg span {
  width: 6.5rem;
  height: 6.5rem;
}
.iframeCommentWrap .profilePageWrap .profileWrap .userName {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  word-break: break-all;
}
.iframeCommentWrap .profilePageWrap .subscribeBtn {
  padding: 0;
  font-size: 1.6rem;
}
.iframeCommentWrap .profilePageWrap .subscribeBtn::before {
  width: 1.1rem;
  height: 0.4rem;
}
.iframeCommentWrap .profilePageWrap .subscribeBtn.on {
  padding: 0.5rem 1.5rem 0.6rem;
}
.iframeCommentWrap .myInfoList, .iframeCommentWrap .myManageList {
  padding: 2rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 1.5rem;
}
.iframeCommentWrap.pc {
  padding: 1rem;
}
.iframeCommentWrap.pcPop {
  height: 100%;
  overflow: hidden;
}
.iframeCommentWrap.pcPop .iframeInner {
  height: calc(100% - 5.5rem);
  padding-bottom: 5rem;
  overflow: hidden;
  overflow-y: auto;
}
.iframeCommentWrap.pcPop .stWrap {
  padding: 2rem 0rem 2rem;
}
.iframeCommentWrap.pcPop .pageTitle {
  padding: 2.5rem 0 2rem;
}
.iframeCommentWrap.pcPop .pageTitle .backstepBtn {
  left: 2.5rem;
}
.iframeCommentWrap.pcPop .pageTitle .alertLineBtn {
  right: 2.5rem;
}
.iframeCommentWrap.mo .commentWrap .txtWrap, .iframeCommentWrap.moPop .commentWrap .txtWrap {
  font-size: 1.6rem;
}
.iframeCommentWrap.moPop {
  position: fixed;
}
.iframeCommentWrap.moPop::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}
.iframeCommentWrap.moPop > section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  padding: 0 2rem 7rem;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
}
.iframeCommentWrap.moPop > section::-webkit-scrollbar {
  width: 5px;
}
.iframeCommentWrap.moPop > section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.iframeCommentWrap.moPop > section::-webkit-scrollbar-track {
  background-color: #bebebe;
  border-radius: 5px;
}
.iframeCommentWrap.moPop > section::before {
  position: absolute;
  top: 1rem;
  left: calc(50% - 3.5rem);
  content: "";
  display: block;
  width: 7rem;
  height: 0.3rem;
  background-color: #000;
  border-radius: 1rem;
  opacity: 0.11;
  z-index: 1;
}
.iframeCommentWrap.moPop > section > div:nth-child(1) {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.iframeCommentWrap.moPop > section.noPadding {
  padding: 0 0 7rem;
}
.iframeCommentWrap.moPop > section.noPadding > div:not(.lrWrap) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.iframeCommentWrap.moPop > section.noPadding > div.lrWrap {
  margin: 1rem 1rem;
}

.pointBannerArea {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  padding: 0 !important;
  margin: 0 !important;
}/*# sourceMappingURL=service_common.css.map */