@font-face {
  font-family: "Pretendard-Thin";
  src: url("../font/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("../font/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("../font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../font/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("../font/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("../font/Pretendard-ExtraBold.woff") format("woff");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

span {
  vertical-align: middle;
}

strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background: #fff;
}
input::-ms-clear {
  display: none;
}
input:-webkit-autofill {
  background: #fff;
  -webkit-text-fill-color: #333;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  min-width: 280px;
  font-size: 1.6rem;
  line-height: 1;
  word-break: break-word;
  -webkit-overflow-scrolling: touch;
}

::-moz-selection {
  background-color: #2db400;
  color: #fff;
}

::selection {
  background-color: #2db400;
  color: #fff;
}

@-webkit-keyframes ani-float {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes ani-float {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes ani-fadein {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes ani-fadein {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
body, input, select, textarea, button, a {
  color: #000;
  font-family: "Pretendard-Regular";
  font-weight: normal;
}

body {
  -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
}

input, textarea {
  font-family: "Pretendard-SemiBold";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
  font-family: "Pretendard-Regular";
  font-weight: normal;
  font-size: 1.5rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999999;
  font-family: "Pretendard-Regular";
  font-weight: normal;
  font-size: 1.5rem;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999;
  font-family: "Pretendard-Regular";
  font-weight: normal;
  font-size: 1.5rem;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #999999;
  font-family: "Pretendard-Regular";
  font-weight: normal;
  font-size: 1.5rem;
}
input::placeholder, textarea::placeholder {
  color: #999999;
  font-family: "Pretendard-Regular";
  font-weight: normal;
  font-size: 1.5rem;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 8.7rem;
  padding: 1rem 0;
  border: none;
  font-size: 1.6rem;
  overflow: hidden;
  overflow-y: auto;
}
textarea::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 5px;
}
textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
textarea:focus {
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.red {
  color: #f00 !important;
}

.txt_main {
  color: #3ae800;
}

.txt_red {
  color: #f51a1a;
}

.txt_blue {
  color: #4664e6;
}

.hide {
  display: none !important;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Pretendard-Light";
  cursor: pointer;
}
.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #2db400;
  color: #fff;
}
.btn.btn-w {
  color: #fff;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
}
.btn.btn-w:hover {
  color: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #2db400 !important;
}
.btn.btn-green {
  width: 40rem;
  height: 9rem;
  border-radius: 1rem;
  background-color: #2db400;
  color: #fff;
  font-size: 2.8rem;
  font-family: "Pretendard-Medium";
}

.pc_br {
  display: block;
}

.mob_br {
  display: none;
}

.scrollTxtBox {
  max-height: 20rem;
  padding: 1rem;
  margin: 0 0 3rem;
  border: 1px solid #ccc;
  line-height: 1.25;
  overflow: hidden;
  overflow-y: auto;
}
.scrollTxtBox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollTxtBox::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 5px;
}
.scrollTxtBox::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.container {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.container .pageWrap {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}
.container .pageWrap .page {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.container .pageWrap .page .scrollBox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow: hidden;
  overflow-y: auto;
}
.container .pageWrap .page .scrollBox::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}
.container .pageWrap .page .scrollBox::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 5px;
}
.container .pageWrap .page .scrollBox::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}
.container .pageWrap .page .center {
  width: calc(100% - 4rem);
  max-width: 152rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
  html, body {
    font-size: 0.7vw;
  }
}
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 1.8vw;
  }
  .pc_br {
    display: none;
  }
  .mob_br {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  html, body {
    font-size: 2.7778vw;
  }
}
header {
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 1;
}
header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: calc(100% - 4rem);
  max-width: 152rem;
  margin: 0 auto;
}
header .center h1 {
  height: 4.8rem;
}
header .center h1 a {
  display: inline-block;
  width: 12rem;
  height: 4.8rem;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
}
header .center .btn.btn-w {
  width: 15.5rem;
  height: 5.5rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Pretendard-Light";
}
header .topBtn {
  position: fixed;
  bottom: 4rem;
  left: calc(100% - 16rem);
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/topBtn.svg);
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  -webkit-transition: all 1s;
  transition: all 1s;
}
header .topBtn.on {
  bottom: 19.6rem;
}
header.on {
  background-color: transparent;
  border-bottom-color: transparent;
}
header.on h1 a {
  background-image: url(../images/logo_b.svg);
}
header.on .btn.btn-w {
  color: #000;
  -webkit-box-shadow: 0 0 0 1px #000 inset;
          box-shadow: 0 0 0 1px #000 inset;
}
header.on .topBtn {
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer {
  position: relative;
  height: auto !important;
  min-height: 0 !important;
  padding: 5rem 0;
  background-color: #000;
  overflow: visible !important;
}
footer .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
footer .center .footerLogo {
  display: inline-block;
  width: 21rem;
  height: 3.6rem;
  background-image: url("../images/footerLogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
}
footer .center ul {
  max-width: 84.1rem;
}
footer .center ul li {
  float: left;
  color: #bbbbbb;
  font-size: 1.4rem;
  line-height: 2;
}
footer .center ul li:not(:nth-child(1), :nth-child(3))::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1.1rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: -0.2rem 1.5rem 0;
  background-color: #555;
}
footer .center ul li:nth-child(3) {
  clear: both;
}
footer .center button {
  width: 27rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
footer .center button span:nth-child(1)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1.5rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: -0.2rem 3.2rem 0;
  background-color: #707070;
}

@media only screen and (max-width: 768px) {
  header {
    height: 6rem;
  }
  header .center h1 {
    height: 2.7rem;
  }
  header .center h1 a {
    width: 6.7rem;
    height: 2.7rem;
  }
  header .center .btn.btn-w {
    width: 8rem;
    height: 3rem;
    font-size: 1.1rem;
  }
  header .topBtn {
    bottom: 2rem;
    left: auto;
    right: 2rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  header .topBtn.on {
    bottom: 31rem;
  }
  footer {
    padding: 5.4rem 0 4.8rem;
  }
  footer .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  footer .center .footerLogo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 16rem;
    height: 2.7rem;
  }
  footer .center ul {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 100%;
    display: grid;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: 1.5rem 1.5rem 1.5rem 5rem 1.5rem;
    grid-template-areas: "grid1 grid1" "grid2 grid2" "grid5 grid5" "grid3 grid4" "grid6 grid6";
    grid-row-gap: 0.5rem;
    margin-top: 3rem;
  }
  footer .center ul li {
    float: none;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  footer .center ul li:not(:nth-child(1), :nth-child(3), :nth-child(4))::before {
    display: none;
  }
  footer .center ul li:nth-child(1) {
    grid-area: grid1;
  }
  footer .center ul li:nth-child(2) {
    grid-area: grid2;
  }
  footer .center ul li:nth-child(3) {
    grid-area: grid3;
  }
  footer .center ul li:nth-child(4) {
    grid-area: grid4;
  }
  footer .center ul li:nth-child(5) {
    grid-area: grid5;
  }
  footer .center ul li:nth-child(6) {
    grid-area: grid6;
  }
  footer .center button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 21.9rem;
    height: 3.3rem;
    font-size: 1.1rem;
  }
  footer .center button span:nth-child(1)::after {
    height: 1.22rem;
    margin: -0.2rem 2.7rem 0;
  }
}
.container.main h3 {
  margin-bottom: 4rem;
  font-size: 7rem;
  line-height: 1.25;
  font-family: "Pretendard-SemiBold";
}
.container.main .page:not(.footer) {
  background-repeat: no-repeat;
}
.container.main .page:not(.footer) .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.container.main .page:not(.footer) .center > p,
.container.main .page:not(.footer) .center > ul {
  font-size: 3.6rem;
  line-height: 1.8;
  font-family: "Pretendard-Light";
}
.container.main .page:not(.footer).on h3, .container.main .page:not(.footer).on p, .container.main .page:not(.footer).on ul, .container.main .page:not(.footer).on .btn {
  opacity: 0;
  -webkit-animation: ani-fadein 0.8s forwards ease-in-out 0.5s;
          animation: ani-fadein 0.8s forwards ease-in-out 0.5s;
}
.container.main .intro {
  background-color: #000;
}
.container.main .intro .center::before {
  position: absolute;
  top: 5rem;
  left: calc(100% - 65rem);
  content: "";
  display: inline-block;
  width: 93.2rem;
  height: 71.1rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/main01_bg.png);
}
.container.main .intro .center::after {
  position: absolute;
  top: -17rem;
  right: -1rem;
  content: "";
  display: inline-block;
  width: 90.7rem;
  height: 64.6rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/main01_coin.png);
  -webkit-animation: ani-float 5s infinite ease-in-out;
          animation: ani-float 5s infinite ease-in-out;
}
.container.main .intro .center h3 {
  color: #fff;
}
.container.main .intro .center p {
  margin-bottom: 5rem;
  color: #999999;
}
.container.main .strenghts {
  text-align: right;
  background-image: url(../images/main02_bg.png);
  background-size: cover;
  background-position: center center;
}
.container.main .strenghts .center::before {
  position: absolute;
  top: -25rem;
  left: -20rem;
  content: "";
  display: inline-block;
  width: 82.3rem;
  height: 90.2rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/main02_img01.png);
}
.container.main .strenghts .center ul li {
  color: #666;
}
.container.main .strenghts .center ul li::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 4.9rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: -1.8rem 0rem 0 0;
  background-image: url(../images/main02_chk.png);
}
.container.main .service {
  background-color: #f5fff1;
  background-image: url(../images/main03_bg.png);
  background-position: top right;
  background-size: auto 100%;
}
.container.main .process {
  background-color: #000;
  color: #fff;
}
.container.main .process h3 {
  margin-bottom: 10rem;
}
.container.main .process .center {
  padding-top: 15rem;
  text-align: center;
}
.container.main .process .slickSlide .slickItem p span {
  display: block;
  font-size: 4rem;
}
.container.main .process .slickSlide .slickItem p span:nth-child(2) {
  margin: 2rem 0 5rem;
  color: #3ae800;
  font-size: 1.8rem;
}
.container.main .process .slickSlide .slickItem p::after {
  content: "";
  display: inline-block;
  width: 42.6rem;
  height: 51.8rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  margin: 0 auto;
  background-size: 100% auto;
}
.container.main .process .slickSlide .slickItem.item01 p::after {
  background-image: url("../images/main04_img01.png");
}
.container.main .process .slickSlide .slickItem.item02 p::after {
  background-image: url("../images/main04_img02.png");
}
.container.main .process .slickSlide .slickItem.item03 p::after {
  background-image: url("../images/main04_img03.png");
}
.container.main .process .slickSlide .slickItem:nth-of-type(1) {
  margin-left: 0rem;
}
.container.main .notice {
  background-image: url(../images/main05_bg.png);
  background-size: cover;
  color: #fff;
  text-align: center;
}
.container.main .notice h3 {
  margin-bottom: 6rem;
}
.container.main .notice ul {
  display: inline-block;
}
.container.main .notice ul li {
  font-size: 2.4rem;
  text-align: left;
}
.container.main .notice ul li::before {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: -0.5rem 0.8rem 0 0;
  background-color: #fff;
  border-radius: 50%;
}

.popLayer {
  display: none;
}
.popLayer.on {
  display: block;
}
.popLayer .popContent {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80rem;
  max-width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  overflow: hidden;
  z-index: 200;
}
.popLayer .popContent h5 {
  position: relative;
  padding: 2rem 3rem 1.5rem;
  border-bottom: 1px solid #eaeaea;
}
.popLayer .popContent h5 > img {
  display: inline-block;
  width: 9rem;
  height: 3.6rem;
}
.popLayer .popContent h5 .popCloseBtn {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  vertical-align: middle;
  text-indent: -5000000000000000px;
  overflow: hidden;
  font-size: 0px;
  text-align: left;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.popLayer .popContent h5 .popCloseBtn::before, .popLayer .popContent h5 .popCloseBtn::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 48%;
  height: 2.8rem;
  width: 2px;
  background-color: #000;
}
.popLayer .popContent h5 .popCloseBtn::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.popLayer .popContent h5 .popCloseBtn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popLayer .popContent h5 .popCloseBtn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popLayer .popContent > div {
  padding: 3rem;
  max-height: 80vh;
  overflow-y: auto;
}
.popLayer .popContent .popConTitle {
  display: block;
  padding: 0 0 3rem;
  font-size: 2.4rem;
  font-family: "Pretendard-Medium";
}
.popLayer .popDim {
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
}

@media only screen and (min-width: 1400px) {
  .slickSlide .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
  }
  .slickSlide .slick-track > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (max-width: 1400px) {
  .container.main .service {
    background-image: url(../images/main03_bg_m.png);
    background-position: bottom -26rem left calc(100% + 25rem);
  }
  .container.main .process .slickSlide .slickItem {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container.main .process .slickSlide .slickItem p::after {
    width: 100%;
    max-width: 281px;
    height: 83rem;
    background-position: top -2rem center;
    background-size: 100% auto;
  }
  .container.main .process .slickSlide .slickItem.item01 p::after {
    background-image: url("../images/main04_img01.png");
  }
  .container.main .process .slickSlide .slickItem.item02 p::after {
    background-image: url("../images/main04_img02.png");
  }
  .container.main .process .slickSlide .slickItem.item03 p::after {
    background-image: url("../images/main04_img03.png");
  }
  .container.main .process .slickSlide .slickItem.item01 p::after {
    background-image: url("../images/main04_img01_m.png");
  }
  .container.main .process .slickSlide .slickItem.item02 p::after {
    background-image: url("../images/main04_img02_m.png");
  }
  .container.main .process .slickSlide .slickItem.item03 p::after {
    background-image: url("../images/main04_img03_m.png");
  }
}
@media only screen and (max-width: 768px) {
  .container.main h3 {
    margin: 11rem 0 2.5rem;
    font-size: 3.2rem;
  }
  .container.main .page:not(.notice, .footer) .center {
    position: inherit;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto 0rem;
    padding: 0 2rem;
    overflow: hidden;
  }
  .container.main .page:not(.notice, .footer) .center > p,
  .container.main .page:not(.notice, .footer) .center > ul {
    font-size: 1.6rem;
  }
  .container.main .intro .center::before {
    top: auto;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 34rem;
    background-size: auto 110%;
    background-position: left -4rem top;
  }
  .container.main .intro .center::after {
    top: 23rem;
    right: auto;
    max-width: 100%;
    height: 76rem;
    background-image: url(../images/main01_coin_m.png);
    background-position: left top;
    z-index: 1;
  }
  .container.main .intro .center p {
    margin-bottom: 3rem;
  }
  .container.main .intro .center .btn.btn-green {
    position: relative;
    width: 18.6rem;
    height: 4.6rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    z-index: 2;
  }
  .container.main .strenghts {
    background-size: auto 90%;
    background-position: left bottom -10rem;
  }
  .container.main .strenghts .center::before {
    position: absolute;
    top: 36rem;
    left: 38%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 42rem;
    height: 46.5rem;
    background-size: auto 100%;
  }
  .container.main .strenghts .center ul li {
    color: #999;
  }
  .container.main .strenghts .center ul li::before {
    width: 2.6rem;
    height: 2.6rem;
    margin: -1rem -0.2rem 0 0;
    background-image: url(../images/main02_chk.png);
  }
  .container.main .service {
    background-position: bottom -26rem left calc(100% + 17rem);
  }
  .container.main .process h3 {
    margin-bottom: 7rem;
  }
  .container.main .process .slickSlide {
    display: block;
    height: 72rem;
  }
  .container.main .process .slickSlide .slick-list {
    height: 100%;
  }
  .container.main .process .slickSlide .slickItem {
    display: inline-block;
    width: 100%;
  }
  .container.main .process .slickSlide .slickItem p span {
    font-size: 2.2rem;
  }
  .container.main .process .slickSlide .slickItem p span:nth-child(2) {
    margin: 1rem 0 2rem;
    font-size: 1.2rem;
  }
  .container.main .process .slickSlide .slickItem p::after {
    width: 100%;
    height: 60rem;
    background-position: top center;
    background-size: 100% auto;
  }
  .container.main .process .slickSlide .slick-arrow {
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 1.78rem;
    height: 3.28rem;
    padding: 0;
    background-image: url(../images/ico_next.png);
    background-position: center;
    background-size: auto 100%;
    text-indent: -5000000000000000px;
    overflow: hidden;
    font-size: 0px;
    text-align: left;
    opacity: 0.5;
  }
  .container.main .process .slickSlide .slick-arrow.slick-prev {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .container.main .process .slickSlide .slick-arrow.slick-next {
    left: auto;
    right: 0;
  }
  .container.main .notice {
    background-image: url(../images/main05_bg_m.png);
    background-position: center;
  }
  .container.main .notice .center {
    top: 50% !important;
  }
  .container.main .notice h3 {
    margin: 0 0 2.7rem;
  }
  .container.main .notice ul li {
    position: relative;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .container.main .notice ul li::before {
    position: absolute;
    top: 1.5rem;
    left: -0.1rem;
    width: 1px;
    height: 1px;
  }
  .popLayer .popContent {
    font-size: 1.2rem;
  }
  .popLayer .popContent h5 {
    padding: 2rem 2rem 1.1rem;
  }
  .popLayer .popContent h5 > img {
    width: 7rem;
    height: 3rem;
  }
  .popLayer .popContent h5 .popCloseBtn {
    width: 2rem;
    height: 2.5rem;
  }
  .popLayer .popContent h5 .popCloseBtn::before, .popLayer .popContent h5 .popCloseBtn::after {
    height: 2rem;
  }
  .popLayer .popContent > div {
    padding: 2rem;
  }
  .popLayer .popContent .popConTitle {
    padding: 0 0 2rem;
    font-size: 1.8rem;
  }
  .popLayer .popContent .scrollTxtBox {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-height: 650px) {
  .container.main .page:not(.notice, .footer) .center {
    position: inherit;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: 10rem auto 0rem;
    padding: 0 2rem;
  }
  .container.main .intro .center::before {
    bottom: auto;
  }
  .container.main .strenghts .center::before {
    top: 10rem;
  }
  .container.main .process .slickSlide .slickItem p::after {
    height: 56rem;
  }
}
@supports (-webkit-appearance: none) and (stroke-color: transparent) {
  .container.main .container, .container.main .container .pageWrap, .container.main .container .pageWrap .page, .container.main .page:not(.notice, .footer) .center, .container.main .popDim {
    min-height: -webkit-fill-available;
  }
}/*# sourceMappingURL=style.css.map */